.com_btn_square{
    display: inline-block;
    min-width: pxToEm(98px);
    min-height: pxToEm(98px);
    background: url(resources/common/button/sky/images/btn_lr_board.png) center top no-repeat;
    background-size: 100% 100%;
    text-decoration: none;
    &:active{
        background-position: center pxToEm(-178px);
    }
    .com_btn_pic{
        display:block;
        width: pxToEm(98px);
        height: pxToEm(98px);
        margin: 0 auto;
    }
    .com_btn_text{
        display: block;
        text-align: center;
        color: #a27031;
        font-size: pxToEm(30px);
    }
    &.square_small{
        .com_btn_pic{
            background: url(resources/common/button/sky/images/square_01.png) no-repeat;
            background-size: 100% auto;
        }
    }
    &.square_full{
        .com_btn_pic{
            background: url(resources/common/button/sky/images/square_02.png) no-repeat;
            background-size: 100% auto;
        }
    }
    &.square_delete{
        .com_btn_pic{
            background: url(resources/common/button/sky/images/square_03.png) no-repeat;
            background-size: 100% auto;
        }
    }
    &.square_share{
        .com_btn_pic{
            background: url(resources/common/button/sky/images/square_04.png) no-repeat;
            background-size: 100% auto;
        }
    }
}


/*button_style new*/
.com_btn_round{    
    display: inline-block;
    width: pxToEm(234px);
    height: pxToEm(91px);
    line-height: pxToEm(91px);
    text-align: center;
    color:#4f2c0b;
    border-radius: pxToEm(6px);
    background-image: linear-gradient(to top, #0072c4, #24c5ff);
    text-decoration: none;
    position: relative;
    .text_box{
        display: inline-block;
        color: #ffdea7;
        font-size: pxToEm(30px);
    }
    .icons_box{
        display: inline-block;
        width: pxToEm(54px);
        height: pxToEm(91px);
        background: url(resources/common/button/sky/images/icon_tick.png) left center no-repeat;
        background-size: 100% auto;
        vertical-align: top;
    }    
    &:active{
        background-image: linear-gradient(to top, #24c5ff, #0072c4);
    }
}
.com_btn_square_s{
    display: inline-block;
    width: pxToEm(178px);
    height: pxToEm(68px);
    line-height: pxToEm(68px);
    text-align: center;
    color:#5d390d;
    font-size: pxToEm(26px);
    background: url(resources/common/button/sky/images/btn_square_s.png) center top no-repeat;
    background-size: 100% auto;
    text-decoration: none; 
    &:active{
        background-position: center pxToEm(-68px);
    }
}
/*白板底部方形按钮*/
.com_btn_square_tool{
    display: inline-block;
    width: pxToEm(98px);
    height: pxToEm(98px);
    text-align: center;
    color:#0c0701;
    background: url(resources/common/button/sky/images/btn_br_board.png) center top no-repeat;
    background-size: 100% auto;
    text-decoration: none;
    position: relative;
    .com_btn_text{
        display: block;
        color: #0c0701;
        font-size: pxToEm(16px);
        line-height: pxToEm(30px);
    }
    .com_btn_pic{
        display: inline-block;
        width: pxToEm(62px);
        height: pxToEm(62px);
        margin:0 auto;
    }    
    &:active,&.on{
        background-position: center pxToEm(-98.5px);
    }
    &.square_tool_seat{
        .com_btn_pic{
            background: url(resources/common/button/sky/images/icon_board01.png) center top no-repeat;
            background-size: 100% auto;
        }
    }
    &.square_tool_team{
        .com_btn_pic{
            background: url(resources/common/button/sky/images/icon_board02.png) center top no-repeat;
            background-size: 100% auto;
        }
    }
    &.square_tool_time{
        .com_btn_pic{
            background: url(resources/common/button/sky/images/icon_board03.png) center top no-repeat;
            background-size: 100% auto;
        }
    }
    &.square_tool_check{
        .com_btn_pic{
            background: url(resources/common/button/sky/images/icon_board04.png) center top no-repeat;
            background-size: 100% auto;
        }
    }
    &.square_tool_answer{
        .com_btn_pic{
            background: url(resources/common/button/sky/images/icon_board05.png) center top no-repeat;
            background-size: 100% auto;
        }
    }
    &.square_tool_quit{
        .com_btn_pic{
            background: url(resources/common/button/sky/images/icon_board06.png) center top no-repeat;
            background-size: 100% auto;
        }
    }
    &.square_tool_stats{
        .com_btn_pic{
            background: url(resources/common/button/sky/images/icon_board07.png) center top no-repeat;
            background-size: 100% auto;
        }
    }
    &.square_tool_result{
        .com_btn_pic{
            background: url(resources/common/button/sky/images/icon_board08.png) center top no-repeat;
            background-size: 100% auto;
        }
    }
    &.square_tool_analysis{
        .com_btn_pic{
            background: url(resources/common/button/sky/images/icon_board09.png) center top no-repeat;
            background-size: 100% auto;
        }
    }
    &.square_tool_vote{
        .com_btn_pic{
            background: url(resources/common/button/sky/images/icon_board10.png) center top no-repeat;
            background-size: 100% auto;
        }
    }
    &.square_view_progress{
        .com_btn_pic{
            background: url(resources/common/button/sky/images/icon_board11.png) center top no-repeat;
            background-size: 100% auto;
        }
    }
    &.square_end_answer{
        .com_btn_pic{
            background: url(resources/common/button/sky/images/icon_board12.png) center top no-repeat;
            background-size: 100% auto;
        }
    }
}

/*题型内部正方形按钮*/
.com_exam_square_btn{
    display: inline-block;
    width: pxToEm(75px);
    height: pxToEm(75px);
    text-align: center;
    color:#0c0701;
    background: url(resources/common/button/sky/images/btn_exam_nl.png) center top no-repeat;
    background-size: 100% auto;
    text-decoration: none;   
    &:active,&.btn_disabled{
        background-position: center pxToEm(-85px);
        .com_exam_btn_pic{
            background-position: center pxToEm(-85px);
        }
    }
    .com_exam_btn_pic{
        display: inline-block;
        width: pxToEm(75px);
        height: pxToEm(75px);
        text-align: center;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100% auto;        
    }
    &.revoke .com_exam_btn_pic{
        background-image: url(resources/common/button/sky/images/icon_cx.png);
    }
    &.redo .com_exam_btn_pic{
        background-image: url(resources/common/button/sky/images/icon_cz.png);
    }
}
/*题型内部长方形按钮*/
.com_btn_rectangle{
    display: inline-block;
    width: pxToEm(152px);
    height: pxToEm(68px);
    line-height: pxToEm(68px);
    text-align: center;
    color:#825318;
    font-size: pxToEm(24px);
    background: url(resources/common/button/sky/images/btn_exam_nr.png) center top no-repeat;
    background-size: 100% auto;
    text-decoration: none;   
    &:active,&.btn_disabled{
        background-position: center pxToEm(-78px);
    }
}

/*大长方形按钮*/
.com_btn_rectangle_big{
    display: inline-block;
    width: pxToEm(188px);
    height: pxToEm(94px);
    text-align: center;
    color:#a27031;
    background: url(resources/common/button/sky/images/btn_exam_b.png) center top no-repeat;
    background-size: 100% auto;
    text-decoration: none;   
    &:active,&.on{
        background-position: center pxToEm(-94px);
    }
    .com_btn_text{
        display:none;
    }
}
/*投票选择类按钮*/
.com_btn_square_w{
    position: relative;
    display: inline-block;
    width: pxToEm(132px);
    height: pxToEm(98px);
    line-height: pxToEm(98px);
    text-align: center;
    color:#0c0701;
    font-size: pxToEm(24px);
    background: url(resources/common/button/sky/images/btn_br_board_f.png) center top no-repeat;
    background-size: 100% auto;
    text-decoration: none; 
    &:active{
        background-position: center pxToEm(-98px);
    }
    &.highlight{
        color: #da4242;
    }
    &.radius_rb{
        background-image: url(resources/common/button/sky/images/btn_br_board_r.png);
    }
    &.radius_none{
        background-image: url(resources/common/button/sky/images/btn_br_board_m.png);
    }
    &.radius_lb{
        background-image: url(resources/common/button/sky/images/btn_br_board_l.png);
    }
}
