@charset "UTF-8";
.textsort {
    position: relative;
    width: 100%;
    height: 100%;
    // .com_layout_main {
    //     top: pxToEm(68px);
    // }

    //侧边栏
    .com_m_sideboard_1 {
        position: relative;
        float: left;
        width: 38%;
        height: 100%;
        padding: pxToEm(84px) 0 pxToEm(14px);
        margin-left: pxToEm(16px);
        margin-right: pxToEm(16px);
        
    }
    .com_m_sidehead {
        position: absolute;
        left: 0;
        top: pxToEm(20px);
        right: 0;
        height: pxToEm(66px);
        // background: url(../../common/resources/common/board/wood/images/bg_sidetit1.png) repeat-x;
        // background-size: auto 100%;
        border-top-left-radius: pxToEm(18px);
        border-top-right-radius: pxToEm(18px);
    }
    .com_m_sidecon {
        height: 100%;
        border-bottom: pxToEm(9px) solid transparent;
        // background-image: url(../../common/resources/common/board/wood/images/decl_sidecon.png), url(../../common/resources/common/board/wood/images/decr_sidecon.png), url(../../common/resources/common/board/wood/images/decm_sidecon.png), url(../../common/resources/common/board/wood/images/bg_sidecon1.png);
        // background-repeat: no-repeat, no-repeat, repeat-x, repeat;
        // background-position: left bottom, right bottom, center bottom, left top;
        // background-size: pxToEm(21px) auto, pxToEm(21px) auto, pxToEm(9px) auto, pxToEm(65px) auto;
        // background-origin: border-box, border-box, border-box, content-box;
        box-shadow: pxToEm(1.5px) pxToEm(2.598px) pxToEm(19px) 0px rgba(75, 40, 0, 0.75);
        border-bottom-left-radius: pxToEm(18px);
        border-bottom-right-radius: pxToEm(18px);
        overflow: auto;
    }
    .coursebox {
        position: relative;
        height: 99%;
        overflow: hidden;
        margin-top: 0.5%;
    }
    //左侧标题输入框
    .text_main_box{
        position: absolute;
        top: pxToEm(15px);
        left: pxToEm(20px);
        right: pxToEm(20px);
        // background: rgba(122, 122, 122, 0.1);
        &:before{
            position: absolute;
            top: 0;
            left: 0;
            content: ""; 
            border: pxToEm(4px) solid rgba(153, 153, 153, 0.5);
            border-bottom: none;
            border-right: none;
            height: pxToEm(20px);
            width: pxToEm(20px);
        }
        &:after{
            position: absolute;
            bottom: 0;
            left: 0;
            content: ""; 
            border: pxToEm(4px) solid rgba(153, 153, 153, 0.5);
            border-top: none;
            border-right: none;
            height: pxToEm(20px);
            width: pxToEm(20px);
        }
    }
    .text_main_bg{
        position: relative;
        height: 100%;
        overflow-y: auto;
        text-align: left;
        padding: pxToEm(10px);
        width: 100%;                
        height: pxToEm(216px);
        &:before{
            position: absolute;
            top: 0;
            right: 0;
            content: ""; 
            border: pxToEm(4px) solid rgba(153, 153, 153, 0.5);
            border-bottom: none;
            border-left: none;
            height: pxToEm(20px);
            width: pxToEm(20px);
        }
        &:after{
            position: absolute;
            bottom: 0;
            right: 0;
            content: ""; 
            border: pxToEm(4px) solid rgba(153, 153, 153, 0.5);
            border-top: none;
            border-left: none;
            height: pxToEm(20px);
            width: pxToEm(20px);
        }
        .text_titi_box{
            display: table;
            height: pxToEm(194px);
            width: 100%;
        }
        .text_titinp{
            display: table-cell;
            line-height: 1.26;
            font-size: pxToEm(36px);
            //word-break: break-all;
            word-wrap: break-word;
            word-break: break-word;
            vertical-align: middle;
            color: #2e2e2e;
            outline: none;
            &.text_s{
                line-height: pxToEm(34px);
                font-size: pxToEm(24px);
            }
            &.style_tips{
                // font-size: pxToEm(20px);
                color: #878787;
                text-align: center;
            }
        }
    }
    
    //左侧插入区域
    .insert_mvp{
        position: absolute;
        top: pxToEm(245px);
        left: pxToEm(20px);
        right: pxToEm(20px);
        bottom: pxToEm(20px);
        .insert_pic_bg{
            display: flex;
            // background: rgba(122, 122, 122, 0.1);
            height:100%;
            overflow: auto;
            position: relative;
            text-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center
        }
        .insert_pic_box{
            position: relative;
            overflow: hidden;
            text-align: center;
            -webkit-box-pack: center;
            -webkit-box-align: center;
            img{
                width: pxToEm(588px);
                height: pxToEm(408px);
            }
        }
        //视频
        .insert_video_box{
            position: relative;
            height: 100%;
            .vidio_wrap{
                position: relative;
                height: 100%;
                background: #010101;
                .video_loading{
                    position: absolute;
                    text-align: center;
                    left: 50%;
                    top: 50%;
                    color: #999;
                    width: pxToEm(100px);
                    height: pxToEm(28px);
                    line-height: pxToEm(28px);
                    margin: pxToEm(-14px) 0 0 pxToEm(-50px);
                }
            }
            .playcolwrap{
                background: rgba(255, 255, 255, 0.17);
                text-align: center; 
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: pxToEm(32px) pxToEm(90px);
                .btn_play {  
                    position: absolute;
                    left: pxToEm(10px);
                    top: 50%;
                    margin-top: pxToEm(-28px);
                    width: pxToEm(57px); 
                    height: pxToEm(57px); 
                    background: url(resources/wood/images/paixu_voice_play.png) center center no-repeat;
                    background-size: 80% auto;
                    &:active{
                        opacity: 0.9;
                    }
                }
                .btn_pause { background: url(resources/wood/images/paixu_voice_pause.png) center center no-repeat; background-size: 80% auto;}
                .probar { 
                    position: relative; 
                    height: pxToEm(4px); 
                    border-radius: pxToEm(3px); 
                    background: #979799; 
                    vertical-align: middle; 
                }
                .probar .bar { 
                    position: absolute; 
                    left: 0; 
                    top: 0;
                    width: 0; 
                    height: 100%; 
                    border-top-left-radius: pxToEm(3px); 
                    border-bottom-left-radius: pxToEm(3px); 
                    background: #fbbe46; }
                .probar .bar .btn_dot { 
                    position: absolute; 
                    top: pxToEm(-4px); 
                    right: pxToEm(-4px); 
                    width: pxToEm(12px); 
                    height: pxToEm(12px); 
                    background: #fbbe46; 
                    border-radius: 50%;
                    box-shadow: 0px 0px pxToEm(5px) rgba(0, 0, 0, 0.3);
                 }
                .time {
                    position: absolute;
                    right: pxToEm(10px);
                    top: 50%;
                    height: pxToEm(57px);
                    line-height: pxToEm(57px);
                    margin-top: pxToEm(-28px);
                    display: inline-block; 
                    font-size: pxToEm(14px); 
                    color: #88888f;
                }
            }
        }
        .insert_mt_box {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            background: rgba(122, 122, 122, 0.1);
            &:before{
                position: absolute;
                top: 0;
                left: 0;
                content: ""; 
                border: 2px solid rgba(153, 153, 153, 0.5);
                border-bottom: none;
                border-right: none;
                height: pxToEm(20px);
                width: pxToEm(20px);
            }
            &:after{
                position: absolute;
                bottom: 0;
                left: 0;
                content: ""; 
                border: 2px solid rgba(153, 153, 153, 0.5);
                border-top: none;
                border-right: none;
                height: pxToEm(20px);
                width: pxToEm(20px);
            }
            .insert_mt_bg{
                position: relative;
                height: 100%;
                overflow-y: auto;
                text-align: left;
                font-size: pxToEm(20px);
                padding: pxToEm(20px);
                &:before{
                    position: absolute;
                    top: 0;
                    right: 0;
                    content: ""; 
                    border: 2px solid rgba(153, 153, 153, 0.5);
                    border-bottom: none;
                    border-left: none;
                    height: pxToEm(20px);
                    width: pxToEm(20px);
                }
                &:after{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    content: ""; 
                    border: 2px solid rgba(153, 153, 153, 0.5);
                    border-top: none;
                    border-left: none;
                    height: pxToEm(20px);
                    width: pxToEm(20px);
                }
            }
            .vidio_wrap{
                height: 80%;
                background: url(resources/wood/images/icobg_voice.png) center center no-repeat;
                background-size: contain;

            }
        }
    }

    //主要内容区域
    .match_board_bg {
        left: pxToEm(8px);
        top: pxToEm(20px);
        right: pxToEm(8px);
        bottom: pxToEm(12px);
        position: absolute;
        border-radius: pxToEm(18px);
        background: rgba(144,90,19,0.2);
    }

    .com_m_mainboard_1 {
        position: relative;
        height: 100%;
        overflow: hidden;
    }
    .com_layout_container {
        &.inner {
            width: 100%;
            height: 100% !important;
            border-radius: pxToEm(24px);
            overflow: hidden;
            .com_layout_main {
                top: pxToEm(18px);
                right: pxToEm(19px);
                left: pxToEm(12px);
                bottom: pxToEm(18px);
                padding-bottom: 3px;
                &:after{
                    display: inline-block;
                    width: 0;
                    height: 100%;
                    vertical-align: middle;
                    content:"";
                }
            }
        }
    }
    .paixulist {
        display: inline-block;
        vertical-align: middle;
        width: pxToEm(912px) ; 
        li {
            position: relative; 
            margin: pxToEm(24px) pxToEm(60px) 0 pxToEm(60px); 
            border: pxToEm(4px) solid #f1d8b4 ;
            border-radius: pxToEm(18px);
            background: #fff;
            &:before{
                content: "";
                display: block;
                position: absolute;
                left: pxToEm(-5px);
                right: pxToEm(-5px);  
                top: pxToEm(-6px);
                bottom: pxToEm(-11px);
                background: url(resources/wood/images/paixulist.png) no-repeat;
                background-size: 100% 100%;
                z-index: -1;
            }
            /* &:active{
                border-color: #ffde03;
               .listtxt {
                    border-color: #ea9f0d;
               }
            } */
            &.ui_btn_active{
                    opacity: .3;
                    filter: alpha(opacity=30);
                .paixu_txt{
                    visibility: hidden;
                }
            }
            &:first-child{
                margin-top: pxToEm(10px);
            }
            em{
                position: absolute;
                top: 50%;
                right: pxToEm(-60px);
                width: pxToEm(48px);
                height: pxToEm(48px);
                margin-top: pxToEm(-24px);
                background: url(resources/wood/images/icon_paixu_re_r.png) center center no-repeat;
                background-size: auto 100%;
                display: none;
            }
            &.sort_right_list{
                em{
                    display: block;
                }
            }
        }
        .listtxt {
            position: relative;
            z-index: 10;
            padding: pxToEm(8px) pxToEm(16px);             
            color: #2e2e2e; 
            text-align: left; 
            outline: none; 
            border: pxToEm(3px) solid #7c5a2b ;
            border-radius: pxToEm(14px);
            background: #f9f9f9;            
            //word-break: break-all;
            word-wrap: break-word;
            word-break: break-word;
        }        
    }
}


.paixulist_num{
    position: absolute;
    width: pxToEm(32px);
    height: pxToEm(48px);
    line-height: pxToEm(48px);
    font-size: pxToEm(36px);
    text-align: left;
    left:pxToEm(-32px);
    top:50%;
    margin-top: pxToEm(-24px);
    color: #5d390d;
}
.paixu_txt{
    line-height: 1.26; 
    color: #2e2e2e; 
    font-size: pxToEm(36px);
}
.paixulist_li_move{
    display:none;
    position: absolute;
    width: pxToEm(794px);
    left:30.8em;
    top:8em;
    border: pxToEm(4px) solid #f1d8b4 ;
    border-radius: pxToEm(18px);
    background: #fff;
    z-index: 33;
    &:before{
        content: "";
        display: block;
        position: absolute;
        left: pxToEm(-5px);
        right: pxToEm(-5px);  
        top: pxToEm(-6px);
        bottom: pxToEm(-11px);
        background: url(resources/wood/images/paixulist.png) no-repeat;
        background-size: 100% 100%;
        z-index: -1;
    }
    .listtxt {
        position: relative;
        z-index: 10;
        padding: pxToEm(8px) pxToEm(16px);             
        color: #2e2e2e; 
        text-align: left; 
        outline: none; 
        border: pxToEm(3px) solid #7c5a2b ;
        border-radius: pxToEm(14px);
        background: #f9f9f9;            
        //word-break: break-all;
        word-wrap: break-word;
        word-break: break-word;
    }
    &.ui_btn_active{
        display: block;
        border-color: #ffde03;
       .listtxt {
            border-color: #ea9f0d;
       }
    }
}
.com_wrapper_pad{
   .textsort .com_layout_main {
        padding-left:2em;
    } 
}

