@charset "UTF-8";
.intervaltype {
    position: relative;
    width: 100%;
    height: 100%;
    .com_layout_main {
        overflow: hidden;
        text-align: center;
        vertical-align: middle;
        &:after {
            display: inline-block;
            width: 0;
            height: 100%;
            vertical-align: middle;
            content: "";
        }
    }
    .intervaltype_board {
        overflow: hidden;
        position: relative;
        padding: 0 pxToEm(30px);
        height: 100%;
    }
    //标题
    .interval_title {
        border-bottom: 1px solid #ebcea3;
        .interval_h2 {
            overflow: hidden;
            width: 100%;
            //height: pxToEm(110px);
            height: 3em;
            line-height: pxToEm(50px);
            border-bottom: 1px solid #c39c64;
            color: #7b4d0c;
            text-align: center;
            //word-break: break-all;
            word-wrap: break-word;
            word-break: break-word;
            // display: table;
            &:after {
                content:'';
                display: inline-block;
                width: 0;
                height: 100%;
                vertical-align: middle;
            }
            span {
                display: inline-block;
                font-size: pxToEm(40px);
                color: #333;
            }
        }
        .txtmin {
            line-height: pxToEm(26px);
            span {
                font-size: pxToEm(20px);
            }
        }
    }
    //题目
    .interval_exercise {
        border-bottom: 1px solid #ebcea3;
        .interval_exercise_wrap {
            overflow: hidden;
            height: pxToEm(156px);
            //line-height: pxToEm(150px);
            line-height: pxToEm(142px);
            white-space: nowrap;
            text-overflow: ellipsis;
            border-bottom: 1px solid #c39c64;
            color: #5d390d;
            letter-spacing: pxToEm(5px);
        }
        .text {
            span {
                font-size: pxToEm(60px);
            }
            .weight {
                font-size: pxToEm(70px);
                color: #b5802d;
                font-weight: bold;
            }
        }
        
    }
    .com_grid_wrap {
        position: absolute;
        left: pxToEm(80px);
        right: pxToEm(80px);
        bottom: pxToEm(90px);
        top: pxToEm(290px);
        height: auto;
        width: auto;
        // margin-top: pxToEm(35px);
        // height: pxToEm(425px);
    }

    .interval_bottom {
        position: absolute;
        left: pxToEm(80px);
        right: pxToEm(80px);
        bottom: 0;
        height: pxToEm(76px);
        line-height: pxToEm(76px);
        text-align: left;
        .interval_label {
            display: inline-block;
            position: relative;
            padding-left: pxToEm(54px);
            height: 100%;
            background: url(resources/wood/images/interval_label.png) no-repeat left center;
            background-size: pxToEm(38px) auto;
            .font {
                font-size: pxToEm(36px);
                color: #5d390d;
            }
            &.on {
                background-image: url(resources/wood/images/interval_label_on.png);
            }
            &.click_disabled {
                pointer-events: none;
                background-image: url(resources/wood/images/interval_label_disable.png);
            }
            &.click_on_disabled {
                pointer-events: none;
                background-image: url(resources/wood/images/interval_label_on_disable.png);
            }
        }
        .radio_input {
            display: none;
        }
        .btn_explain {
            float: right;
            margin-top: pxToEm(14px);
            width: pxToEm(165px);
            height: pxToEm(58px);
            line-height: pxToEm(58px);
            text-align: center;
            color: #4f2c0b;
            background: url(resources/wood/images/btn_explain.png) no-repeat center top;
            background-size: 100% auto;
            .font {
                font-size: pxToEm(28px);
            }
            &:active {
                background-position:  center bottom;
            }
            &.com_btn_disabled {
                color: #c2ad8e;
                &:active {
                    background-position:  center top;
                }
            }
        }
    }
}   