@charset "UTF-8";
.fillblank {
    position: relative;
    width: 100%;
    height: 100%;
    .com_layout_main {
        left: 0;
        right: pxToEm(60px);
        top: pxToEm(68px);
        bottom: 0;
    }
    .com_m_mainboard_1 {
        position: relative;
    }
    /* s 组件: 面板 */
    .com_m_sideboard_1 {
        position: relative;
        float: left;
        width: pxToEm(790px);
        height: 100%;
        padding: pxToEm(101px) 0 pxToEm(35px);
        margin-left: pxToEm(35px);
        margin-right: pxToEm(77px);
        .com_m_sidehead {
            position: absolute;
            left: 0;
            top: pxToEm(35px);
            right: 0;
            height: pxToEm(66px);
            background: url(resources/wood/images/bg_sidetit1.png) repeat-x;
            background-size: auto 100%;
            border-top-left-radius: pxToEm(18px);
            border-top-right-radius: pxToEm(18px);
        }
        .com_m_sidecon {
            height: 100%;
            border-bottom: pxToEm(9px) solid transparent;
            background-image: url(resources/wood/images/decl_sidecon.png), url(resources/wood/images/decr_sidecon.png), url(resources/wood/images/decm_sidecon.png), url(resources/wood/images/bg_sidecon1.png);
            background-repeat: no-repeat, no-repeat, repeat-x, repeat;
            background-position: left bottom, right bottom, center bottom, left top;
            background-size: pxToEm(21px) auto, pxToEm(21px) auto, pxToEm(9px) auto, pxToEm(65px) auto;
            background-origin: border-box, border-box, border-box, content-box;
            box-shadow: pxToEm(1.5px) pxToEm(2.598px) pxToEm(19px) 0 rgba(75, 40, 0, 0.75);
            border-bottom-left-radius: pxToEm(18px);
            border-bottom-right-radius: pxToEm(18px);
            overflow: auto;
        }
    }
    .com_m_mainboard_1 {
        height: 100%;
        overflow: hidden;
    }
    /* e 组件: 面板 */
    .fillblank_left {
        box-shadow: none;
        padding: pxToEm(50px) pxToEm(10px) pxToEm(50px) pxToEm(50px);
        .fillblank_lmain {
            padding-right: pxToEm(40px);
            max-height: 100%;
            overflow: auto;
            color: #2e2e2e;
            font-size: pxToEm(40px);
            line-height: 1.8;
            //text-indent: pxToEm(50px);修改第一个是填空选项多行的出现横向滚动条的bug
            text-align: justify;
            //word-break: break-all;
            word-wrap: break-word;
            word-break: break-word;
            .word_empty {
                display: inline-block;
                width: pxToEm(100px);
                height: pxToEm(36px);
                vertical-align: middle;
                background: rgba(66, 66, 66, .5);
                color: #fff;
                line-height: pxToEm(28px);
                text-align: center;
                text-indent: 0;
                margin: 0 pxToEm(3px);
                border: pxToEm(3px) solid transparent;
            }
            .word_full {
                display: inline-block;
                color: #fff;
                background: rgba(66, 66, 66, 0.5);
                line-height: pxToEm(31px);
                text-align: center;
                text-indent: 0;
                margin: 0 pxToEm(3px);
                border: pxToEm(3px) solid transparent;
                text-align: left;
            }
            .on{
                background: #fff;
                border-color: #2c8bd2;
                color: #2c8bd2;
            }
            .word_right{
                color: #41a22b;
            }
            .word_wrong{
                color: #ee3f08;
            }
        }
        .word_full_replace {
            display: none;
            position: fixed;
            background: #99999a;
            color: #fff;
            border:2px solid transparent;
            background: rgba(66, 66, 66, 0.5);
            line-height: 1.29167em;
            text-align: center;
            text-indent: 0;
            margin: 0 .125em;
            font-size: pxToEm(40px);
            &.move{
                display:inline-block;
            }
        }
        .blank{
            display:inline;
        }
    }
    .fillblank_right {
        display: -webkit-flex;
        display: flex;
        flex-flow: column;
        padding: pxToEm(37px) 0 pxToEm(35px);
        &.fillblank_result{
            .fillblank_rmain{
                margin-bottom: 0;
            }
        }
        .fillblank_rtit {
            color: #333;
            margin-top: pxToEm(16px);
            font-size: pxToEm(36px);
            line-height: 1.5;
            .wrong_num{
                font-style: normal;
                padding: 0 pxToEm(10px);
                color: #ee3f08; 
            }
        }
        .fillblank_rmain {
            padding-left: 0;
            overflow-y: auto;
            padding-top: pxToEm(18px);
            padding-bottom: pxToEm(4px);
            margin-bottom: pxToEm(85px);
        }
        .word_take ,.word_take_replace {
            display: inline-block;
            position: relative;
            margin: 0 pxToEm(30px) pxToEm(30px) 0;
            padding: 2px;
            background: url(resources/wood/images/word_take_bg.png) center center no-repeat;
            background-size: 100% 100%;
            border-radius: pxToEm(18px);
            //white-space: nowrap;改成支持多行
            &:after {
                content: "";
                display: block;
                z-index: -1;
                position: absolute;
                left: 0;
                right: pxToEm(-12px);
                top: pxToEm(54px);
                bottom: pxToEm(-30px);
                background: url(resources/wood/images/word_take.png) center center no-repeat;
                background-size: 100% 50%;
            }
            .word_take_border {
                display: block;
                padding: pxToEm(8px) pxToEm(20px);
                background: url(resources/wood/images/word_take_bg.png) center center no-repeat;
                background-size: 100% 100%;
                border: 1px solid #8f6831;
                border-radius: pxToEm(16px);
                line-height: 1.3;
            }
            .word_take_text {
                font-style: normal;
                font-size: pxToEm(40px);
                color: #2e2e2e;
            }
        }
        .word_take_replace {
            z-index: 999;
            display: none;
            position: fixed;
            margin: 0 1.25em 0 0;
            &.move{
                display:inline-block;
            }
        }
        
        .img{
            margin: 80px auto 0;
            width: 452px;
            height: 265px;
            background: url('resources/wood/images/tiankong-zan.png') no-repeat;
            background-size: 100% auto;
        }
        .img_container{
            height: 100%;
            text-align: center;
            &:after{
                content:"";
                display: inline-block;
                width: 0;
                height: 100%;
                vertical-align: middle;
            }
            img{
                max-width: 98%;
                max-height: 100%;
                vertical-align: middle;
            }
        }
        .fillblank_rbottom {
            position: absolute;
            left: 0;
            right: 0;
            bottom: pxToEm(35px);
            text-align: center;
        }
    }
    .com_btn_rectangle {
        .com_btn_text{
            font-size: pxToEm(32px);
        }
    }
}

//统计交互css
  .fillblank_interaction_statistics {
    color: green !important;
  }
  .fillblank_interaction_alone {
    display: none;
    padding: 0 0.2em;
    font-style: normal;
  }
  .fillblank_interaction_alone_select {
    background:#83ad50 !important;
    color: #fff !important;
  }
  .fillblank_interaction_hidden {
    display: none !important;
  }
  .fillblank_lmain{
    &.show_number{
        .fillblank_interaction_alone{
            display: inline;
        }
    }
  }