<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>白板端题型外框</title>
    <link rel="stylesheet" type="text/css" href="../../../../common.css">
</head>
<body>
<div class="exam_skin_wood">
    <div class="com_layout" id="layout">
        <div class="com_wrapper_board" id="wrapper"> <!-- pad端加.com_wrapper_pad，白板端加.com_wrapper_board -->
            <!--头部-->
            <div class="com_layout_header">
                <!--计时器-->
                <div class="com_header_time">
                    @@include('../../time/_time.html', {"txt":"", "classname":""})
                    <div class="upload">
                        <div style="width:100%;height:100%;">提交人数：<span class="num">35</span>/50</div>
                    </div>
                </div>
                <!--/计时器-->
                <!--提交按钮-->
                <div class="com_header_tool">
                    @@include('../../button/_com_btn_round.html', {"txt":"提&nbsp;&nbsp;交", "classname":""})
                </div>
                <!--/提交按钮-->
                
            </div>
            <!--/头部-->
            <!--主体内容-->
            <div class="com_layout_container"><!-- 没有标题时加.notit -->
                <div style="height:100%;position: relative;height: 100%; z-index: 333;"> <!-- 这个relative的div为系统生成的 -->
                    <div class="com_layout_exam_content textselect_box"><!-- 建立一个自己题型顶层的类名加在后面 例如 textselect_box -->
                        <div class="com_layout_main_exam">
                            <div class="com_layout_tit">
                                <h2 class="tit">标题</h2><!-- 文字过多的情况加.s_tit -->
                            </div>
                            <div class="com_layout_main">
                                <!-- 在这里新建div写新的题型 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/主体内容-->

            <!-- 底部工具栏目 -->
            <div class="com_stat_tool">
                <div class="com_part_toolbar"><!-- 按钮群在左边加类名 .cptb_left -->
                    <ul>
                        @@include('../../button/_com_btn_square_tool.html', {"txt":"发送习题", "classname":"send_to_student js_send_to","buttonstate":""})
                        @@include('../../button/_com_btn_square_tool.html', {"txt":"退出本题", "classname":"square_tool_quit","buttonstate":"click_disabled"})
                        @@include('../../button/_com_btn_square_tool.html', {"txt":"参考答案", "classname":"square_tool_answer","buttonstate":""})
                        @@include('../../button/_com_btn_square_tool.html', {"txt":"查看原题", "classname":"square_tool_check","buttonstate":""})
                        @@include('../../button/_com_btn_square_tool.html', {"txt":"正误统计", "classname":"square_tool_stats","buttonstate":""})
                        <li class="com_part_toolbar_li">
                           <div class="square_pop_box pop_up">
                                <a class="com_btn_square_tool square_tool_time" href="javascript:;">
                                    <i class="com_btn_pic"></i>
                                    <em class="com_btn_text">时间排序</em>
                                </a><!-- 选中加on -->
                                <div class="selected hide_dom">
                                    <a href="###" class="options on">座位排序</a><!-- 选中加on -->
                                    <a href="###" class="options">小组排序</a>
                                    <i class="tips"></i>
                                </div>
                            </div>
                        </li>
                        <li class="com_part_toolbar_li">
                            <div class="square_pop_box pop_up">
                                <a class="com_btn_square_tool square_tool_seat" href="javascript:;">
                                    <i class="com_btn_pic"></i>
                                    <em class="com_btn_text">座位排序</em>
                                </a><!-- 选中加on -->
                                <div class="selected">
                                    <a href="###" class="options on">时间排序</a><!-- 选中加on -->
                                    <a href="###" class="options">小组排序</a>
                                    <i class="tips"></i>
                                </div>
                            </div>
                        </li>
                        <li class="com_part_toolbar_li">
                            <div class="square_pop_box pop_up">
                                <a class="com_btn_square_tool square_tool_team" href="javascript:;">
                                    <i class="com_btn_pic"></i>
                                    <em class="com_btn_text">小组排序</em>
                                </a><!-- 选中加on -->
                                <div class="selected">
                                    <a href="###" class="options on">座位排序</a><!-- 选中加on -->
                                    <a href="###" class="options">时间排序</a>
                                    <i class="tips"></i>
                                </div>
                            </div>
                        </li>
                        @@include('../../button/_com_btn_square_tool.html', {"txt":"人气投票", "classname":"square_tool_vote","buttonstate":""})
                        @@include('../../button/_com_btn_square_tool.html', {"txt":"查看解析", "classname":"square_tool_analysis","buttonstate":""})
                        <!-- @@include('../../button/_com_btn_square_tool.html', {"txt":"公布结果", "classname":"square_tool_result","buttonstate":""}) -->
                        <li class="com_part_toolbar_li">
                            <div class="square_pop_box pop_up">
                                <a class="com_btn_square_tool square_tool_result" href="javascript:;">
                                    <i class="com_btn_pic"></i>
                                    <em class="com_btn_text">公布结果</em>
                                </a><!-- 选中加on -->
                                <div class="square_tool_result_list for_left"><!-- 在左边加类.for_left否则去掉 -->
                                    <div class="squere_tool_result_list_content">
                                        <span class="squere_tool_result_list_txt">请设置正确答案：</span>
                                        <label class="squere_tool_result_list_radio"><span class="txt">A</span></label>
                                        <label class="squere_tool_result_list_radio"><span class="txt">B</span></label>
                                        <label class="squere_tool_result_list_radio checked"><span class="txt">C</span></label>
                                        <label class="squere_tool_result_list_radio"><span class="txt">D</span></label>
                                        <label class="squere_tool_result_list_radio"><span class="txt">E</span></label>
                                    </div>
                                </div>
                            </div>
                        </li>
                        @@include('../../button/_com_btn_square_tool.html', {"txt":"查看进度", "classname":"square_view_progress","buttonstate":""})
                        @@include('../../button/_com_btn_square_tool.html', {"txt":"结束答题", "classname":"square_end_answer","buttonstate":""})                        
                    </ul>
                </div>

            </div>
            <!-- /底部工具栏目 -->
        </div>
    </div>
</div>
<div class="toolLoader" id="" style="z-index: 999; height: 88px; position:fixed; bottom:0;right:190px">
	<div class="exam_skin_wood">
    
    	
	</div>
</div>

<script src="../wood/layout.js"></script>
</body>
</html>