<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>白板端题型外框</title>
    <link rel="stylesheet" type="text/css" href="../../../../common.css">
</head>
<body>
<div class="exam_skin_wood" style="font-size: 16px">
    <div class="com_stat_tool">
        @@include('../../button/_com_btn_square_tool.html', {"txt":"退出本题", "classname":"square_tool_quit"})
        @@include('../../button/_com_btn_square_tool.html', {"txt":"参考答案", "classname":"square_tool_answer"})
        @@include('../../button/_com_btn_square_tool.html', {"txt":"查看原题", "classname":"square_tool_check"})
        @@include('../../button/_com_btn_square_tool.html', {"txt":"正误统计", "classname":"square_tool_stats"})
        <div class="square_time_box">
            @@include('../../button/_com_btn_square_tool.html', {"txt":"时间排序", "classname":"square_tool_time"})<!-- 选中加on -->
            <div class="selected">
                <a href="###" class="options on">座位排序</a><!-- 选中加on -->
                <a href="###" class="options">小组排序</a>
                <i class="tips"></i>
            </div>
        </div>
        <!-- @@include('../../button/_com_btn_square_tool.html', {"txt":"小组排序", "classname":"square_tool_seat"})
        @@include('../../button/_com_btn_square_tool.html', {"txt":"座位排序", "classname":"square_tool_team"}) -->
        @@include('../../button/_com_btn_square_tool.html', {"txt":"人气投票", "classname":"square_tool_vote"})
        <!-- @@include('../../button/_com_btn_square_tool.html', {"txt":"退出投票", "classname":"square_tool_vote"}) -->
        @@include('../../button/_com_btn_square_tool.html', {"txt":"查看解析", "classname":"square_tool_analysis"})
        @@include('../../button/_com_btn_square_tool.html', {"txt":"公布结果", "classname":"square_tool_result"})
        @@include('../../button/_com_btn_square_tool.html', {"txt":"查看进度", "classname":"square_view_progress"})
        @@include('../../button/_com_btn_square_tool.html', {"txt":"结束答题", "classname":"square_end_answer"})
    </div>

</div>
<script src="../wood/layout.js"></script>
</body>
</html>