<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>pad端题型外框</title>
    <link rel="stylesheet" type="text/css" href="../../../../common.css">
</head>
<body>
<div class="exam_skin_wood">
    <div class="com_bottom_box">
        <div class="bottom_wrap">
            <ul class="listwrap">
                <li class="list out"><!-- 按住拖动的时候加move 移开的时候加out -->
                    <img src="demopic/demo02.png" alt="" class="list_img" />
                </li>
                <li class="list move one"><!-- 按住拖动的时候加move 移开的时候加out -->
                    <p class="list_text">四个汉字</p>
                </li>
                <li class="list two"><!-- 按住拖动的时候加move 移开的时候加out -->
                    <p class="list_text">这里就只有四十</p>
                </li>
                <li class="list move two over"><!-- 按住拖动的时候加move 移开的时候加out 超过40个字时，加over-->
                    <p class="list_text">这里就只有四十个字不会超出这里就只有四十个字不会超出这里就只有四十个字不会超出四十个字不会超出</p>
                </li>
                <li class="list"><!-- 按住拖动的时候加move 移开的时候加out -->
                    <img src="demopic/demo02.png" alt="" class="list_img" />
                </li>
                <li class="list">
                    <img src="demopic/demo02.png" alt="" class="list_img" />
                </li>
                <li class="list two">
                    <p class="list_text">这里就只有三十个字不会超出真的不这里就只有三十个字不会超出真</p>
                </li>
                <li class="list two">
                    <p class="list_text">这里就只有三十个字不会超出真的不</p>
                </li>
                <li class="list">
                    <img src="demopic/demo02.png" alt="" class="list_img" />
                </li>
            </ul>
        </div>
        <a href="###" class="com_bottom_box_btn btn_left"></a>
        <a href="###" class="com_bottom_box_btn btn_right ui_btn_active"></a><!--点击状态增加类名.ui_btn_active,此处ui跟策划商讨不做不可点击状态-->
    </div>
    
</div>

<script src="../wood/layout.js"></script>
</body>
</html>