@charset "UTF-8";

.nqti-base-essayQuestion {
    height: 100%;
    .nqti-scrollbar-style-gray::-webkit-scrollbar {
        font-size: pxToEm(12px);
    }
}

.nqti-base-essayQuestion-wrap {
    // position: relative;
    // margin-left: pxToEm(39px);
    padding: pxToEm(40px) pxToEm(20px);
    width: pxToEm(1518px);
    height: pxToEm(564px);
    background: #f7f7f7;
    border: 1px solid #c5c5c5;
    box-shadow: 0px pxToEm(2px) 0px pxToEm(2px) rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}
.nqti-base-essay-area {
    overflow-y: auto;
    padding-right: pxToEm(10px);
    width: 100%;
    height: 100%;
    line-height: pxToEm(38px);
    background: transparent;
    color: #333;
    font-size: pxToEm(42px);
}

/*显示题号时调整间距*/
.nqti-module-show-num .nqti-base-essayQuestion-wrap  {
    width: pxToEm(1440px);
}