<!--词汇卡菜单-->
<ul class="menu_list">
    <li class="item_menu phonetic"><!--选中时加上on类-->
        <a href="#" class="menu"><em class="word">音标</em></a>
    </li>
    <li class="item_menu definition">
        <a href="#" class="menu"><em class="word">释义</em></a>
    </li>
    <li class="item_menu media">
        <a href="#" class="menu"><em class="word">图片</em></a>
    </li>
    <li class="item_menu transform">
        <a href="#" class="menu"><em class="word">变形</em></a>
    </li>
    <li class="item_menu phrase">
        <a href="#" class="menu"><em class="word">词组</em></a>
    </li>
    <li class="item_menu sentences">
        <a href="#" class="menu"><em class="word">例句</em></a>
    </li>

    <a href="#" class="btn_all_hide hide_dom">全部隐藏</a>
    <a href="#" class="btn_all_show">全部显示</a>

    <a href="#" class="btn_start_practice">开始练习</a>
</ul>