@charset "UTF-8";

.nqti-base-composition{
    .baseMod-com-layout-container{
        background: rgba(255, 255, 255, .15);
    }
    .baseMod-com-layout-body{
        top: pxToEm(53px);
        left: 0;
        right: pxToEm(150px);
        bottom: 0;
        padding: 0 pxToEm(30px);
        background: #f8efde;
        border-bottom-left-radius: pxToEm(20px);
        overflow: inherit;
    }
    .nhw_write_toolbar{
        right: pxToEm(-147px);
    }
    &.baseMod-com-wrapper-board{
        .baseMod-com-layout-title{
            display: none;
        }
    }
    /* pad端私有样式 */
    &.baseMod-com-wrapper-pad{
        .baseMod-com-layout-body{
            top: 0;
            background: #faf5ec;
            border-radius: pxToEm(10px) 0 0 pxToEm(10px);
        }
        .baseMod-com-layout-title{
            display: none;
        }
        .nqti-base-composition-bd{
            bottom: pxToEm(10px);
            // .composition-paper{
            //     top: pxToEm(18px);
            //     left: 50%;
            //     bottom: pxToEm(70px);
            //     width: pxToEm(1562px);
            //     margin-left: pxToEm(-780px);
            //     background: #f7f7f7;
            //     border: 1px solid #c5c5c5;
            //     overflow: hidden;
            //     dd{
            //         top: 0;
            //         margin: 0 -1px;
            //     }
            //     dt+dd{
            //         top: pxToEm(120px);
            //     }
            //     &[data-style="underline"]{
            //         dt+dd{
            //             top: pxToEm(90px);
            //         }
            //         dd{
            //             left: pxToEm(30px);
            //             right: pxToEm(30px);
            //         }
            //     }
            //     &[data-style="lattice"]{
            //         dt{
            //             height: pxToEm(150px);
            //             line-height: pxToEm(150px);
            //         }
            //         dt+dd{
            //             top: pxToEm(150px);
            //         }
            //         dd{
            //             bottom: pxToEm(20px);;
            //         }
            //     }
            // }
        }
        .composition-write{
            padding-bottom: pxToEm(65px);
        }
        .composition-paper-btns{
            bottom: pxToEm(5px);
        }
        .composition-sub-contents{
            li{
                background: #faf5ec;
            }
        }
        .com_layout_main{
            // position: absolute;
            // top: pxToEm(148px);
            // left: 50%;
            // bottom: pxToEm(80px);
            // width: pxToEm(1562px);
            // margin-left: pxToEm(-780px);
            .handWrite_content{
                width: auto;
                height: auto;
                right: 0;
                bottom: 0;
            }
        }
        /*pad素材栏背景色*/
        .nqti-base-composition-bd .composition-source {
            background: #eae6dd;
        }
        /*pad素材栏左右按钮背景色*/
        .nqti-base-composition-bd {
            .composition-subtabs-left, .composition-subtabs-right {
                background-color: #eae6dd;
                &:active, &.ui_btn_active {
                    background-color: #d9d5cb;
                }
            }
        }
    }
    /* /pad端私有样式 */

    /* 白板端私有属性 */
    &.baseMod-com-wrapper-board{
        .baseMod-com-layout-body{
            top: 0;
            border-radius: pxToEm(10px) 0 0 pxToEm(10px);
        }
        // .nqti-base-composition-bd{
        //     .composition-paper{
        //         &[data-style="rice"],
        //         &[data-style="field"]{
        //             dt+dd{
        //                 background-size: 100% 120%;
        //             }
        //         }
        //     }
        // }
    }
    /* /白板端私有属性 */
    .handWrite_resize,.handWrite_placeholder{
        display: none;
    }
    .com_layout_main{
        position: relative;
        .composition-tit{
            position: relative;
            margin-top: pxToEm(20px);
            z-index: 9;
            color: #000;
            text-align: center;
            height: pxToEm(110px);
            line-height: pxToEm(110px);
            .txt{
                font-size: pxToEm(42px);
            }
            input{
                width: 10.2em;
                line-height: 1.4;
                border-bottom: .08em solid #333;
                font-size: 1em;
                background: transparent;
            }
        }
        .handWrite_content{
            position: absolute;
            top: 0;
            left: 0;
            z-index: 8;
            width: pxToEm(1516px);
            height: pxToEm(661px);
        }
    }
}
.nqti-base-composition-tit{
    height: pxToEm(130px);
    padding-left: pxToEm(30px);
    line-height: pxToEm(127px);
    border-bottom: 4px double #ababab;
    color: #333;
    overflow: hidden;
    &>.txt{
        float: left;
        font-size: pxToEm(50px);
    }
}
.nqti-base-composition-btn-item{
    float: right;
    height: pxToEm(80px);
    margin: pxToEm(29px) pxToEm(20px);
    padding: 0 pxToEm(4px);
    box-shadow: inset 0px 0px pxToEm(4px) 0px rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top, rgb(255,255,255) 0%, rgb(230,225,216) 100%);
    line-height: pxToEm(80px);
    border-radius: pxToEm(80px);
    li{
        float: left;
        height: pxToEm(72px);
        margin-top: pxToEm(4px);
        line-height: pxToEm(72px);
        padding: 0 pxToEm(40px);
        border-radius: pxToEm(72px);
        cursor: pointer;
        &>.txt{
            font-size: pxToEm(30px);
        }
        &.current{
            background-image: linear-gradient( to top, #e6e5e5 0%, #fcfcfc 100%);
            box-shadow: 0px 3px 5px 0px rgba(4, 0, 0, 0.2);
            color: #ff9000;
        }
    }
}
.nqti-base-composition-bd{
    position: absolute;
    top: pxToEm(130px);
    left: pxToEm(30px);
    right: pxToEm(30px);
    bottom: pxToEm(25px);
    overflow-y: auto;
    .composition-subject{
        padding: pxToEm(35px) pxToEm(30px) 0;
        word-break: break-word;
        &>.txt{
            color: #545454;
            font-size: pxToEm(42px);
            line-height: 1.8;
            margin-bottom: pxToEm(15px);
        }
        .label_text{
            color: #000;
            display: inline;
            white-space: nowrap;
        }
        .txt_edit{
            display: inline;
            word-break: break-word;
            >p,>div{
                &:first-child{
                    display: inline;
                }                
            }
        }
    }
    .composition-source {
        overflow: hidden;
        background: #e8e0d0;    
    }
    .composition-subtabs-left {
        z-index: 10;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: pxToEm(80px);
        height: pxToEm(80px);
        background: url(resources/wood/images/icon_prev.png) no-repeat center center;
        background-size: auto pxToEm(41px);
        background-color: #e8e0d0;
        &:active, &.ui_btn_active {
            background-color: #d7d0c3;
        }
        &.click_disabled {
            background-image: url(resources/wood/images/icon_prev_dis.png);
            background-color: #e8e0d0;
            cursor: no-drop;
        }
    }
    .composition-subtabs-right {
        z-index: 10;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: pxToEm(80px);
        height: pxToEm(80px);
        background: url(resources/wood/images/icon_next.png) no-repeat center center;
        background-size: auto pxToEm(41px);
        background-color: #e8e0d0;
        &:active, &.ui_btn_active {
            background-color: #d7d0c3;
        }
        &.click_disabled {
            background-image: url(resources/wood/images/icon_next_dis.png);
            background-color: #e8e0d0;
            cursor: no-drop;
        }
    }
    .composition-subtabs{
        position: relative;
        display: inline-block;
        height: pxToEm(80px);
        line-height: pxToEm(70px);
        white-space: nowrap;
        padding: 0 pxToEm(44px);
        &>li{
            display: inline-block;
            position: relative;
            text-align: center;
            padding: 0 pxToEm(60px);
            color: #666;
            cursor: pointer;
            .txt{
                font-size: pxToEm(42px);
            }
            &.current{
                color: #ff9000;
                &:after{
                    content: '';
                    position: absolute;
                    bottom: pxToEm(10px);
                    left: 50%;
                    width: pxToEm(8px);
                    height: pxToEm(8px);
                    border-radius: 50%;
                    background: #ff9000;
                }
            }
        }
    }
    .composition-sub-contents{
        position: absolute;
        top: pxToEm(80px);
        left: 0;
        right: 0;
        bottom: 0;
        li{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            padding-top: pxToEm(30px);
            background: #f8efde;
            overflow-y: auto;
            .txt{
                font-size: pxToEm(42px);
                word-break: break-word;
            }
        }
        p{
            color: #333;
            line-height: 1.78em;
            margin: 0 .72em;
        }
    }
    .composition-write{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding-bottom: pxToEm(95px);
    }
    .composition-paper{
        position: absolute;
        top: pxToEm(20px);
        left: pxToEm(20px);
        bottom: pxToEm(95px);
        right: pxToEm(20px);
        border: 1px solid #bebebe;
        background-color: #f7f7f7;
        overflow: hidden;
        dt{
            height: pxToEm(110px);
            // &+dd{
            //     top: pxToEm(110px);
            // }
        }
        dd{
            position: absolute;
            left: 0;
            top: pxToEm(110px);
            right: 0;
            bottom: 0;
        }
        &[data-style="underline"]{
            // dt{
            //     height: pxToEm(90px);
            //     line-height: pxToEm(90px);
            // }
            // dt+dd{
            //     top: pxToEm(90px);
            // }
            // padding: 0 pxToEm(30px);
            dd{
                // top: 0;
                background: url(resources/wood/images/bg_underline.png) repeat left top;
                background-size: 100% 100%;
            }
        }
        &[data-style="field"]{
            // dt+dd{
            //     background-size: 100% 120.1%;
            // }
            dd{
                background: url(resources/wood/images/bg_field_pad.png) repeat left top;
                background-size: 100% 100%;
            }
        }
        &[data-style="lattice"]{
            // margin: 0 pxToEm(37px);
            // dt{
            //     height: pxToEm(150px);
            //     line-height: pxToEm(150px);
            // }
            // dt+dd{
            //     top: pxToEm(150px);
            //     background-size: 100% 126%;
            // }
            dd{
                /* border: {
                    left: 1px solid #beb7aa;
                    right: 1px solid #beb7aa;
                } */
                background: url(resources/wood/images/bg_lattice_pad.png) repeat left top;
                background-size: 100% 100%;
            }
        }
        &[data-style="rice"]{
            // margin: 0 pxToEm(37px);
            // dt+dd{
            //     background-size: 100% 120.1%;
            // }
            dd{
                background: url(resources/wood/images/bg_rice_pad.png) repeat left top;
                background-size: 100% 100%;
            }
        }
    }
    
}




/* 右侧手写工具栏 */
.nhw_write_toolbar{
    position: absolute;
    top: pxToEm(90px);
    right: pxToEm(110px);
    bottom: 0;
    z-index: 13;
    padding:0 pxToEm(6px);
}
.nhw_btn_switch_box{ 
    position: relative; 
    margin: pxToEm(48px) 0 0 pxToEm(9px); 
    display: block; 
    width: pxToEm(120px); 
    height: pxToEm(60px);  
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    .nhw_btn_switch{
        content:"";
        position: absolute;
        width: pxToEm(60px);
        height: pxToEm(60px);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center center;
        transition: transform .3s;
        top: 0;
        left: 0;
    }
    &.off{
        background-image: url(resources/wood/images/icon_hand_write_off.png);
        .nhw_btn_switch{
            transform: translateX(pxToEm(-12px));
            background-image: url(resources/wood/images/icon_hand_off.png);
        }
        .off_text{ 
            display:block; 
            left: pxToEm(-15px);
        }
    }
    &.on{
       background-image: url(resources/wood/images/icon_hand_write_on.png);
        .nhw_btn_switch{
            transform: translateX(pxToEm(65px));
            background-image: url(resources/wood/images/icon_hand_on.png);
        } 
        .on_text{ 
            display:block; 
            left: pxToEm(-3px);
        }
    }
    span{ 
        position: absolute; 
        top: pxToEm(-48px); 
        display: none; 
        color: #422701; 
        height: pxToEm(35px);
        padding: 0 pxToEm(15px); 
        background: #f9eedd; 
        box-shadow: 0px 5px 5px 0px rgba(56, 32, 0, 0.27);
        border-radius: pxToEm(30px); 
        white-space: nowrap;
        text-align:center;
        line-height: pxToEm(35px);
        &>em{
            font-size: pxToEm(20px); 
            vertical-align: top;
        }
        &:after{
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            top: pxToEm(35px);
            left: 50%;
            margin-left: pxToEm(-10px);
            border-left: pxToEm(10px) solid transparent;
            border-right: pxToEm(10px) solid transparent;
            border-top: pxToEm(8px) solid #f9eedd; 
        }
    }
}
.nhw_write_toolbar_list{
    margin: pxToEm(36px) 0 ;
    &>li{
        position: relative;
        margin-top: pxToEm(36px);
        .nhw_mainlink{
            display: block;
            text-align: center;
            width: pxToEm(135px);
            padding: pxToEm(96px) 0 pxToEm(15px) 0;
            background-position:center top;
            background-repeat:no-repeat;
            background-size: 100% auto;
            &.icon1 {
                background-image:url(resources/wood/images/icon_pen_s.png);
                &:active{ 
                    background-image:url(resources/wood/images/icon_pen_s_p.png);
                }
            }
            &.icon2 {
                background-image:url(resources/wood/images/icon_clear_s.png);
                &:active{ 
                    background-image:url(resources/wood/images/icon_clear_s_p.png);
                }
            }
            &.icon3 {
                background-image:url(resources/wood/images/icon_dustbin.png);
                // background-position: center pxToEm(12px);
                background-size: pxToEm(96px) auto;
                &:active{ 
                    background-image:url(resources/wood/images/icon_dustbin_s.png);
                }
            }
        }
        .listtxt {
            display: block;
            width: 100%;
            line-height: 100%;
            color: #6d5835;
            font-size: pxToEm(30px);
            font-weight: bold;
        }
        &.on{
            .nhw_mainlink {
                &:after{
                    position: absolute;
                    content:"";
                    right: pxToEm(18px);
                    top: pxToEm(32px);
                    width:pxToEm(42px);
                    height: pxToEm(42px);
                    background: url(resources/wood/images/tool_s_r_on.png) center center no-repeat;
                    background-size: 100% auto;
                }
            }
            .nhw_mainlink .listtxt {
                color: #351d00;
                text-shadow: 0 0 pxToEm(15px) rgba(255, 255, 190, 0.75);
            }
            .nhw_mainlink.icon1 {
                background-image: url(resources/wood/images/icon_pen_s_p.png);
            }
            .nhw_mainlink.icon2 {
                background-image: url(resources/wood/images/icon_clear_s_p.png);
            }
            .nhw_toolbarpop01{ 
                display:block; 
                top:0;
                right: pxToEm(90px);
            }
        }
        &.open{
            background: rgba(213, 162, 79, 0.4);
            box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.294), inset 0px 2px 2px 0px rgba(4, 0, 0, 0.059);
            .nhw_mainlink{
                &.icon1{
                    background-image:url(resources/wood/images/icon_pen_s_p.png);
                }
                &.icon2{
                    background-image:url(resources/wood/images/icon_clear_s_p.png);
                }
                &.icon3{ 
                    background-image:url(resources/wood/images/icon_dustbin_s.png);
                }
                .listtxt{
                    color: #6d3f0c;
                    text-shadow:0 0 pxToEm(15px) rgba(255, 255, 190, 0.75);
                }
            }
            .nhw_toolbarpop_bg{
                display:block;
            }
        }
    }
    .nhw_wrap_rubber{
        width: auto;
        min-width: pxToEm(345px);
        .nhw_toolbarpop{
            padding: 0 pxToEm(10px);
        }
    }
} 
.nhw_toolbarpop_bg{
    background:url(resources/wood/images/bg_com_hd_write.png) center center no-repeat;
    background-size: 105% 105%;
    border-radius: pxToEm(18px);
    box-shadow: 0 0 pxToEm(21px) pxToEm(6px) rgba(4, 0, 0, 0.3),inset 0 -2px 2px rgba(4, 0, 0, 0.3);
    display: none;
    position: absolute;
    right: pxToEm(165px);
    top: 0;
    width: pxToEm(345px);
    border-radius: pxToEm(18px);
    padding:pxToEm(12px);
    overflow: hidden;
}
.nhw_toolbarpop01 {
    background: #f4f1e9 url(resources/wood/images/tool_bar_bg_rb.png) right bottom no-repeat;
    box-shadow: 0 0 pxToEm(6px) rgba(76, 47, 0, 0.24);
    border-radius: 0 0 pxToEm(30px) 0;
    .nhw_toolbox{
        width: 100%;
        padding: 0;
        z-index: 9; 
        .nhw_toolrow{
            text-align: center;
        }
        .nhw_listcon {
            position: relative;
            display: inline-block;
            width: pxToEm(68px);
            height: pxToEm(68px);
            margin: 0 pxToEm(15px) pxToEm(15px);
            border-radius: 50%;
            background-color: #e5cca3;
            border: pxToEm(3px) solid #f4f1e9;
            box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.75), inset 0px 2px 2px 0px rgba(98, 57, 0, 0.24);
            &.penweight1{
                background-image: url(resources/wood/images/toolbar_weight_s.png);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: auto 100%;
            }
            &.penweight2{
                background-image: url(resources/wood/images/toolbar_weight_m.png);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: auto 100%;
            }
            &.penweight3{
                background-image: url(resources/wood/images/toolbar_weight_w.png);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: auto 100%;
            }
            &.colordark{
                &:after{
                    content:"";
                    position: absolute;
                    left: pxToEm(5px);
                    right: pxToEm(5px);
                    top: pxToEm(5px);
                    bottom: pxToEm(5px);                     
                    border-radius:50%;
                    background: #333333;
                }
            }
            &.colorred {
                &:after{
                    content:"";
                    position: absolute;
                    left: pxToEm(5px);
                    right: pxToEm(5px);
                    top: pxToEm(5px);
                    bottom: pxToEm(5px);                     
                    border-radius:50%;
                    background: #ff4a32;
                }
            }
            &.colorgrey {
                &:after{
                    content:"";
                    position: absolute;
                    left: pxToEm(5px);
                    right: pxToEm(5px);
                    top: pxToEm(5px);
                    bottom: pxToEm(5px);                     
                    border-radius:50%;
                    background: #e1e1e1;
                }
            }
            &.on,&:active{
                border-color: #ff8f00;
                &:before {
                    position: absolute;
                    bottom: pxToEm(6px);
                    right: pxToEm(-9px);
                    z-index: 1;
                    content: "";
                    width: pxToEm(22px);
                    height: pxToEm(22px);
                    background: url(resources/wood/images/toolbar_tool_on.png) no-repeat top right;
                    background-size: 100% auto; 
                }
            }
        }
    }
    .nhw_penbox,.nhw_classtoolbox{
        .nhw_listcon{
            width: pxToEm(108px);
            height: pxToEm(108px);
            margin: pxToEm(-35px) 0 pxToEm(6px) pxToEm(-9px);
            border-radius: 0;
            border: none;
            box-shadow: none;
            background-position: 0 0px;
        }
    }
    .nhw_penbox{
        padding-bottom: pxToEm(14px);
        .nhw_listcon{
            position: relative;
            .preview{
                display: none;
                position: absolute;
                left: pxToEm(10px);
                bottom: pxToEm(-12px);
            }
            &:active,&.on{
                .preview{
                    display: block; 
                }
            }
        }
        .pen1 {
            background: url(resources/wood/images/toolbar_pen_1.png) no-repeat;
            background-size: auto 100%; 
            &:before{
                display:none;
            }
            &:active,&.on{
                background: url(resources/wood/images/toolbar_pen_1_press.png) no-repeat;
                background-size: auto 100%;
                background-position: pxToEm(-9px) pxToEm(22px);
            }
            &.preview{
                width: pxToEm(246px);
                height: pxToEm(30px);
                background-size: 100% auto;
                background-repeat: no-repeat;
            }
            .bold_black {
                background-image: url(resources/wood/images/pen_brushwork/pen1_bold_black.png); 
            }
            .bold_grey {
                background-image: url(resources/wood/images/pen_brushwork/pen1_bold_grey.png); 
            }
            .bold_red {
                background-image: url(resources/wood/images/pen_brushwork/pen1_bold_red.png); 
            }
            .nor_black {
                background-image: url(resources/wood/images/pen_brushwork/pen1_nor_black.png); 
            }
            .nor_grey {
                background-image: url(resources/wood/images/pen_brushwork/pen1_nor_grey.png); 
            }
            .nor_red {
                background-image: url(resources/wood/images/pen_brushwork/pen1_nor_red.png); 
            }
            .thin_black {
                background-image: url(resources/wood/images/pen_brushwork/pen1_thin_black.png); 
            }
            .thin_grey {
                background-image: url(resources/wood/images/pen_brushwork/pen1_thin_grey.png); 
            }
            .thin_red {
                background-image: url(resources/wood/images/pen_brushwork/pen1_thin_red.png); 
            }
        }
        .pen2{
            background: url(resources/wood/images/toolbar_pen_2.png) no-repeat;
            background-size: auto 100%; 
            &:before{
                display:none;
            }
            &.on,&:active{
                background: url(resources/wood/images/toolbar_pen_2_press.png) no-repeat;
                background-size: auto 100%;
                background-position: pxToEm(-9px) pxToEm(22px);
            }
            .preview {
                width: pxToEm(180px);
                height: pxToEm(30px);
                background-size: 100% auto;
                background-repeat: no-repeat; 
            }
            .bold_black {
                background-image: url(resources/wood/images/pen_brushwork/pen2_bold_black.png); 
            }
            .bold_grey {
                background-image: url(resources/wood/images/pen_brushwork/pen2_bold_grey.png); 
            }
            .bold_red {
                background-image: url(resources/wood/images/pen_brushwork/pen2_bold_red.png); 
            }
            .nor_black {
                background-image: url(resources/wood/images/pen_brushwork/pen2_nor_black.png); 
            }
            .nor_grey {
                background-image: url(resources/wood/images/pen_brushwork/pen2_nor_grey.png); 
            }
            .nor_red {
                background-image: url(resources/wood/images/pen_brushwork/pen2_nor_red.png); 
            }
            .thin_black {
                background-image: url(resources/wood/images/pen_brushwork/pen2_thin_black.png); 
            }
            .thin_grey {
                background-image: url(resources/wood/images/pen_brushwork/pen2_thin_grey.png); 
            }
            .thin_red {
                background-image: url(resources/wood/images/pen_brushwork/pen2_thin_red.png); 
            }
        }
        .pen3 {
            background: url(resources/wood/images/toolbar_pen_3.png) no-repeat;
            background-size: auto 100%; 
            &:before{
                display:none;
            }
            &:active,&.on{
                background: url(resources/wood/images/toolbar_pen_3_press.png) no-repeat;
                background-size: auto 100%;
                background-position: pxToEm(-9px) pxToEm(22px);
            }
            .preview {
                width: pxToEm(80px);
                height: pxToEm(30px);
                background-size: 100% auto;
                background-repeat: no-repeat; 
            }
            .bold_black {
                background-image: url(resources/wood/images/pen_brushwork/pen3_bold_black.png); 
            }
            .bold_grey {
                background-image: url(resources/wood/images/pen_brushwork/pen3_bold_grey.png); 
            }
            .bold_red {
                background-image: url(resources/wood/images/pen_brushwork/pen3_bold_red.png); 
            }
            .nor_black {
                background-image: url(resources/wood/images/pen_brushwork/pen3_nor_black.png); 
            }
            .nor_grey {
                background-image: url(resources/wood/images/pen_brushwork/pen3_nor_grey.png); 
            }
            .nor_red {
                background-image: url(resources/wood/images/pen_brushwork/pen3_nor_red.png); 
            }
            .thin_black {
                background-image: url(resources/wood/images/pen_brushwork/pen3_thin_black.png); 
            }
            .thin_grey {
                background-image: url(resources/wood/images/pen_brushwork/pen3_thin_grey.png); 
            }
            .thin_red {
                background-image: url(resources/wood/images/pen_brushwork/pen3_thin_red.png); 
            }
        }
    }
    .nhw_rubberbox {
        padding: 0 0 pxToEm(15px) pxToEm(15px); 
        white-space: nowrap;
        .nhw_listcon {
            width: auto;
            padding: 0 pxToEm(15px);
            background: transparent;
            .icon{
                display: block;
                margin: pxToEm(9px) auto;
                width: pxToEm(105px);
                height: pxToEm(88px);
            }
            &:before{
                display:none;
            }
            .tit {
                display: inline-block;
                height: pxToEm(36px);
                margin: pxToEm(3px);
                // margin-top: pxToEm(117px);
                padding: 0 pxToEm(12px);
                line-height: pxToEm(32px);
                text-align: center;
                border-radius: pxToEm(18px);
                color: #999;
                .txt{
                    font-size: pxToEm(18px);
                }
            }
            &:active,&.on{
                .tit{
                    color: #000;
                    border-radius: pxToEm(18px);
                    background: #e1c08d;
                    box-shadow: inset 0px pxToEm(3px) pxToEm(3px) rgba(98, 57, 0, 0.24);
                }
                &:before{
                    display: block;
                    right: auto;
                    left: 50%;
                    margin-left: pxToEm(30px);
                }
            }
        }
    }
    .nhw_classtoolbox{
        .toolbar_rubber1 {
            .icon{
                background: url(resources/wood/images/toolbar_rubber_1_off.png) no-repeat;
                background-size: 100% auto;
            }
            &.on,&:active{
                .icon{
                   background: url(resources/wood/images/toolbar_rubber_1.png) no-repeat;
                   background-size: 100% auto;
                   background-position: pxToEm(3px) pxToEm(12px); 
                }
            }
        }
        .toolbar_rubber2 {
            .icon{
                background: url(resources/wood/images/toolbar_rubber_2_off.png) no-repeat;
                background-size: 100% auto;
            }
            &.on,&:active{
                .icon{
                    background: url(resources/wood/images/toolbar_rubber_2.png) no-repeat;
                    background-size: 100% auto;
                    background-position: pxToEm(3px) pxToEm(12px);
                }
            }
        }
    }
}
/* /右侧手写工具栏 */
/*公共手写板分页提取*/
.uicomwrite-page-item{
    display: inline-block;
    height: pxToEm(52px);
    margin: 0 pxToEm(40px);
    background: #c4c0b8;
    border: pxToEm(2px) solid #898681;
    border-bottom: none;
    border-radius: pxToEm(50px);
    vertical-align: middle;
    .page-number{
        display: inline-block;
        min-width: pxToEm(100px);
        padding: 0 pxToEm(5px);
        color: #fff;
        vertical-align: middle;
    }
    .highlight{
        color: #ff7e00;
        font-size: pxToEm(32px);
    }
}
/* 书写界面按钮组css */
    .uicomwrite-paper-btns{
        position: absolute;
        bottom: pxToEm(30px);
        left: 0;
        width: 100%;
        height: pxToEm(56px);
        text-align: center;
    }
    .uicomwrite-btn-delete,.uicomwrite-btn-add,.uicomwrite-btn-prev,.uicomwrite-btn-next{
        display: inline-block;
        border-radius: 50%;
        background-image: linear-gradient(to top, #cecdcd 0%,#faf9f9 100%);
        box-shadow: 0px pxToEm(3px) pxToEm(3px) 0px rgba(4, 0, 0, 0.3);
        width: pxToEm(48px);
        height: pxToEm(48px);
        vertical-align: middle;
        text-align: center;
        &:after{
            content: '';
            display: inline-block;
            width: pxToEm(28px);
            height: pxToEm(28px);
            margin: pxToEm(10px) 0;
        }
        &:active,&.ui-btn-active{
            background-image: linear-gradient(to top, #fffdfa 0%,#fed490 100%);
            border: pxToEm(2px) solid #f17201;
            &:after{
                margin: pxToEm(8px) 0;
            }
        }
    }
    .uicomwrite-btn-delete,.uicomwrite-btn-add{
        &.disable{
            background: #c8c7c7;
            opacity: .6;
            cursor: no-drop;
            &:active,&.ui-btn-active{
                border: none;
                &:after{
                    margin: pxToEm(10px) 0;
                }
            }
        }
    }
    .uicomwrite-btn-prev,.uicomwrite-btn-next{
        &.disable{
            background: #fff;
            opacity: .4;
            cursor: no-drop;
            &:active,&.ui-btn-active{
                border: none;
                &:after{
                    margin: pxToEm(10px) 0;
                }
            }
        }
        &:after{
            width: pxToEm(20px);
        }
    }
    .uicomwrite-btn-delete{
        &:after{
            background: url(resources/wood/images/icon_delete.png) no-repeat center center;
            background-size: pxToEm(28px) auto;
        }
    }
    .uicomwrite-btn-add{
        &:after{
            background: url(resources/wood/images/icon_add.png) no-repeat center center;
            background-size: pxToEm(28px) auto;
        }
    }
    .uicomwrite-btn-prev{
        &:after{
            background: url(resources/wood/images/icon_prev.png) no-repeat left center;
            background-size: auto pxToEm(28px);
        }
    }
    .uicomwrite-btn-next{
        &:after{
            background: url(resources/wood/images/icon_next.png) no-repeat right center;
            background-size: auto pxToEm(28px);
        }
    }
    
    /* /书写界面按钮组css */
    .uicomwrite-word-count{
        position: absolute;
        right: 2.25em;
        bottom: 3.5em;
        text-align: right;
        color: #9a9a9a;
        span{
            font-size: pxToEm(26px);
        }
    }