@charset "UTF-8";
.wordpuzzle {
    position: relative;
    width: 100%;
    height: 100%;/* 
    .com_layout_main {
        left: 0;
        right: 0;
        top: pxToEm(68px);
        bottom: 0;
    } */
    /* s 组件: 面板2 */
    .sideboard {
        position: relative;
        float: right;
        height: 100%;
        width: pxToEm(400px);
        margin: 0 pxToEm(10px);
        text-align: left;
    }
    .sidehead {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: pxToEm(84px);
        border-radius: pxToEm(18px) pxToEm(18px) 0 0;
        text-align: left;
        z-index: 2;
        .tit{
            padding-left: pxToEm(40px);
            font-weight: bold;
            color: #824f06;
            line-height: pxToEm(84px);
            .em{
                font-size: pxToEm(36px);
            }
        }
    }
    .sidecon {
        height: 100%;
        border-bottom: pxToEm(6px)  solid transparent;
        border-radius: 0 0 pxToEm(18px) pxToEm(18px);
        overflow: auto;
        z-index: 1;
    }
    .manage_right {
        position: absolute;
        top: pxToEm(24px);
        right: 0;
        left: 0;
        bottom: pxToEm(24px);
        padding: pxToEm(62px) 0 0;
        border-radius: pxToEm(18px);
        border: pxToEm(1px) solid #d09c4a;
        // background: url(resources/wood/images/bg_sideboard.png) repeat-x;
        // background-size: auto 100%;
        background: linear-gradient(to bottom, #e1c08f, #cda569);
        box-shadow: 0 pxToEm(6px) pxToEm(12px) 0 #c4975f;
        .com_m_sidehead {
            text-align: center;
            z-index: 5;
        }
    }
    .sidecon_box{
        padding: 0 pxToEm(7px) pxToEm(15px);
    }
    .tip_normal{
        position: relative;
        padding: 0 pxToEm(60px) 0 pxToEm(16px);
        line-height: pxToEm(56px);
        margin-top: pxToEm(8px);
        color: #333;
        .num,
        .word{
            word-wrap: break-word;
            word-break: break-word;
            //word-break: break-all;
            font-size: pxToEm(40px);
        }
        &.correct{
            background-color: #f3e1b6;
            border: pxToEm(1px) solid #ead0a1;
            &:after{
                content: '';
                position: absolute;
                top: pxToEm(12px);
                right: pxToEm(10px);
                width: pxToEm(30px);
                height: pxToEm(33px);
                background: url(resources/wood/images/correct.png) center center no-repeat;
                background-size: contain;
            }
        }
    }
    /* e 组件: 面板2 */

    .cellMiddle{
        white-space: nowrap;
        &:after{
            content: '';
            display: inline-block;
            width: 0;
            height: 100%;
            vertical-align: middle;
        }
    }
    .manage_right{
        vertical-align: middle;
        margin: 0;
        .com_m_sidehead{
            text-align: center;
            z-index: 5;
        }
    }
   /* .tip_box{
        position: relative;
        height: 100%;
        margin-right: pxToEm(2px);
        padding: pxToEm(40px) pxToEm(40px) 0 pxToEm(36px);
        text-align: left;
        overflow: auto;
    }
    .tip_normal{
        position: relative;
        padding: 0 pxToEm(12px);
        line-height: pxToEm(46px);
        margin: 0 pxToEm(40px) pxToEm(16px) 0;
        color: #333;
        .num,
        .point,
        .word{
            font-style: normal;
            font-size: pxToEm(25px);
        }
        .point{
            padding-right: pxToEm(12px);
        }
        &.correct{
            background-color: #e0e0e0;
            color: #8e8e8e;
            &:after{
                content: '';
                position: absolute;
                top: pxToEm(5px);
                right: pxToEm(-60px);
                width: pxToEm(41px);
                height: pxToEm(42px);
                background: url(resources/wood/images/correct.png) center center no-repeat;
                background-size: 100% auto;
            }
        }
    }*/
    .com_m_sidecon {
        box-shadow: none !important;
    }
    .manage_right_tit{
        color: #fff6e4;
        line-height: pxToEm(58px);
        font-size: pxToEm(26px);
    }
    .manage_left{
        height: 100%;
        overflow: hidden;
        text-align: center;
        .mainbox{
            display: inline-block;
            position: relative;
            .bluebox_container{
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
            }
            .bluebox{
                position: absolute;
                border: pxToEm(4px) solid #27b1ea;
                border-radius: pxToEm(17px);
                z-index: 11;
                overflow: hidden;
                pointer-events: none;
                &.blue_x{
                    height: pxToEm(71px);
                    width: pxToEm(152px);
                    left: pxToEm(16px);
                    top: pxToEm(24px);
                }
                &.blue_y{
                    width: pxToEm(71px);
                    height: pxToEm(237px);
                    right: pxToEm(97px);
                    top: pxToEm(24px);
                    border-color: #73b108;
                }
            }
            .num_box_x,.num_box_y{
                position: absolute;
                top: 0;
                z-index: 11;
                min-width: pxToEm(20px);
                min-height: pxToEm(22px);
                padding: 0 pxToEm(5px);
                line-height: pxToEm(22px);                
                color: #fff;
                .num{
                    font-size: pxToEm(24px);
                }                
            }
            .num_box_x{
                left:0;
                background: #27b1ea;
                border-radius: pxToEm(10px) 0 pxToEm(10px) 0;
            }
            .num_box_y{
                border-radius: 0 pxToEm(10px) 0  pxToEm(10px);
                right:0;
                background: #73b108;
            }
        }
        .manage_box{
            display: inline-block;
            padding: pxToEm(15px) pxToEm(20px);
            vertical-align: middle;
            background: rgba(217, 167, 101, .35);
            border-radius: pxToEm(17px);
            box-shadow: 0 -1px pxToEm(5px) 1px #b8894c;
        }
         .box_normal{
            float: left;
            position: relative;
            width: pxToEm(67px);
            height: pxToEm(67px);
            text-align: center;
            margin: pxToEm(3px) pxToEm(4px);
            background: rgba(168, 114, 42, 0.51);
            border-radius: pxToEm(14px);
            overflow: hidden;
            &:before{
                z-index: 9;
                content: "";
                position: absolute;
                left: pxToEm(-3px);
                right: pxToEm(-3px);
                top: pxToEm(-3px);
                bottom: pxToEm(-3px);
                background: url(resources/wood/images/shadow_01.png) no-repeat center center;
                background-size: 100% 100%;
            }
            &.done{
                background: none;
                &:before{
                    z-index: 9;
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    background: url(resources/wood/images/bg_done.png) no-repeat center center;
                    background-size: 100% 100%;
                }
            }
            &.disabled{
                background: rgba(168, 114, 42, 0.15);
            }
            .word{
                position: relative;
                z-index: 10;
                width: 100%;
                height: 93%;
                background: none;
                border: none;
                text-align: center;
                color: #422701;
                font-size: pxToEm(46px);
            }
        }
        .largeBox{
            &.less{
                width: pxToEm(418px);
            }
            &.many{
                width: pxToEm(495px);
            }
        }
        .normalBox{
            &.less{
                width: pxToEm(565px);
            }
            &.many{
                width: pxToEm(640px);
            }
        }
        .smallBox{
            &.less{
                width: pxToEm(720px);
            }
            &.many{
                width: pxToEm(790px);
            }
        }
    }
}
.com_wrapper_pad{
    .wordpuzzle {
        .sideboard {
            width: pxToEm(444px);
        }
    }
}
