.com_pop_nubuck{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    //background: rgba(0, 0, 0, 0.5);
    z-index: 90;
    &:after{
        display: inline-block;
        width: 0;
        height: 100%;
        vertical-align: middle;
        content: "";
    }
    .nubuck_content{
        display: inline-block;
        vertical-align: middle;
        width: pxToEm(614px);
        height: pxToEm(336px);
        background: url(resources/common/pop/sky/images/pop_s_big.png) center center no-repeat;
        background-size: 100% auto;
        position: relative;
    }
    .nubuck_main{
        padding:pxToEm(40px) pxToEm(60px) pxToEm(14px);
        line-height:1.5;
        font-size: pxToEm(30px);
        color: #603300;
        text-align: center;
        height:pxToEm(106px);
        box-sizing: content-box;
    }
    .nubuck_bottom{
        .com_btn_square_s {
            margin: 0 pxToEm(26px);
        }
    }
}
/*提示框样式*/
.notice_tip_box{
    position: fixed;
    z-index: 9995;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    .notice_tip_con{
        padding: pxToEm(25px) pxToEm(45px);
        position: relative;
        display: inline-block;
        vertical-align: middle;
        max-width: pxToEm(870px);
        color: #fff;
        background: rgba(0,0,0,.7);
        border-radius: pxToEm(50px);
        .notice_tip_text{
            font-size: pxToEm(30px);
            line-height: 1.5;
        }
    }
    &:after {
        display: inline-block;
        vertical-align: middle;
        content: "";
        width: 0;
        height: 100%;
    }
}
/*提示框样式结束*/
/*连连看答题正确和错误弹窗*/
.com_pop_ans_result{
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 50%;
    margin: 0 auto;
    margin-top: pxToEm(-163px);
    width: pxToEm(535px);
    height: pxToEm(326px);
    padding: pxToEm(24px) pxToEm(32px);
    border-radius: pxToEm(20px);
    text-align: center;
    &.correct{
        border: pxToEm(10px) solid #5cafe3;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,.2), 0 7px 10px rgba(4,0,0,.6);
        background-image: linear-gradient(to top, #c4efff, #fff);
    }
    &.wrong{
        border: pxToEm(10px) solid #5cafe3;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,.2), 0 7px 10px rgba(4,0,0,.6);
        background-image: linear-gradient(to top, #c4efff, #fff);
    }
    .ans_result_tit{
        text-align: center;
        color: #028f95;
        line-height: 1.5;
        font-size: pxToEm(36px);
    }
    .ans_result_time{
        margin-top: pxToEm(36px);
        position: relative;
        display: inline-block;
        padding: 0 pxToEm(36px);
        height: pxToEm(90px);
        line-height: pxToEm(82px);
        border-radius: pxToEm(41px);
        background-color: #fff4a6;
        box-shadow: inset 0 pxToEm(3px) pxToEm(3px) rgba(147,98,40,.45), inset 0 0 pxToEm(4px) rgba(147,98,40,.45);
        border: pxToEm(3px) solid #ffa800;
        text-align: center;
        color: #955802;
        span{
            font-size: pxToEm(36px);
        }
        &:before{
            content: "";
            display: block;
            position: absolute;
            left: pxToEm(-18px);
            top: pxToEm(-15px);
            width: pxToEm(51px);
            height: pxToEm(53px);
            background: url(resources/common/pop/sky/images/icon_star_lt.png) center center no-repeat;
            background-size: 100% auto;
        }
        &:after{
            content: "";
            display: block;
            position: absolute;
            right: pxToEm(4px);
            bottom: pxToEm(-14px);
            width: pxToEm(47px);
            height: pxToEm(34px);
            background: url(resources/common/pop/sky/images/icon_star_rb.png) center center no-repeat;
            background-size: 100% auto;
        }
    }
    .ans_result_bottom{
        padding-top: pxToEm(68px);
        color: #028f95;
        text-align: center;
        line-height: 1.5;
        font-size: pxToEm(20px);
    }
}
/*连连看答题正确和错误弹窗*/

