.addon_demo {
  @import "../../../common/resources/common/setting/wood/setting";
  @import "../../../common/resources/common/function/function";
  .demo_main {
    padding: pxToEm(50px);
    h1 {
      font-size: pxToEm(36px);
    }
    h2 {
      font-size: pxToEm(30px);
    }
    img {
      width: pxToEm(724px);
      height: pxToEm(696px);
    }
    .canvas {
      text-align: center;
    }
  }
}