/*汉字听写部分样式 by 陈晶晶  拼音和田字格部分样式 */
.chineseCharacter-module-spell {
	 height: pxToEm(450px);
 }
 .chineseCharacter-module-spell-box {
 	width: pxToEm(1470px);
 	height: 100%;
    text-align: center;
 }
 .chineseCharacter-module-spell-item {
 	display: inline-block;
 	width: pxToEm(345px);
 	height: 100%;
 	margin-right: pxToEm(20px);
    &.on{
        .spell_characters{
            border: pxToEm(4px) solid #ff9600;  
        }
    }
 	&:last-child {
		margin-right: 0;
 	}
 }
 .spell_letter {
 	width: pxToEm(345px);
 	height: pxToEm(70px);
 	margin-bottom: pxToEm(30px);
 	text-align: center;
 }
 .spell_letter-text {
	font-size: pxToEm(80px);
	color: #000;
 }
 .spell_characters {
 	height: pxToEm(345px);
 	width: pxToEm(345px);
 	background: url(resources/wood/images/character_letter_bg.png) no-repeat center center;
 	background-size: pxToEm(345px) auto;
 	border: pxToEm(4px) solid #f0a598;
 	&.active {
 		border: pxToEm(4px) solid #fd9812;
 	}
 }
 .spell_characters-box {
 	width: 100%;
 	height: 100%;
 	&.demo-bg {
 		background: url(resources/demopic/character.png) no-repeat center center;
 		background-size: pxToEm(345px) auto;
 	}
 }

