.nqti-module-header{
    color: #333;
    margin-top: 0;
    margin-right: pxToEm(20px);
    .nqti-header-text{
        font-size: pxToEm(46px);
        line-height: 1.8;
    }
    + .nqti-module-body{
        padding-top: 0;
        .nqti-module-listnum{
            top: 0;
        }
    }
}
.nqti-module-body {
    margin-right: pxToEm(20px);
    //padding-top: pxToEm(12px);
    position: relative;
}
.nqti-hide-dom{ display: none !important;}
.nqti-player-loading{
    text-align: center;
    width:100%;
    height:pxToEm(48px);
    line-height: 1;
    position: absolute;
    left:0;
    top:50%;
    margin: pxToEm(-32px) 0 0 0;
    padding-right: pxToEm(64px);
    display: none;
    span{
        font-size: pxToEm(32px);
        color: #333;
    }
}
.nqti-player-body{
    // height: 100%;
    // overflow-y: auto;
    >p{
        font-size: pxToEm(46px);
        color: #333;
        //margin-top: .265em;
        margin-right: pxToEm(10px);
        line-height: 1.8;
        word-wrap: break-word;
        em{
            font-style: italic;
        }
        .nqti-module-body {
            padding: 0;
            margin: 0;
        }
        .nqti-base-fill{
            font-size: 1em;
        }
    }
}
.nqti-module-title{
    color: #333;
    word-wrap: break-word;
    .nqti-title-text{
        line-height: 1.8;
        font-size: pxToEm(46px);
        color: #333;
        em{
            font-style: italic;
        }
    }
}
.nqti-module-media{
    margin-bottom: pxToEm(12px);
}
.nqti-hint-box{
    margin: pxToEm(12px) 0;
}
.nqti-module-content{
    margin: pxToEm(24px) 0;
}
//加载中
.nqti-player-run-loading{
    overflow: hidden;
    .nqti-module-header{
        visibility: hidden;
    }
    .nqti-module-body{
        visibility: hidden;
    }
    .nqti-player-loading{
        display: block;
    }
}
//加载动画
.nqti-loading-dotting {
    display: inline-block; 
    width: 10px; 
    min-height: 2px;
    margin-left: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border-left: 2px solid currentColor; 
    border-right: 2px solid currentColor;   
    background-color: currentColor; 
    background-clip: content-box;
    box-sizing: border-box;
    animation: nqtiloaddot 3s infinite step-start both;
    &:before { content: ''; }
}
//题目序号
.nqti-module-show-num{
    .nqti-module-header{
        //padding-left: pxToEm(90px);
    }
    .nqti-module-body{
        padding-left: pxToEm(90px);
    }
    .nqti-module-listnum{
        display: block;
    }
}
.nqti-module-listnum{
    display: none;
    position: absolute;
    left: 0;
    //top: pxToEm(12px);
    top: 0;
    .nqti-listnum-text{
        line-height: 1.8;
        font-size: pxToEm(46px);
        color: #333;
    }
    .nqti-listnum-dot{
        line-height: 1.8;
        font-size: pxToEm(46px);
        color: #333;
    }
}
/*复合题*/
