
.fraction_container{padding: 0 pxToEm(20px);}
.fraction_body{
  margin-top:pxToEm(120px);
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}
.fraction_inline{ display: inline-block;}
.com_wrapper_pad{
  .fraction_body{margin-top: pxToEm(120px);}
}
.fraction_box {
  position: relative;
  height: 100%;
  z-index: 333;
  text-align: center;
  .remind {
    margin-bottom: pxToEm(20px);
    font-size: pxToEm(36px);
    text-align: center;    
    line-height: pxToEm(26px);
    color: #333;
    text-align: center;
    //padding-left:pxToEm(150px);
  }
  .fraction_single{
    margin: pxToEm(15px) 0 pxToEm(30px);
    display: inline-block;
    vertical-align: middle;
    p{
      padding:0 pxToEm(4px);
      height: pxToEm(80px);
      line-height: pxToEm(65px);
      vertical-align: top;
    }
    span{
      padding: 0 pxToEm(7px);
      display: inline-block;
      min-width: pxToEm(100px);
      padding: pxToEm(5px) pxToEm(10px);
      background: url(resources/wood/images/btn2_normal.jpg) repeat-x left center;
      background-size: auto 100%;
      border-radius: pxToEm(4px);
      border: 1px solid #c0811c;
      &.fraction_symbol{
        background: none;
        border: none;
        min-width: 0;
      }
    }
    em{font-size: pxToEm(60px);color: #824f06;line-height: 1; vertical-align: middle;}
    .fraction_edit{
      padding: 0;
      position: relative;
      display: inline-block;
      width: pxToEm(150px);
      height: pxToEm(80px);
      background: #c69856;
      vertical-align: middle;
      // overflow: hidden;
      &.on{border: pxToEm(2px) solid #a6ff47; }
      &.res_right{
        border:pxToEm(2px) solid #b2c253;
        &:after{
          content: "";
          position: absolute;
          bottom: pxToEm(-7px);
          right: pxToEm(-10px);
          display: inline-block;
          width: pxToEm(24px);
          height: pxToEm(24px);
          border-radius: 50%;
          background: #b2c253 url(resources/wood/images/icon_right.png) no-repeat;
          background-size: 100% auto;
        }
      }
      &.res_err{
        border:pxToEm(2px) solid #db4f36;
        vertical-align: middle;
        &:after{
          content: "";
          position: absolute;
          bottom: pxToEm(-7px);
          right: pxToEm(-10px);
          display: inline-block;
          width: pxToEm(24px);
          height: pxToEm(24px);
          border-radius: 50%;
          background: #db4f36 url(resources/wood/images/icon_wrong.png) no-repeat;
          background-size: 100% auto;
        }
      }
      input{
        padding: 0 pxToEm(7px);
        display: block;
        width: 100%;
        height: 100%;
        background: #c69856;
        border-radius: pxToEm(4px);
        font-size: pxToEm(60px);
        color: #fff;
        text-align: center;
      }
    }
    .fraction_line{
      margin:pxToEm(10px) 0;
      padding: 0;
      height: pxToEm(2px);
      background: #8d5d11;
    }
  }
}
.fraction_symbol{
  padding: 0 pxToEm(7px);
  display: inline-block;
  font-size:pxToEm(24px);
  color: #824f06;
  line-height: pxToEm(7px);
  vertical-align: middle;
  font-weight: bold;
  &>em{
    font-size: pxToEm(60px);
  }
}
.keyboard{
  margin: pxToEm(10px) auto 0;
  width: 100%;
  letter-spacing: pxToEm(-7px);
  .sidel{
    display: inline-block;
    width: pxToEm(495px);
    vertical-align: middle;
    letter-spacing: pxToEm(-7px);
  }
  .com_u_btn2{
    margin:pxToEm(8px) pxToEm(8px) 0 0;
    padding: 0 pxToEm(7px);
    width: auto;
    min-width:pxToEm(90px);
    height: pxToEm(70px);
    line-height: pxToEm(70px);
    background:url(resources/wood/images/btn2_normal.jpg) repeat-x left center;
    background-size: auto 100%;
    outline: none;
    border-radius: pxToEm(4px);
    font-size: 1em;
    font-weight: normal;
    color: #8a5d1b;
    letter-spacing: normal;
    em{
      font-size: pxToEm(60px);
    }
    &:active{
      background: url(resources/wood/images/btn2_press.png) no-repeat;
      background-size: 100% 100%;
    }
  }
  .com_u_btn3{
    margin:pxToEm(10px) 0 0;
    width: pxToEm(90px);
    height: pxToEm(152px);
    background: url(resources/wood/images/btn3_normal.jpg) repeat-x left center;
    background-size: auto 100%;
    border-radius: pxToEm(4px);
    border: 1px solid #f5bfbb;
    text-align: center;
    outline: none;
    font-size: pxToEm(24px);
    letter-spacing: normal;
    white-space: nowrap;
    .icon{
      display: inline-block;
      width: pxToEm(68px);
      height: pxToEm(44px);
      background: url(resources/wood/images/icon_del.png) no-repeat;
      background-size: 100% auto;
      vertical-align: middle;
    }
    &:after{
      content: "";
      display: inline-block;
      width: 0;
      height: 100%;
      vertical-align: middle;
    }
    &:active{
      background: url(resources/wood/images/btn3_press.png) no-repeat;
      background-size: 100% 100%;
    }
  }
}

/*回答正确与错误*/
.respondRes_tip {
  margin: 0.83333em 0 -0.83333em;
  padding: 0 0.83333em;
  font-size: pxToEm(60px);
  text-align: center;
  &.respond_right {
    color: #258d52;
  }
  &.respond_error {
    color: #ea0707;
  }
}
