@import "../../common/resources/common/setting/wood/setting";
@import "../../common/resources/common/mixin/mixin";
@import "../../common/resources/common/function/function";
// 木质皮肤
.exam_skin_wood {
    @import "resources/wood/style_wood";
}

// 天空皮肤
.exam_skin_sky {
    @import "resources/sky/style_sky";
}


@-webkit-keyframes sound {
    0% {background-position: 0px 0px, 0px 0px;}
    100% {background-position: -300% 0px, 0px 0px;}
}
@keyframes sound {
    0% {background-position: 0px 0px, 0px 0px;}
    100% {background-position: -300% 0px, 0px 0px;}
}