// 隐藏头部，手机端用原生
// .com_layout_header {
//     display: none;
// }

//外层div设置宽度100%
.com_layout,
.com_wrapper_pad,
.com_layout_container {
    height: 100%;
}
.com_wrapper_pad {
    height: 100%;
    padding-top: pxToEm(88px);
}
//垂直居中
%vm {
    &:after {
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%;
        content: "";
    }
}

/* 头部 */
.com_layout_header {
    position: absolute;
    width: 100%;
    height: pxToEm(88px);
    top: 0;
    left: 0;
    padding-left: pxToEm(68px);
    background: #38acff;
    overflow: hidden;
}
.com_header_time {
    float: left;
    .time_text, .upload {
        display: none;
    }
    .com_time {
        .time_default  {
            
            .time_m, .time_s {
                display: inline-block;
                vertical-align: top;
                em {
                    font-style: normal;
                    font-size: pxToEm(34px);
                    line-height: 2.5;
                    color: #fff;
                }
            }
            i {
                display: inline-block;
                vertical-align: top;
                margin: 0 pxToEm(3px) 0 pxToEm(6px);
                font-style: normal;
                font-size: pxToEm(34px);
                line-height: 2.4;
                color: #fff;
            }
        }
    }
}
/*时间，提交按钮*/
.com_header_tool {
    position: absolute;
    top: 0;
    right: 0;
    .com_btn_round {
        display: inline-block;
        padding: 0 pxToEm(16px);
        min-width: pxToEm(110px);
        height: pxToEm(88px);
        line-height: pxToEm(88px);
        .text_box {
            font-size: pxToEm(34px);
            color: #fff;
        }
    }
    &.return {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        right: auto;
        .btn-return {
            display: block;
            width: pxToEm(68px);
            height: pxToEm(88px);
            background: url(resources/mobile/images/icon_return.png) no-repeat center center;
            background-size: 100% auto;
        }
    }
}
/* 头部end */
/* 比较大小 */

.compare_main {
    position: relative;
    // height: 100%;
    z-index: 333;
    background: #f5f5f5;
    //隐藏弹窗
    &.respondence_layout {
        .analysis_module {
            display: none;
        }
        .correct_ans {
            display: none;
        }
        .com_layout_main_exam .compare_bottom_tool {
            display: block;
        }
        .com_layout_main_exam .com_layout_main .exam_box {}
        .com_layout_main_exam .com_layout_main {
            height: pxToEm(726px);
            border-radius: pxToEm(10px) pxToEm(10px) 0 0;
        }
    }
    .com_pop_ans_result {
        display: none;
    }
    .moving_tool {
        display: none;
    }
    .com_layout_main_exam {
        width: 100%;
        padding: pxToEm(30px) pxToEm(26px) pxToEm(34px);
        line-height: 1.2;
        background: #fff;
        .compare_bottom_tool {
            display: none;
        }
        &.notit {
            .com_layout_tit {
                display: none;
            }
        }
    }
    .correct_ans {
        width: 100%;
        padding: pxToEm(30px) pxToEm(26px) pxToEm(34px);
        line-height: 1.2;
        background: #fff;
        margin-top: pxToEm(20px);
        .com_layout_tit {
            .tit {
                color: #1095fb;
            }
        }
        .com_layout_main {
            background: #def4ff;
            box-shadow: none;
            border-radius: pxToEm(10px);
        }
    }
    .analysis_module {
        width: 100%;
        padding: pxToEm(30px) pxToEm(26px) pxToEm(34px);
        line-height: 1.2;
        background: #fff;
        margin-top: pxToEm(20px);
        .com_layout_tit {
            .tit {
                color: #1095fb;
            }
        }
        p {
            font-size: pxToEm(32px);
            font-family: 华文细黑;
            color: #000000;
        }
    }
    .com_layout_tit {
        width: 100%;
        position: relative;
        background: #fff;
        padding: 0 pxToEm(2px) pxToEm(15px);
        .tit {
            color: #000000;
            font-size: pxToEm(34px);
        }
    }
    .com_layout_main {
        padding: pxToEm(39px) pxToEm(11px);
        background: #e8e8e8;
        // border-radius: pxToEm(10px) pxToEm(10px) 0 0;
        border-radius: pxToEm(10px);
        box-shadow: inset 0 pxToEm(7px) 1px #dee1e2;
        margin-bottom: pxToEm(9px);
        height: pxToEm(685px);
        .exam_box {
            // padding:pxToEm(39px) pxToEm(37px) pxToEm(37px);
            // height: pxToEm(726px);
            height: 100%;
            overflow-y: auto;
            li {
                position: relative;
                margin-bottom: pxToEm(32px);
                height: pxToEm(90px);
                line-height: pxToEm(90px);
                text-align: center;
                display: flex;
                &:last-child{
                    margin-bottom: 0;
                }
            }
            &.scrollbar_style_simple::-webkit-scrollbar-thumb {
                background-color: #d0d0d0;
                border-radius: pxToEm(10px);
                //-webkit-border-image: url(resources/wood/images/vertical-thumb.png) 11 11;
            }
            &.scrollbar_style_simple::-webkit-scrollbar {
                width: pxToEm(9px);
                height: pxToEm(3px);
                //-webkit-border-image: url(resources/wood/images/vertical-thumb.png) 11 11;
            }
        }
    }
    //底部操作栏
    .compare_bottom_tool {
        height: pxToEm(351px);
        background: #e8e8e8;
        border-radius: 0 0 pxToEm(10px) pxToEm(10px);
        box-shadow: inset 0 pxToEm(6px) 1px #dee1e2;
        padding: pxToEm(34px) pxToEm(73px);
        .bottom_tools {
            text-align: center;
            li {
                position: relative;
                display: inline-block;
                width: pxToEm(152px);
                height: pxToEm(122px);
                background: #38acff;
                line-height: pxToEm(104px);
                border: pxToEm(5px) solid #fff;
                border-radius: pxToEm(10px);
                box-shadow: 0 pxToEm(7px) 1px 1px #d9dada;
                cursor: pointer;
                text-align: center;
                margin: pxToEm(13px);
                em {
                    font-size: pxToEm(65.41px);
                    color: #fff;
                    font-weight: bold;
                }
                &:active {
                    background-color: #3093d9;
                }
                &.ui_btn_selected {
                    background-color: #3093d9;
                }
            }
        }
    }
    //底部操作栏end
    //习题序号
    .module_number {
        display: none;
    }
    .module_left {
        margin: 0 pxToEm(5px);
        display: inline-block;
        width: pxToEm(238px);
        height: 100%;
        color: #000000;
        overflow: hidden;
        background: #ffffff;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-radius: pxToEm(10px);
        border: pxToEm(2px) solid #dddddd;
        box-shadow: 0 pxToEm(4px) 1px pxToEm(2px) #dddddd;
        flex:1;
        padding: 0 pxToEm(5px);
    }
    .module_right {
        margin: 0 pxToEm(5px);
        display: inline-block;
        width: pxToEm(238px);
        height: 100%;
        color: #000000;
        overflow: hidden;
        background: #ffffff;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-radius: pxToEm(10px);
        border: pxToEm(2px) solid #dddddd;
        box-shadow: 0 pxToEm(4px) 1px pxToEm(2px) #dddddd;
        flex:1;
        padding: 0 pxToEm(30px);
    }
    .module_fz_em {
        font-size: pxToEm(59.56px);
        color: #000000;
    }
    .module_mid {
        display: inline-block;
        width: pxToEm(120px);
        height: pxToEm(93px);
        vertical-align: top;
        background: #fff;
        border-radius: pxToEm(10px);
        cursor: pointer;
        box-shadow: 0 pxToEm(5px) 1px 0 #dddddd;
        &:active {
            .com_u_btn2 {
                background-color: #3093d9;
            }
        }
        .com_u_btn2 {
            display: inline-block;
            width: pxToEm(110px);
            height: pxToEm(83px);
            line-height: pxToEm(75px);
            background-color: #adedff;
            border-radius: pxToEm(10px);
            vertical-align: middle;
            em {
                font-size: pxToEm(50px);
                color: #fff;
                font-weight: bold;
            }
            &.com_s_on {
                background-color: #3093d9;
            }
            &.com_s_error {
                background: #f53532;
            }
            &.com_s_right {
                background: #24ab00;
            }
        }
    }
}


/* 比较大小end */
