@charset "UTF-8";
* {
    font-family: '华文细黑','Microsoft YaHei', Helvetica, Arial, sans-serif;
}
/*布局*/
$fontSize: pxToEm(34px);
@mixin clearfix {
    &:before, &:after {
        display: table;
        content: "";
        line-height: 0
    }
    &:after {
        clear: both;
    }
        
}
.com_layout {
    height: 100%;
}
.com_wrapper_board {
    height: 100%;
    padding-top: pxToEm(88px);
}
.com_layout_header {
    position: absolute;
    width: 100%;
    height: pxToEm(88px);
    top: 0;
    left: 0;
    padding-left: pxToEm(68px);
    background: #38acff;
    overflow: hidden;
}
.com_layout_container {
    width: 100%;
    margin: 0 auto;
    /*max-width: pxToEm(750px);*/
    height: 100%;
    overflow: auto;
}
.hide_dom {
    display: none !important;
}
/*时间，提交按钮*/
.com_header_tool {
    position: absolute;
    top: 0;
    right: 0;
    .com_btn_round {
        display: inline-block;
        padding: 0 pxToEm(16px);
        min-width: pxToEm(110px);
        height: pxToEm(88px);
        line-height: pxToEm(88px);
        .text_box {
            font-size: $fontSize;
            color: #fff;
        }
    }
    &.return {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        right: auto;
        .btn-return {
            display: block;
            width: pxToEm(68px);
            height: pxToEm(88px);
            background: url(resources/mobile/images/icon_return.png) no-repeat center center;
            background-size: 100% auto;
        }
    }
}
.com_header_time {
    float: left;
    .time_text, .upload {
        display: none;
    }
    .com_time {
        .time_default  {
            
            .time_m, .time_s {
                display: inline-block;
                vertical-align: top;
                em {
                    font-style: normal;
                    font-size: $fontSize;
                    line-height: 2.5;
                    color: #fff;
                }
            }
            i {
                display: inline-block;
                vertical-align: top;
                margin: 0 pxToEm(3px) 0 pxToEm(6px);
                font-style: normal;
                font-size: $fontSize;
                line-height: 2.4;
                color: #fff;
            }
        }
    }
}
.com_layout_tit {
    padding: pxToEm(28px) pxToEm(26px) pxToEm(9px);
    background: #fff;
    .tit {
        font-size: $fontSize;
        line-height: 1.5;
    }
}
.matchit {
    position: relative;
    padding-bottom: pxToEm(100px);
    background: #f5f5f5;
    word-wrap: break-word;
    word-break: break-word;
    .color_blue {
        color: #1095fb !important;
    }
    .com_m_mainboard_1 {
    }
    .com_layout_main {
        /*width: pxToEm(750px);*/
        margin: 0 auto;
    }
    .com_m_mainboard_1 {
        width: 100%;
        padding-bottom: pxToEm(36px);
        background: #fff;
        .match_board_bg {
            position: relative;
            margin: 0 auto;
            width: pxToEm(698px);
            height: pxToEm(1170px);
            background: #e8e8e8;
            border-radius: pxToEm(13px);
            border-top: pxToEm(7px) solid #dee1e2;
        }
    }
    .com_m_sideboard_1 {
        margin-top: pxToEm(19px);
        padding: pxToEm(20px) pxToEm(20px) pxToEm(24px);
        background: #fff;
        .match_counter {
            display: inline-block;
            vertical-align: top;
            .moment_num, .max_num, i {
                font-size: $fontSize;
                line-height: 2.1;
                color: #000;
            }
            .moment_num {
                color: #1095fb;
            }
        }
        .com_m_sidehead {
            padding-left: pxToEm(6px);
        }
        .match_sidehead_tit {
            display: inline-block;
            vertical-align: top;
            .txt {
                font-size: $fontSize;
                line-height: 2.1;
                color: #000;
            }
        }
        &.correct_answer {
            .match_icon {
                display: none !important;
            }
            .match_list {
                background: #def4ff !important;
            }
            .match_counter {
                display: none !important;
            }
            .match_sidehead_tit .txt {
                color: #1095fb !important;
            }
        }
        &.answer_area {
            .match_icon {
                display: none !important;
            }
            .match_list {
                background: #e8e8e8 !important;
            }
        }
        &.answer_analysis {
            .com_m_sidecon .txt {
                font-size: pxToEm(32px);
                line-height: 1.5;
                color: #000;
            }
        }
    }

    .match_left_result {
        width: 100%;
        .match_unfinished, .match_user_done {
            @include clearfix;
        }
        
        li {
            position: relative;
            float: left;
            width: 50%;
            padding: pxToEm(6px);
            .match_icon {
                z-index: 10;
                position: absolute;
                left: 50%;
                top: 50%;
                width: pxToEm(56px);
                height: pxToEm(56px);
                margin-left: pxToEm(-28px);
                margin-top: pxToEm(-28px);
                background: url(resources/mobile/images/right.png) no-repeat center center;
                background-size: 100% 100%;
            }
            &.match_right {
                .match_list {
                    background: #f0ffde;
                }
                .match_icon {
                    background-image: url(resources/mobile/images/right.png);
                }
            }
            &.match_wrong {
                .match_list {
                    background: #ffeeee;
                }
                .match_icon {
                    background-image: url(resources/mobile/images/wrong.png);
                }
            }
        }
        
        .match_list {
            width: 100%;
            height: 100%;
            padding: pxToEm(18px) pxToEm(30px) pxToEm(14px);
            background: #e8e8e8;
            border-radius: pxToEm(14px);
            text-align: center;
        }
        .list_m_box {
            display: inline-block;
            white-space: nowrap;
            @include clearfix;
            .ins_line {
                /*float: left;*/
                display: inline-block;
                vertical-align: top;
                width: pxToEm(6px);
                height: pxToEm(130px);
            }
            .list_m_pic, .list_m_text {
                /*float: left;*/
                display: inline-block;
                vertical-align: top;
                white-space: normal;
                width: pxToEm(130px);
                height: pxToEm(130px);
                padding: 0 pxToEm(6px) pxToEm(12px);
                background: url(resources/mobile/images/box_bg.png) no-repeat center center;
                background-size: 100% 100%;
                border-radius: pxToEm(14px);
                overflow: hidden;
            }
            .list_m_pic {
                position: relative;
                img {
                    width: 100%; 
                    height: 100%;
                    border-radius: pxToEm(14px);
                }
            }
            .list_m_text {
                text-align: center;
                &:after {
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    width: 0;
                    height: 100%;
                }
                p {
                    display: inline-block;
                    max-width: 88%;
                    vertical-align: middle;
                    text-align: left;
                    color: #1095fb;
                }
                .text_s {
                    font-size: pxToEm(24px);
                }
                .text_m {
                    font-size: pxToEm(32px);
                }
                .text_l {
                    font-size: pxToEm(40px);
                }
            }
        }
        
    }
}
