
/* 媒体演示样式 */
.ec_com_media {
    width: pxToEm(580px);
    .ec_carousel {
        display: inline-block;
        position: relative;
        width: 100%;
        height: pxToEm(366px);
        overflow: hidden;
        .carousel_content {
            position: relative;
            width: 400%;
            height: 100%;
            font-size: 0;
            ul {
                width: 100%;
                height: 100%;
            }
            li {
                display: inline-block;
                width: 25%;
                height: 100%;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
        .carousel_points_group {
            position: absolute;
            right: pxToEm(35px);
            bottom: pxToEm(30px);
        }
        .carousel_points_group a {
            display: inline-block;
            width: pxToEm(8px);
            height: pxToEm(8px);
            margin: 0 pxToEm(2px);
            border-radius: 50%;
            background-color: rgba(255, 132, 0, 0.4);
            cursor: pointer;
        }
        .carousel_points_group a.on {
            background-color: #ff8400;
        }
    }
    .ec_video {
        display: inline-block;
        width: 100%;
        height: pxToEm(366px);
    }
    .media_switch {
        position: relative;
        left: pxToEm(-6px);
        margin-top: pxToEm(8px);
    }
    .switch_carousel,
    .switch_video {
        position: relative;
        display: inline-block;
        width: pxToEm(106px);
        height: pxToEm(106px);
        background: url(resources/wood/images/card_tab_bg.png) no-repeat;
        background-size: 100% 100%;
        cursor: pointer;
    }
    .switch_carousel:active,
    .switch_video:active {
        background: url(resources/wood/images/card_tab_bg_active.png) no-repeat;
        background-size: 100% 100%;
    }
    .switch_carousel.on,
    .switch_video.on {
        background: url(resources/wood/images/card_tab_bg_active.png) no-repeat;
        background-size: 100% 100%;
    }
    .media_switch span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: pxToEm(87px);
        height: pxToEm(87px);
    }
    .switch_carousel span {
        background: url(resources/wood/images/card_tab_pic.png) no-repeat;
        background-size: 100% 100%;
    }
    .switch_video span {
        background: url(resources/wood/images/card_tab_video.png) no-repeat;
        background-size: 100% 100%;
    }
}

.ec_com_media.only_carousel {
    .en_card_video,
    .media_switch {
        display: none;
    }
}

/* 英语单词 */
.ec_com_word_show {
    display: inline-block;
    width: 100%;
    height: pxToEm(134px);
    padding-left: pxToEm(15px);
    background: url(resources/wood/images/bg_word_showing.png) repeat-x;
    background-size: auto 100%;
    em {
        font: pxToEm(80px) 'Microsoft YaHei';
        line-height: 1.45;
    }
}

/* 英标样式 */
.ec_com_phonetic {
    display: inline-block;
    width: pxToEm(580px);
    color: #565451;
    .ec_phonetic_txt {
        display: inline-block;
        vertical-align: middle;
        margin-right: pxToEm(24px);
        font: pxToEm(43px) 'Microsoft YaHei';
    }
    .word_audio {
        display: inline-block;
        vertical-align: bottom;
        width: pxToEm(50px);
        height: pxToEm(54px);
        background: url(resources/wood/images/card_voicebg.png) 0 pxToEm(-64px) no-repeat;
        background-size: 100% auto;
        cursor: pointer;
        &:active {
            opacity: 0.6;
        }
        &.disabled {
            background-position: 0 0;
        }
    }
}

/* 释义 */
.ec_com_definition {
    display: inline-block;
    width: pxToEm(580px);
    color: #585858;
    span {
        font: pxToEm(43px) 'Microsoft YaHei';
    }
}

/* 变形 */
.ec_com_transform {
    width: pxToEm(500px);
    p {
        font: pxToEm(43px) 'Microsoft YaHei';
        line-height: pxToEm(73px);
    }
}

/* 词组 */
.ec_com_phrase {
    width: pxToEm(500px);
    p {
        font: pxToEm(43px) 'Microsoft YaHei';
        span:first-child {
            margin-right: pxToEm(22px);
        }
        em {
            color: #ff8400;
        }
    }
}

/* 例句 */
.ec_com_sentences {
    width: pxToEm(500px);
    li {
        padding-left: 0;
    }
    p {
        font: pxToEm(43px) 'Microsoft YaHei';
        em {
            color: #ff8400;
        }
    }
    .en_sentence a {
        display: inline-block;
        width: pxToEm(20px);
        height: pxToEm(22px);
        margin-left: pxToEm(10px);
        vertical-align: middle;
        background: url(resources/wood/images/card_voicebg.png) 0 pxToEm(-28px) no-repeat;
        background-size: 100% auto;
        cursor: pointer;
        &:active {
            opacity: 0.6;
        }
        &.disabled {
            background-position: 0 0;
        }
    }
}

.hide_dom {
    display: none;
}

/*词汇卡-老师上课-主体部分*/

.english_card_wrapper {
    position: absolute;
    left: pxToEm(100px);
    top: pxToEm(100px);
    height: pxToEm(888px);
    padding-right: pxToEm(232px);
    border-radius: pxToEm(20px);
    background: #fff;
    overflow: hidden;
    border: 1px solid #D6D1D1;
    box-shadow: #bbbbbb pxToEm(1px) pxToEm(5px) pxToEm(15px) pxToEm(2px);
    .btn_card_close {
        display: inline-block;
        position: absolute;
        z-index: 10;
        right: pxToEm(6px);
        top: 0;
        width: pxToEm(48px);
        height: pxToEm(50px);
        text-indent: -9999px;
        background: #d4d4d4;
        border-bottom-left-radius: pxToEm(18px);
        border-top-right-radius: pxToEm(8px);
        &:active {
            background: #e4e4e4;
        }
        &:before {
            content: "";
            z-index: 9;
            position: absolute;
            left: pxToEm(12px);;
            top: pxToEm(13px);;
            width: pxToEm(24px);
            height: pxToEm(24px);
            background: url(resources/wood/images/card_closebtn.png) no-repeat center center;
            background-size: 100% 100%;
        }
    }
}

/*左侧详细模块内容*/
.english_card_main {
    padding: pxToEm(66px) pxToEm(26px) pxToEm(54px) pxToEm(72px);
    height: 100%;
    min-width: 52em;
    .english_card_main_wrap {
        height: 100%;
        width: 100%;
        .detail_info_scroll {
            overflow-y: auto;
            &::-webkit-scrollbar {
                width: pxToEm(14px);
                height: pxToEm(14px);
            }
            &::-webkit-scrollbar-track {
                height: 100%;
                background-color: rgba(#e3e3e3, 0.5);
            }
            &::-webkit-scrollbar-thumb {
                border: pxToEm(14px) solid transparent;
                border-image: url(resources/wood/images/bg_detail_info_scroll.png) 9 9;
            }

        }
        .detail_info_media {
            float: left;
            margin-top: pxToEm(10px);
        }
        .detail_info_left {
            min-width: pxToEm(500px);
            max-width: pxToEm(1110px);
            width: pxToEm(580px);
            position: relative;
        }
        .detail_info_right {
            float: right;
            //height: pxToEm(370px);
            height: 100%;
            border: 1px solid #bdbdbd;
            border-radius: 1px;
            margin-left: pxToEm(30px);
            margin-top: pxToEm(-252px);
            ul li {
                padding-left: pxToEm(22px);
                padding-top: pxToEm(22px);
                padding-bottom: pxToEm(22px);
                border-bottom: 1px dashed #bdbdbd;
                &:first-child {
                    padding-top: 0;
                    padding-bottom: 0;
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}

//1-6年级短语+例句
.show_sentences {
    .english_card_main_wrap {
        .detail_info_left {
            width: 100%;
        }
        .detail_info_right {
            margin-top: pxToEm(10px);
            height: pxToEm(370px);
        }
    }
    .english_card_menu {
        .phonetic, .transform, .phrase {
            display: none;
        }
        .definition {
            border-top: 1px solid #bababa;
        }
    }

}

//3-4年级时
.english_card_middle, .english_card_junior {
    .english_card_menu .menu_list {
        .transform, .phrase, .sentences {
            display: none;
        }
    }
    .detail_info_right {
        display: none;
    }
    .english_card_main{
        min-width: 26em;
    }
}

//1-2年级时
.english_card_junior .english_card_menu .btn_start_practice {
    display: none;
}

/*右侧菜单栏样式*/
.english_card_menu {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: pxToEm(232px);
    border-left: 1px solid #d9d9d9;
    background-image: linear-gradient(to right, #fefefe, #f2f2f2);
    border-right: pxToEm(6px) solid #f0a598;
    .menu_list {
        padding-top: pxToEm(65px);
        margin-right: pxToEm(-6px);
    }
    .item_menu {
        height: pxToEm(89px);
        border-bottom: 1px solid #bababa;
        border-top: 1px solid #ffffff;
        &.on .menu {
            color: #fff;
        }
        .menu {
            display: block;
            height: 100%;
            line-height: pxToEm(88px);
            color: #333;
            text-align: center;
            .word {
                font-style: normal;
                font-size: pxToEm(36px);
            }
        }
    }
    .phonetic {
        border-top: 1px solid #bababa;
        border-right: pxToEm(6px) solid #f875a5;
        &.on .menu {
            background-image: linear-gradient(to right, #f9dbe5, #f875a5);
        }
    }
    .definition {
        border-right: pxToEm(6px) solid #ffbb42;
        &.on .menu {
            background-image: linear-gradient(to right, #f8e5cc, #ffbd48);
        }
    }
    .media {
        border-right: pxToEm(6px) solid #cdd940;
        &.on .menu {
            background-image: linear-gradient(to right, #d8ebb6, #c3ff50);
        }
    }
    .transform {
        border-right: pxToEm(6px) solid #be9a3f;
        &.on .menu {
            background-image: linear-gradient(to right, #f0e1c0, #be9a3f);
        }
    }
    .phrase {
        border-right: pxToEm(6px) solid #74baa9;
        &.on .menu {
            background-image: linear-gradient(to right, #c9ece3, #6dcdb6);
        }
    }
    .sentences {
        border-right: pxToEm(6px) solid #98ba74;
        &.on .menu {
            background-image: linear-gradient(to right, #e3ece0, #98ba74);
        }
    }
    .btn_all_hide, .btn_all_show, .btn_start_practice {
        display: block;
        position: absolute;
        right: pxToEm(24px);
        width: pxToEm(174px);
        height: pxToEm(58px);
        line-height: pxToEm(58px);
        font-size: pxToEm(24px);
        text-align: center;
        //border: 1px solid rgba(0,0,0,.2);
        box-shadow: #e1e1e1 0 0 pxToEm(3px) pxToEm(3px);
        background-image: linear-gradient(to bottom, #fcfcfc, #e6e6e6);
        border-radius: pxToEm(32px);
        &:active {
            background-image: linear-gradient(to top, #fcfcfc, #e6e6e6);
        }
    }
    .btn_all_hide, .btn_all_show {
        color: #323232;
        bottom: pxToEm(170px);
    }
    .btn_start_practice {
        color: #ff8400;
        bottom: pxToEm(62px);
    }
}