@charset "UTF-8";
@import "resources/baseModule/mixin";
body{ margin: 0; height: 100%; line-height: 1;}
html, body{ border: 0;
    user-select:none;
}
html { height: 100%;}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0
}

.clearfix:after {
    clear: both;
}

// 木质皮肤
.exam-skin-wood {
    height: 100%;
    box-sizing: border-box;
    @import "resources/baseModule/reset";
    @import "resources/baseModule/function";
    @import "resources/baseModule/setting";    
    @import "resources/baseModule/layout/wood/layout";   
    @import "resources/baseModule/button/wood/button";
    @import "resources/baseModule/pop/wood/pop";
    @import "resources/baseModule/scrollbar/wood/scrollbar";
    //预加载
    .baseMod-preload-img-01{
        display:none;
        background-image: url(resources/baseModule/button/wood/images/btn2_press.png);      
    }
}