@charset "UTF-8";
/*田字格*/
.wordcard_teach {
    height: pxToEm(715px);
}
.wordcard_teach .cardmenu{
    .item_menu:nth-child(7) {
        border-right: pxToEm(6px) solid #36b2c9;
        &.on .menu {
            background-image: linear-gradient(to right, #d7ecee, #72c1cf);
        }
    }
}
.wordcard_jiexi_container {
    position: relative;
    height: 100%;
}
.chinesegrid {
    display: none;
    position: relative;
    width: pxToEm(1044px);
    height: 100%;
    overflow: hidden;
    text-align: left;
    opacity: 1.0;
    .chinesegrid_main {
        position: relative;
        width: 43.5em;
        height: pxToEm(603px);
        text-align: center;
    }
    .tzg_main_canvas {
        z-index: 9;
        position: absolute;
        left: 0;
        top: 0;
    }
    .tzg_show_canvas {
        width: 100%;
        height: 100%;
    }
    /*田字格中间书写区域*/
    .chinesegrid_write_gridnum_single {
        display: inline-block;
        width: pxToEm(240px);
        margin-top: pxToEm(128px);
        margin-left: pxToEm(76px);
        &.hide_line {
            .pinyinwrap {
                visibility: hidden;
            }
        }
    }
    .chinesegrid_write_gridnum_eight {
        display: inline-block;
        margin-top: pxToEm(334px);
        .wordwrap_s {
            margin-left: pxToEm(-5px);
        }
    }
    .pinyinwrap {
        position: relative;
        height: pxToEm(86px);
        margin-bottom: pxToEm(11px);
        .pinyin {
            height: 100%;
            text-align: center;
            color: #333333;
            letter-spacing: pxToEm(8px);
            background: url(resources/wood/images/bg_py_writting.png) repeat-x;
            background-size: auto 100%;
            .word{
                font-style: normal;
                line-height: 1.5;
                font-size: pxToEm(36px);
            }
            .color_red {
                color: #c84747;
            }
        }
    }
    .wordwrap {
        position: relative;
        width: pxToEm(240px);
        height: pxToEm(240px);
        background: url(resources/wood/images/write_grid_one.png) no-repeat center center;
        background-size: auto 100%;
        &:after {
            content:"";
            display: -block;
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            top: 0;
            border: pxToEm(5px) solid #f0a598;
        }
    } 
    .wordwrap_s {
        position: relative;
        float: left;
        position: relative;
        width: pxToEm(125px);
        height: pxToEm(125px);
        background: #fff url(resources/wood/images/write_grid_s.png) no-repeat center center;
        background-size: 100% 100%;
        &:after {
            content:"";
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            top: 0;
            border: pxToEm(5px) solid #f0a598;
        }
    }
    .wordwrap_inner {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(resources/wood/images/wordwrap_inner.png) no-repeat center center;
        background-size: pxToEm(121px) pxToEm(121px);
    }
    .chinesegrid_container {
        position: relative;
    }

    .tzg_switch {
        position: relative;
        display: inline-block;
        z-index: 10;
        &.on {
            .tzg_switch_on {
                display: inline-block;
            }
            .tzg_switch_off {
                display: none;
            }
        }
        /*复用on,off*/
        &.gridhelp_line {
            .tzg_switch_on {
                .tzg_switch_icon {
                    background: url(resources/wood/images/switch_help_on.png) no-repeat center center;
                    background-size: 100% auto;
                }
            }
            .tzg_switch_off {
                .tzg_switch_icon {
                    background: url(resources/wood/images/switch_help_off.png) no-repeat center center;
                    background-size: 100% auto;
                }
            }
        }
        &.gridword_show {
            .tzg_switch_on {
                .tzg_switch_icon {
                    background: url(resources/wood/images/switch_show_on.png) no-repeat center center;
                    background-size: 100% auto;
                }
            }
            .tzg_switch_off {
                .tzg_switch_icon {
                    background: url(resources/wood/images/switch_show_off.png) no-repeat center center;
                    background-size: 100% auto;
                }
            }
        }
    }
    /*on，off通用样式--*/
    .tzg_switch_on {
        display: none;
        position: relative;
        min-width: pxToEm(82px);
        height: pxToEm(35px);
        margin-top: pxToEm(12px);
        padding: 0 pxToEm(35px) 0 pxToEm(10px);
        border: pxToEm(2px) solid #f5f5f5;
        border-radius: pxToEm(18px);
        background: #ffb400;
        line-height: pxToEm(27px);
        cursor: pointer;
    }
    .tzg_switch_off {
        display: inline-block;
        position: relative;
        min-width: pxToEm(82px);
        height: pxToEm(35px);
        margin-top: pxToEm(12px);
        padding: 0 pxToEm(10px) 0 pxToEm(35px);
        border: pxToEm(2px) solid #f5f5f5;
        border-radius: pxToEm(18px);
        background: #bababa;
        line-height: pxToEm(27px);
        cursor: pointer;
    }
    .tzg_switch_on {
        .tzg_switch_icon {
            right: pxToEm(-8px);
            top: pxToEm(-6px);
        }
    }
    .tzg_switch_off {
        .tzg_switch_icon {
            left: pxToEm(-8px);
            top: pxToEm(-6px);
        }
    }
    .tzg_switch_icon {
        display: inline-block;
        position: absolute;
        width: pxToEm(44px);
        height: pxToEm(44px);
    }
    .tzg_switch_text {
        font-size: pxToEm(14px);
        color: #fff;
    }
    /*--on，off通用样式*/
    /*田字格演示区域*/
    .chinesegrid_show {
        z-index: 10;
        position: absolute;
        left: pxToEm(40px);
        top: pxToEm(20px);
        display: inline-block;
        width: pxToEm(175px);
        .wordwrap {
            width: pxToEm(175px);
            height: pxToEm(175px);
        }
        .wordwrap_inner {
            background-size: pxToEm(87px) pxToEm(87px);
        }
        .pinyinwrap {
            height: pxToEm(62px);
        }
    }
    /*田字格底部栏*/
    .chinesegrid_btm {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: pxToEm(111px);
        border-top: 1px solid #d5d5d5;
    }
    .gridmode_option{
        float: left;
        position: relative;
        height: 100%;
        padding: pxToEm(28px) pxToEm(24px) 0;
        border-right: pxToEm(2px) dashed rgba(172,172,172,.3);
        &.on ,&:active {
            .gridmode_line {
                opacity: .7;
            }
            &:before {
                z-index: -1;
                content:"";
                display: inline-block;
                position: absolute;
                left: 0;
                right: 0;
                top: pxToEm(2px);
                bottom: pxToEm(1px);
                background: #c0e8f2;
                background: radial-gradient(#c0e8f2 0%, #b9e0e9 61%, #afd4dd 100%);
            }
        }
    }
    .chinesegrid_writetool_list {
        float: left;
        position: relative;
        height: 100%;

        .write_tool {
            position: relative;
            margin-left: pxToEm(24px);
            margin-top: pxToEm(13px);
            .write_tool_icon {
                width: pxToEm(88px);
                height: pxToEm(88px);
            }
        }
    }
    .gridmode_container {
        height: 100%;
        padding-left: pxToEm(18px)
    }
    .gridmode_line {
        position: absolute;
        left: 0;
        right: 0;
        top: pxToEm(9px);
        margin: 0 auto;
        display: inline-block;
        width: pxToEm(65px);
        height: pxToEm(14px);
        background: url(resources/wood/images/icon_pinbg.png) repeat-x;
        background-size: auto 100%;
        opacity: .3;
    }
    .gridmode_grid {
        position: relative;
        float: left;
        width: pxToEm(65px);
        height: pxToEm(65px);
        background: #fff url(resources/wood/images/icon_grid_one.png) no-repeat center center;
        background-size: 100% 100%;
        &:after {
            content: '';
            position: absolute;
            display: block;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            border: pxToEm(3px) solid #f0a598;
        }
    }
    .gridmode_eight {
        padding-left: pxToEm(27px);
        .gridmode_grid {
            margin-left: pxToEm(-4px);
        }
    }
    /*橡皮擦*/
    .xpc_type_container {
        z-index: 10;
        position: absolute;
        padding: pxToEm(5px) pxToEm(6px) 0;
        bottom: pxToEm(86px);
        right: pxToEm(-14px);
        height: pxToEm(137px);
        border-radius: pxToEm(20px);
        white-space: nowrap;
        background: url(resources/wood/images/xpc_pop_bg.png) repeat-x left top;
        background-size: auto 100%;
        &:before {
            content:"";
            z-index: 1;
            position: absolute;
            left: 0;
            top: 0;
            width: pxToEm(25px);
            height: pxToEm(137px);
            background: url(resources/wood/images/xpc_pop_left.png) no-repeat;
            background-size: auto 100%;
        }
        &:after {
            content:"";
            z-index: 1;
            position: absolute;
            right: 0;
            top: 0;
            width: pxToEm(70px);
            height: pxToEm(137px);
            background: url(resources/wood/images/xpc_pop_right.png) no-repeat;
            background-size: auto 100%;
        }
    }
    .xpc_type_btn {
        position: relative;
        z-index: 10;
        display: inline-block;
        margin: 0 pxToEm(6px);
        text-align: center;
        &.xpc_clearall {
            .xpc_type_icon {
                background: url(resources/wood/images/xpc_type_clearall_normal.png) no-repeat center center;
                background-size: pxToEm(86px) pxToEm(66px);
            }
            &:active {
                .xpc_type_icon {
                    background: url(resources/wood/images/xpc_type_clearall_active.png) no-repeat center center;
                    background-size: pxToEm(86px) pxToEm(66px);
                }
                 .xpc_type_word {
                    border-radius: pxToEm(30px);
                    color: #333;
                    background: linear-gradient(to bottom, #b1d2da 0%, #c0e8f2 13.3%, #c0e8f2 100%);
                }
            }
        }
        &.xpc_ordi {
            .xpc_type_icon {
                background: url(resources/wood/images/xpc_type_ordi_normal.png) no-repeat center center;
                background-size: pxToEm(86px) pxToEm(66px);
            }
            &:active {
                .xpc_type_icon {
                    background: url(resources/wood/images/xpc_type_ordi_active.png) no-repeat center center;
                    background-size: pxToEm(86px) pxToEm(66px);
                }
                .xpc_type_word {
                    border-radius: pxToEm(30px);
                    color: #333;
                    background: linear-gradient(to bottom, #b1d2da 0%, #c0e8f2 13.3%, #c0e8f2 100%);
                }
            }
        }
    }
    .xpc_type_icon {
        display: block;
        width: 100%;
        height: pxToEm(66px);
    }
    .xpc_type_word {
        display: inline-block;
        padding: 0 pxToEm(10px);
        line-height: pxToEm(26px);
        height: pxToEm(30px);
        color: #b9b9b9;
        .text {
            font-size: pxToEm(18px);
            font-style: normal;
        }  
    }
}
/*田字格弹窗*/
.chinesegrid_pop {
    z-index: 500;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.45);
    text-align: center;
    &:after{
        content:"";
        display: inline-block;
        width: 0;
        height: 100%;
        vertical-align: middle;
    }
}
.chinesegrid_prom {
    display: inline-block;
    width: pxToEm(568px);
    padding: pxToEm(44px) 0 pxToEm(34px);
    border-radius: pxToEm(20px);
    background: #fff;
    text-align: center;
    color: #333;
}
.gridprom_text {
    padding: 0 pxToEm(48px);
    margin-bottom: pxToEm(34px);
    .text {
        font-size: pxToEm(36px);
        line-height: 1.6;
    }
}
.btn_gridprom_tip {
    display: inline-block;
    padding: 0 pxToEm(44px);
    margin: 0 pxToEm(26px);
    min-width: pxToEm(180px);
    height: pxToEm(56px);
    line-height: pxToEm(54px);
    background: linear-gradient(to bottom, #fefefe 0%, #f2f2f2 100%);
    border: 1px solid #eaeaea;
    border-radius: pxToEm(30px);
    cursor: pointer;
    &.color_light {
        color: #ffa200;
    }
    &:active {
        background: linear-gradient(to bottom, #f2f2f2 0%, #fefefe 100%);
    }
}
