@charset "UTF-8";
@import "resources/common/mixin/mixin";
body{ margin: 0; height: 100%; line-height: 1;}
html, body{ border: 0;
    user-select:none;
}
html { height: 100%;}
.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
    line-height: 0
}

.clearfix:after {
    clear: both;
}

// 木质皮肤
.exam_skin_wood {
    height: 100%;
    box-sizing: border-box;
    @import "resources/common/reset/reset";
    @import "resources/common/setting/wood/setting";
    @import "resources/common/function/function";
    @import "resources/common/layout/wood/layout";
    @import "resources/common/button/wood/button";
    @import "resources/common/time/wood/time";
    @import "resources/common/pop/wood/pop";
    @import "resources/common/board/wood/board";
    @import "resources/common/scrollbar/wood/scrollbar";
    @import "resources/common/tips/wood/tips";
    @import "resources/common/switch/wood/switch";
    //预加载
    .uedc_preload_img_01{
        display:none;
        background-image: url(resources/common/button/wood/images/btn_round.png);        
    }
    .uedc_preload_img_02{
        display:none;
        background-image: url(resources/common/button/wood/images/icon_tick.png);
    }
}
// 天空皮肤
.exam_skin_sky {
    height: 100%;
    box-sizing: border-box;
    @import "resources/common/reset/reset";
    @import "resources/common/setting/wood/setting";
    @import "resources/common/function/function";
    @import "resources/common/layout/sky/layout";
    @import "resources/common/button/sky/button";
    @import "resources/common/time/sky/time";
    @import "resources/common/pop/sky/pop";
    @import "resources/common/board/wood/board";
    @import "resources/common/scrollbar/sky/scrollbar";
    @import "resources/common/tips/sky/tips";
}

// 手机端
.exam_mobile{
    height: 100%;
    box-sizing: border-box;
    @import "resources/common/reset/reset";
    @import "resources/common/setting/wood/setting";
    @import "resources/common/function/function";
    @import "resources/common/layout/mobile/layout";
}