@charset "UTF-8";

.nqti-base-connectLine-container {
    padding-left: pxToEm(127px);
}
/* 连线图片和文字区域 */
.nqti-base-connectLine-list-ul {
    float: left;
    margin-right: pxToEm(191px);
}
.nqti-base-connectLine-list {
    position: relative;
    width: pxToEm(240px);
    height: pxToEm(135px);
    margin-top: pxToEm(24px);
    text-align: center;
    background: #f7f7f7;
    color: #333;
    border-radius: pxToEm(14px);
    cursor: default;
    &:after {
        content: "";
        display: inline-block;
        width: 0;
        height: 100%;
        vertical-align: middle;
    }
    /* 边框 */
    &:before {
        pointer-events:none;
        z-index: 10;
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border: 2px solid #c5c5c5;
        border-radius: pxToEm(10px);
    }
    /* 选中态 */
    &.on,
    &:active {
        &:before {
            border: 3px solid #854700;
        }
    }
    &.correct{
        &:before {
            border: 3px solid #69b300;
        }
    }
    &.error{
        &:before {
            border: 3px solid #ff491f;
        }
    }
    &.nqti-base-connectLine-only-pic , &.nqti-base-connectLine-pic-text{
        img {
            max-width: 100%;
            max-height: 100%;
            vertical-align: middle;
        }
    }
    &:first-child{
        margin: 0;
    }
}
.nqti-base-connectLine-list-img {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: pxToEm(12px);
    overflow: hidden;
    &:after {
        content: "";
        display: inline-block;
        width: 0;
        height: 100%;
        vertical-align: middle;
    }
}
.nqti-base-connectLine-list-btm {
    z-index: 9;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: pxToEm(2px) pxToEm(10px);
    overflow: hidden;
    text-align: center;
    background: rgba(0, 0, 0, .55);
    color: #fff;
    border-radius: 0 0 pxToEm(12px) pxToEm(12px);
}
.nqti-base-connectLine-list-btm-word {
    display: block;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    font-size: pxToEm(28px);
    line-height: 1.4;
}
.nqti-base-connectLine-only-text-word {
        overflow: hidden;
        max-height: pxToEm(62px);
        padding: 0 pxToEm(10px);
        display: inline-block;
        word-wrap: break-word;
        word-break: break-all;
        vertical-align: middle;
        text-align: left;
        line-height: pxToEm(31px);
        font-size: pxToEm(40px);
        max-width:100%;
    }
.nqti-base-connectLine-list-ul:last-child {
    margin-right: 0;
}
/* 连线序号部分 */
.nqti-base-connectLine-sort-num-ul {
    float: left;
}
.nqti-base-connectLine-sort-list {
    width: pxToEm(131px);
    height: pxToEm(135px);
    margin-top: pxToEm(24px);
    text-align: center;
    &:after {
        content: "";
        display: inline-block;
        width: 0;
        height: 100%;
        vertical-align: middle;
    }
    &:first-child{
        margin: 0;
    }
}
.nqti-base-connectLine-sort-text {
    display: inline-block;
    width: pxToEm(58px);
    height: pxToEm(58px);
    color: #898989;
    border: pxToEm(2px) solid #898989;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: pxToEm(54px);
}
.nqti-base-connectLine-sort-text-word {
    display: inline-block;
    font-size: pxToEm(40px);
}

/* SVG */
.nqti-base-connectLine-svg{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 15;
    transform: translateZ(0);
}
/* 开发用 */
.nqti-base-connectLine-content{
    position: relative;
}
/* 开发用end */
/* 连线默认样式，褐色 */
.nqti-base-connectLine-normal{
    stroke: #854700;
    stroke-width: pxToEm(6px);
    /* 连线正确，绿色 */
    &.nqti-base-connectLine-correct{
        stroke: #69b300;
    }
    /* 连线错误，红色 */
    &.nqti-base-connectLine-error{
        stroke: #ff491f;
    }
    /* 连线，鼠标移上去，金黄色 */
    &.nqti-base-connectLine-hover{
        stroke: #ffae00;
    }
}