@charset "UTF-8";
.manage {
    position: relative;
    width: 100%;
    height: 100%;
    .com_layout_main {
        text-align: center;
    }
    /* s 组件: 面板 */
    .com_m_sideboard_1 {
        position: relative;
        width: pxToEm(760px);
        height: 100%;
        padding: pxToEm(101px) 0 pxToEm(35px);
        margin-left: pxToEm(35px);
        margin-right: pxToEm(77px);
        .com_m_sidehead {
            position: absolute;
            left: 0;
            top: pxToEm(35px);
            right: 0;
            height: pxToEm(66px);
            background: url(resources/wood/images/bg_sidetit1.png) repeat-x;
            background-size: auto 100%;
            border-top-left-radius: pxToEm(18px);
            border-top-right-radius: pxToEm(18px);
            
        }
        .com_m_sidecon {
            height: 100%;
            border-bottom: pxToEm(9px) solid transparent;
            background-image: url(resources/wood/images/decl_sidecon.png), url(resources/wood/images/decr_sidecon.png), url(resources/wood/images/decm_sidecon.png), url(resources/wood/images/bg_sidecon1.png);
            background-repeat: no-repeat, no-repeat, repeat-x, repeat;
            background-position: left bottom, right bottom, center bottom, left top;
            background-size: pxToEm(21px) auto, pxToEm(21px) auto, pxToEm(9px) auto, pxToEm(65px) auto;
            background-origin: border-box, border-box, border-box, content-box;
            box-shadow: pxToEm(1.5px) pxToEm(2.598px) pxToEm(19px) 0 rgba(75, 40, 0, 0.75);
            border-bottom-left-radius: pxToEm(18px);
            border-bottom-right-radius: pxToEm(18px);
        }
    }
    .com_m_mainboard_1 {
        position: relative;
        height: 100%;
        overflow: hidden;
    }
    /* e 组件: 面板 */

    .cellMiddle{
        white-space: nowrap;
        &:after{
            content: '';
            display: inline-block;
            width: 0;
            height: 100%;
            vertical-align: middle;
        }
    }
    .manage_right{
        display: inline-block;
        vertical-align: middle;
        margin: 0 1.5em 0 0;
        float: right;
    }
    .com_m_sidehead{
        text-align: center;
        z-index: 5;
    }
    .tip_box {
        position: relative;
        height: 100%;
        margin-right: pxToEm(2px);
        padding: pxToEm(24px) pxToEm(40px) 0 pxToEm(36px);
        text-align: left;
        overflow: auto;
    }
    .tip_normal{
        position: relative;
        padding: 0 pxToEm(12px);
        line-height: 1.5;
        margin: 0 pxToEm(40px) pxToEm(24px) 0;
        color: #2e2e2e;
        .num,
        .word{
            word-wrap: break-word;
            break-word: break-all;
            font-style: normal;
            font-size: pxToEm(36px);
            line-height: 1.4;
        }
        .point{
            padding-right: pxToEm(12px);
        }
        &.correct{
            background-color: #e0e0e0;
            color: #5c5c5c;
            &:after{
                content: '';
                position: absolute;
                top: pxToEm(5px);
                right: pxToEm(-60px);
                width: pxToEm(41px);
                height: pxToEm(42px);
                background: url(resources/wood/images/correct.png) center center no-repeat;
                background-size: 100% auto;
            }
        }
    }
    .com_m_sidecon {
        box-shadow: none !important;
    }
    .manage_right_tit{
        color: #fff6e4;
        line-height: 1.65;
        font-size: pxToEm(36px);
    }
    .manage_left {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
    }
    .manage_box{
        display: inline-block;
        position: relative;
        left: pxToEm(15px);
        vertical-align: middle;
        border-left: 1px solid #9d866a;
        .normal{
            float: left;
            background-color: #fff8e6;
            border: 1px solid #9d866a;
            margin: -1px 0 0 -1px;
            color: #494136;
            text-align: center;
            &.correct{
                background-color: #a8dd55;
            }
            &.correct_x{
                background-color: #a6d5e7;
            }
            &.correct_y{
                background-color: #cfe269;
            }
            &.correct_fix{
                background-color: #b1b153;
            }
            &.on{
                background-color: #d4b9c8;
            }
            .manage_text{
                font-style: normal;
            }
        }
    }
    .largeBox{
        max-width: pxToEm(769px);
        &.large_5{
            width: pxToEm(646px);
        }
        &.large_6{
            width: pxToEm(769px);
        }
        .normal{
            width: pxToEm(124px);
            height: pxToEm(124px);
            line-height: pxToEm(124px);
            .manage_text{
                font-size: pxToEm(60px);
            }
        }
    }
    .normalBox{
        max-width: pxToEm(759px);
        &.normal_5 {
            width: pxToEm(480px);
        }
        &.normal_6 {
            width: pxToEm(573px);
        }
        &.normal_7 {
            width: pxToEm(666px);
        }
        &.normal_8 {
            width: pxToEm(759px);
        }
        .normal{
            width: pxToEm(93px);
            height: pxToEm(93px);
            line-height: pxToEm(93px);
            .manage_text{
                font-size: pxToEm(48px);
            }
        }
    }
    .smallBox {
        max-width: pxToEm(762px);
        &.small_5 {
            width: pxToEm(384px);
        }
        &.small_6 {
            width: pxToEm(459px);
        }
        &.small_7 {
            width: pxToEm(534px);
        }
        &.small_8 {
            width: pxToEm(609px);
        }
        &.small_9 {
            width: pxToEm(684px);
        }
        &.small_10 {
            width: pxToEm(762px);
        }
        .normal{
            width: pxToEm(75px);
            height: pxToEm(75px);
            line-height: pxToEm(75px);
            .manage_text{
                font-size: pxToEm(40px);
            }
        }
    }
    .tip_normal .num.green{
      color: green;
    }
}
