@charset "UTF-8";
@import "../../common/resources/setting";
@import "../../common/resources/function";
// 木质皮肤
.nqti-player-skin-wood {
    @import "resources/wood/style_wood";
    /*拼图题统计*/
    &.nqti-base-puzzle-stati{
        margin: 0;
        padding: 0;
        display: inline-block;
        height: auto;
        overflow: hidden;
        .nqti-player-loading{
            display: none;
        }
        .nqti-player-body{
            margin: 0;
            padding: 0;
            display: inline-block;
            height: auto;
            overflow: hidden;
        }
        .nqti-module-body{
            margin: 0;
            padding: 0;
            display: inline-block;
            height: auto;
            min-height:0;
        }        
        .nqti-module-listnum,.nqti-module-title,.nqti-module-media,.nqti-hint-box{
            display: none;
        }
        .nqti-base-side-puzzle{
            display: none;
        }
        .nqti-module-content{
            margin: 0;
            display: inline-block;
        }
        .nqti-base-puzzle-wrap{
            margin: 0;
            box-shadow: none;
            border: none;
        }
        .nqti-base-puzzle-module{
            border: none;
        }
    }
}

// 天空皮肤
.nqti-player-skin-default {
    @import "resources/sky/style_sky";
}

