.com_layout{
    position: relative;
    height: 100%;
    overflow: hidden;
    background: url(resources/common/layout/wood/images/full_bg.jpg);
    // 题型pad端
    .com_wrapper_pad {
        width: pxToEm(1920px);
        height: pxToEm(1080px);
        position: absolute;
        top: 50%;
        left: 50%;
        margin: pxToEm(-540px) 0 0 pxToEm(-960px);
        padding: 0 pxToEm(27px);
        box-sizing: border-box;
        .k12-footer-tool {
            display: none;
        }
        .com_layout_header{
            overflow: hidden;
            height: pxToEm(114px);
            margin: 0 auto;
            z-index: 334;
            @include clearfix;
            .com_header_time {
                float: left;
                margin: 0 0 0 pxToEm(-42px);
            }
            .upload{
                display: none;
            }
            .com_header_tool {
                float: right;
                margin-top: pxToEm(4px);
            }
        }
        .com_board_btn{
            display: none;
        }
        .com_layout_container{
            width: pxToEm(1866px);
            height: pxToEm(964px);
            margin-top: pxToEm(-8px);
        }
    } 
    // 题型白板端
     .com_wrapper_board{
        width: pxToEm(1920px);
        height: pxToEm(1080px);
        position: absolute;
        top: 50%;
        left: 50%;
        margin: pxToEm(-540px) 0 0 pxToEm(-960px);
        padding: pxToEm(48px) pxToEm(96px);
        box-sizing: border-box;
        .com_layout_header{
            position: absolute;
            bottom: pxToEm(5px);
            left: pxToEm(96px);
            right: pxToEm(96px);
            text-align: center;
            height: pxToEm(105px);
            @include clearfix;
            .com_header_time{
                position: absolute;
                top: pxToEm(-970px);
                left: pxToEm(96px);
                right: pxToEm(96px);
            }
            .com_time{
                display: inline-block;
            }
            .upload{
                display: inline-block;
                font-size: pxToEm(28px);
                line-height: pxToEm(42px);
                color: #63543d;
                .upload_text{
                    font-weight: normal;
                }
                .num{
                    color: #ff2704;
                }
            }
            .com_header_tool{
                margin-top: 0;
                .icons_box{
                    display: none;
                }
            }
            .com_btn_bottom_tool {
                margin-right: pxToEm(20px);
            }
        }
        .com_layout_container{
            width: pxToEm(1728px);
            height: pxToEm(920px);
        }
    }
    .com_layout_header{
        position: relative;
        z-index: 2;
    }
    // 框架
    .com_layout_container{
        position: relative;
        margin: 0 auto;
        box-sizing: border-box;
    }
    /*习题框架*/
    .com_layout_exam_content{
        width:100%;
        height: 100%;
    }
    .com_layout_main_exam{
        position: relative;
        margin: 0;
        padding: pxToEm(22px) pxToEm(32px);
        width:100%;
        height: 100%;
        background: url(resources/common/layout/wood/images/bg_mainboard.jpg) repeat;
        background-size: auto 100%;
        box-sizing: border-box;
        &:before{
            position: absolute;
            left: 0;
            top: 0;
            content: "";
            display: inline-block;
            width: pxToEm(240px);
            height: 100%;
            background: url(resources/common/layout/wood/images/bg_boardleft.png) no-repeat;
            background-size: auto 100%;
        }
        &:after{
            position: absolute;
            top: 0;
            right: 0;
            content: "";
            display: inline-block;
            width: pxToEm(180px);
            height: 100%;
            background: url(resources/common/layout/wood/images/bg_boardright.jpg) right center no-repeat;
            background-size: auto 100%;
        }
        &.notit{
            .com_layout_tit{
                display: none;
            }
            .com_layout_main{
                top: pxToEm(22px);
            }
        }
    }
    .com_layout_mid_exam{
        z-index: 333;
        position: relative;
        width: 100%;
        height: 100%
    }
    // 标题
    .com_layout_tit{
        position: relative;
        height: pxToEm(90px); 
        line-height: pxToEm(80px);
        margin: pxToEm(-3px) pxToEm(-14px) 0 pxToEm(-14px);
        padding: 0 pxToEm(150px) pxToEm(23px);
        border-radius: pxToEm(19px) pxToEm(19px) 0 0; 
        background: url(resources/common/layout/wood/images/bg_boardtit.png) repeat-x left center;
        background-size: auto 100%;
        z-index: 2;
        &:after {
            display: inline-block;
            width: 0;
            height: 100%;
            content: "";
            vertical-align: middle;
        }
        .tit{
            display: inline-block;
            width: 99%;
            line-height: pxToEm(36px); 
            color: #333;
            font-size: pxToEm(36px); 
            text-align: center;
            word-break: break-word;
            position: relative;
            top: -.1em;
            &.s_tit{
                font-size: pxToEm(26px);
                line-height: pxToEm(28px);
                top: .1em;
            }
        }
    }
    .com_layout_main{
        position: absolute;
        right: pxToEm(36px);
        left: pxToEm(36px);
        top: pxToEm(90px); 
        bottom: pxToEm(36px);
        overflow-y: auto;
        border-radius: 0 0 pxToEm(19px) pxToEm(19px); 
        z-index: 10;
    }
}
// 工具
.square_pop_box{
    position: relative;
    display: inline-block;
    &.pop_up{
        .selected{
            position: absolute;
            left: 50%;
            bottom: 100%;
            margin: 0 0 pxToEm(13px) pxToEm(-63px);
            min-width: pxToEm(126px);
            border-radius: pxToEm(10px);
            padding: pxToEm(9px) pxToEm(10px);
            text-align: center;
            background: rgba(144, 128, 104, 0.9);
        }
        .options{
            display: inline-block;
            padding: pxToEm(10px) 0;
            font-size: pxToEm(20px);
            font-weight: bold;
            line-height: pxToEm(24px);
            color: #f6ead6;
            text-shadow: 1px 1px 1px #7a746c, -1px -1px 1px #7a746c;
            &:active,&.on{
                color: #ffa82f;
                text-shadow: 1px 1px 1px #9c6e2d,-1px -1px 1px #9c6e2d;
            }
        }
        .tips{
            position: absolute;
            width: pxToEm(31px);
            bottom: pxToEm(-13px);
            left: 50%;
            display: block;
            width: pxToEm(31px);
            height: pxToEm(13px);
            margin: 0 0 0 pxToEm(-15px);
            background: url(resources/common/layout/wood/images/select_tips.png) no-repeat;
            background-size: 100% 100%;
        }
    }
    
}

/* 公布结果选项 */
.square_tool_result_list{
    position: absolute;
    top: pxToEm(-90px);
    right: pxToEm(-30px);
    border: pxToEm(3px) solid #b09876;
    border-radius: pxToEm(12px);
    white-space: nowrap;
    &:after{
        content: '';
        position: absolute;
        bottom: pxToEm(-18.5px);
        right: pxToEm(43px);
        width: pxToEm(44px);
        height: pxToEm(21px);
        background: url(resources/common/layout/wood/images/bg_arrow.png) no-repeat center center;
        background-size: contain;
    }
    &.for_left{
        right: auto;
        left: pxToEm(-30px);
        &:after{
            right: auto;
            left: pxToEm(47px);
            transform: rotateY(180deg);
        }
    }
}
.squere_tool_result_list_content{
    padding: 0 pxToEm(20px);
    background: #f3e2c6;
    border: pxToEm(3px) solid #f7f0e4;
    border-radius: pxToEm(9px);
    height: pxToEm(70px);
    line-height: pxToEm(64px);
    box-shadow: inset 0 0 pxToEm(40px) 0 #d7b990;
}
.squere_tool_result_list_txt{
    color: #585858;
    font-size: pxToEm(30px);
}
.squere_tool_result_list_radio{
    position: relative;
    display: inline-block;
    height: pxToEm(35px);
    margin: 0 pxToEm(20px);
    padding-left: pxToEm(42px);
    color: #333;
    line-height: pxToEm(32px);
    vertical-align: middle;
    &:before{
        content: '';
        position: absolute;
        left: 0;
        top: pxToEm(2px);
        width: pxToEm(28px);
        height: pxToEm(28px);
        border: pxToEm(3px) solid #585858;
        border-radius: 100%;
        box-sizing: border-box;
    }
    .txt{
        font-size: pxToEm(32px);
    }
    &.checked{
        color: #a1bc23;
        &:before{
            border-color: #a1bc23;
        }
        &:after{
            content: '';
            box-sizing: border-box;
            position: absolute;
            top: pxToEm(9px);
            left: pxToEm(7px);
            width: pxToEm(14px);
            height: pxToEm(14px);
            border-radius: 100%;
            background: #a1bc23;
        }
    }
    &:active{
        opacity: .7;
    }
}

.com_stat_tool{
    margin: 0 auto;
    z-index: 3;
    height: pxToEm(98px);
    position: absolute;
    right: pxToEm(96px);
    top: pxToEm(972px);    
    z-index: 340;
    /*底部按钮调大*/
    top: 40.3em;
    height: 4.58333em;
}
 .com_part_toolbar{
    height: pxToEm(98px);
    /*底部按钮调大*/
    height: 4.58333em;
    position: absolute;
    top: 0;
    right: 0;
    white-space: nowrap;
    .com_part_toolbar_li{
        display: inline-block;
    }
    &.cptb_left{
         right:auto;
         left: -72em;   
    }
}


.com_layout_tool{
    border-radius: pxToEm(20px);
    .com_wrapper_pad {
        padding: pxToEm(27px);
        .com_layout_container{
            width: pxToEm(1866px);
            height: 100%;
        }
        .com_board_side{
            display: none;
        }
    }
    .com_wrapper_board{
        padding: pxToEm(27px) pxToEm(110px);
        .com_layout_container{
            width: pxToEm(1700px);
            height: 100%;
        }
    }
    .com_board_side{
        position: absolute;
        bottom: pxToEm(153px);
        display: inline-block;
        width: pxToEm(110px);
        text-align: center;
        &:first-child{
            left: pxToEm(2px);
        }
        &:last-child{
            right: pxToEm(2px);
        }
        .com_btn_square{
            margin-top: pxToEm(30px);
            &:last-child{
                margin-top: pxToEm(77px);
                .com_btn_text{
                    font-style: normal;
                    margin-top: pxToEm(5px);
                }
            }
        }
    }
}
/*底部投票按钮框架*/
.com_vote_tool{
    margin: 0 auto;
    z-index: 3;
    text-align: right;
    height: pxToEm(98px);
    .com_btn_square_w{
        float: left;
        margin-right: pxToEm(18px);
    }
    .com_tabs_btn{
        float: left;
        margin-right: pxToEm(18px);
        .com_btn_square_w{
            margin: 0 0 0 pxToEm(-4px);
            &:last-child{
                margin-left: pxToEm(-5px);
            }
        }
    }
}


//底部操作框
.com_bottom_box{
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    right: 0;
    height: pxToEm(200px);
    // border: 1px solid rgba(106, 70, 22,0.5);
    border-bottom-left-radius: pxToEm(18px);
    border-bottom-right-radius: pxToEm(18px);
    transform: rotate(0);
    background: rgba(122,74,11,0.47);
    .bottom_wrap {
        height: 100%;
    }
    // background: url(resources/common/layout/wood/images/bg_fboard.png) repeat-x;
    // background-size: auto 100%;
    // overflow-x: auto;
    // &.com_bottom_box:before {
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: pxToEm(68px);
    //     height: pxToEm(210px);
    //     transform: rotate(180deg);
    //     background: url(resources/common/layout/wood/images/bg_fboardleft2.png) no-repeat;
    //     background-size: 100% 100%;
    //      z-index: 2;
    // }
    // &.com_bottom_box:after {
    //     content: "";
    //     position: absolute;
    //     top: 0;
    //     right: pxToEm(-2px);
    //     width: pxToEm(68px);
    //     height: pxToEm(210px);
    //     background: url(resources/common/layout/wood/images/bg_fboardleft2.png) no-repeat;
    //     background-size: 100% 100%;
    //     z-index: 2;
    // }
      
}

//底部操作框——左右点击按钮
.com_bottom_box_btn {
    position: absolute;
    top: 50%;
    margin-top: pxToEm(-102px);
    width: pxToEm(76px);
    height: pxToEm(204px);
    background: url(resources/common/layout/wood/images/bg_bottomleft.png) no-repeat center center;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    &:active,
    &.ui_btn_active {
        background-image: url(resources/common/layout/wood/images/bg_bottomleft_active.png);
    }
    &.btn_left {
        left: pxToEm(-8px);
    }
    &.btn_right {
        right: pxToEm(-8px);
        transform: rotate(180deg);
    }
}


//网格
.com_grid_wrap {
    width: 100%;
    height: 100%;
    background: url(resources/common/layout/wood/images/bg_grid_s.png) repeat;
    background-size: pxToEm(27px) pxToEm(27px);
    border-radius: pxToEm(12px);
}