
<div class="baseMod-com-layout" id="layout">
    <!-- 
        pad类名baseMod-com-wrapper-pad
        白板类名baseMod-com-wrapper-board
        学生端答题框baseMod-com-wrapper-pad-answer
        老师端等待学生答题baseMod-com-wrapper-pad-waiting
    -->
    <div class="@@opEnvironment">
        <div class="baseMod-com-header-box">
            <!--计时器-->
            <div class="com_time">
                <div class="time_default">
                    <b class="time_text">答题时间：</b>
                    <span class="time_m"><em>05</em></span>
                    <b class="time_text">分</b>        
                    <i>:</i>
                    <span class="time_s"><em>21</em></span>
                    <b class="time_text">秒</b>
                </div>
            </div>   
            <p class="upload"><b class="upload_text">提交人数：</b><span class="num">35</span>/50</p>         
        </div>
        <!-- 公共提交按钮 -->
        <div class="baseMod-com-submit">
            @@include('../button/_com_btn_round.html', {"txt": "提&nbsp;&nbsp;交","classname":""})
        </div>
        <!-- /公共提交按钮 -->
        <div class="baseMod-com-layout-container">
            <div class="baseMod-com-layout-title">
                <p class="baseMod-tit">题型</p>
            </div>
            <div class="baseMod-com-layout-body baseMod-scrollbar-style-gray">
                <!-- module-nqit容器 -->
                
            </div>
        </div>
    </div> 
    <!-- 弹窗与弹窗交互 -->
</div>
<script src="common/resources/baseModule/layout/wood/layout.js"></script>
            