.com_pop_nubuck{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    //background: rgba(0, 0, 0, 0.5);
    z-index: 90;
    &:after{
        display: inline-block;
        width: 0;
        height: 100%;
        vertical-align: middle;
        content: "";
    }
    .nubuck_content{
        display: inline-block;
        vertical-align: middle;
        width: pxToEm(614px);
        height: pxToEm(336px);
        background: url(resources/common/pop/wood/images/pop_s_big.png) center center no-repeat;
        background-size: 100% auto;
        position: relative;
    }
    .nubuck_main{
        padding:pxToEm(40px) pxToEm(60px) pxToEm(14px);
        line-height:1.5;
        font-size: pxToEm(30px);
        color: #603300;
        text-align: center;
        height:pxToEm(106px);
        box-sizing: content-box;
    }
    .nubuck_bottom{
        .com_btn_square_s {
            margin: 0 pxToEm(26px);
        }
    }
}
/*提示框样式*/
.notice_tip_box{
    position: fixed;
    z-index: 9995;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    .notice_tip_con{
        padding: pxToEm(25px) pxToEm(45px);
        position: relative;
        display: inline-block;
        vertical-align: middle;
        max-width: pxToEm(870px);
        color: #fff;
        background: rgba(0,0,0,.7);
        border-radius: pxToEm(50px);
        .notice_tip_text{
            font-size: pxToEm(30px);
            line-height: 1.5;
        }
    }
    &:after {
        display: inline-block;
        vertical-align: middle;
        content: "";
        width: 0;
        height: 100%;
    }
}
.displaynone{
    display:none;
}
/*提示框样式结束*/
/*连连看答题正确和错误弹窗*/
.com_pop_ans_result{
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    min-width: pxToEm(530px);
    max-width: pxToEm(1600px) !important;
    min-height: pxToEm(331px);
    box-shadow: 0 0 pxToEm(10px) rgba(174, 173, 170, 1),
    pxToEm(-2px) pxToEm(-2px) pxToEm(4px) #e3d1ab inset,
    pxToEm(2px) pxToEm(2px) pxToEm(4px) #e3d1ab inset;
    border-radius: pxToEm(24px);
    padding: pxToEm(2px);
    &:after {
        content: '';
        display: inline-block;
        border-bottom: 1px solid #e3d1ab;
        width: 99.6%;
        height: 100%;
        position: absolute;
        left: 0.3%;
        top: pxToEm(2px);
        box-shadow: 0 0 pxToEm(10px) rgba(174, 173, 170, 1),
        pxToEm(-2px) pxToEm(-2px) pxToEm(4px) #e3d1ab inset,
        pxToEm(2px) pxToEm(2px) pxToEm(4px) #e3d1ab inset;
        border-radius: pxToEm(24px);
        background: #e3e3d8;
        z-index: -1;
    }
    &.correct{
        .ans_result_tit {
            background: url(resources/common/pop/wood/images/pop_ans_right_til.png) center center repeat-x;
            background-size: auto 100%;
            &:after {
                background: url(resources/common/pop/wood/images/pop_ans_right_til_highlight.png) center center repeat-x;
                background-size: auto 100%;
            }
        }
        .ans_result_content {
            /* &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: inline-block;
                background: url(resources/common/pop/wood/images/pop_ans_right_cont.png) center center repeat-x;
                background-size: 100% 100%;
                z-index: -1;
            } */
            .ans_result_pics {
                display: block;
            }
        }
        .ans_result_bottom{
            padding: 0  20% 10% 20%;
        }
    }
    &.wrong{
        .ans_result_tit {
            background:  url(resources/common/pop/wood/images/pop_ans_wrong_til.png) center center repeat-x;
            background-size: auto 100%;
            &:after {
                background: url(resources/common/pop/wood/images/pop_ans_wrong_til_highlight.png) center center repeat-x;
                background-size: auto 100%;
            }
        }
        .ans_result_bottom{
            padding: 0 2.83333em 1.83333em 2.83333em;
        }
    }
    .ans_result_tit{
        position: relative;
        text-align: center;
        color: #fff;
        line-height: pxToEm(73px);
        min-height: pxToEm(73px);
        border-radius: pxToEm(20px) pxToEm(20px) 0 0;
        z-index: 100;
        box-shadow: 0 pxToEm(3px) pxToEm(5px) rgba(74, 73, 81, 0.5);
        padding-left: pxToEm(20px);
        padding-right: pxToEm(20px);
        white-space: nowrap;
        overflow: hidden;
        max-width: pxToEm(1500px) !important;
        text-overflow:ellipsis;
        span {
            font-size: pxToEm(36px);
        }
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: inline-block;
            z-index: -1;
        }
    }
    .ans_result_content {
        position: relative;
        display: inline-block;
        width: 100%;
        min-height: pxToEm(258px);
        border-radius: 0 0 pxToEm(20px) pxToEm(20px);
        background: -webkit-linear-gradient(top, #f6f7eb, #e3e3d8);
        z-index: 1;
        box-shadow: 0 0 pxToEm(3px) rgba(174, 173, 170, 1),
        pxToEm(-2px) pxToEm(-2px) pxToEm(4px) #e3d1ab inset,
        pxToEm(2px) pxToEm(2px) pxToEm(4px) #e3d1ab inset;
        border-top: 1px solid #715857;
    }
    .ans_result_time{
        margin-top: pxToEm(20px);
        padding: pxToEm(50px) 0;
        text-align: center;
        color: #ff9000;
        span{
            font-size: pxToEm(48px);
        }
    }
    .ans_result_bottom{
        color: #605b5b;
        text-align: center;
        line-height: pxToEm(34px);
        font-size: pxToEm(24px);
        padding: 0  20% 10% 20%;
        //word-wrap: break-word;
        word-break: break-word;
    }
    .ans_result_pics {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: inline-block;
        background: url(resources/common/pop/wood/images/pop_ans_right_cont.png) center center repeat-x;
        background-size: 100% 100%;
        z-index: -1;
        display: none;
        .pics_t {
            position: absolute;
            top: 0;
            left: 46%;
            width: pxToEm(140px);
            height: pxToEm(30px);
            background: url(resources/common/pop/wood/images/pop_ans_right_pt.png) center center no-repeat;
            background-size: 100% 100%;
        }
        .pics_r {
            position: absolute;
            top: 50%;
            right: 0;
            width: pxToEm(132px);
            height: pxToEm(234px);
            margin-top: pxToEm(-118px);
            background: url(resources/common/pop/wood/images/pop_ans_right_pr.png) center center no-repeat;
            background-size: 100% 100%;
        }
        .pics_b {
            position: absolute;
            left: 50%;
            bottom: 0;
            width: pxToEm(78px);
            height: pxToEm(30px);
            background: url(resources/common/pop/wood/images/pop_ans_right_pb.png) center center no-repeat;
            background-size: 100% 100%;
        }
        .pics_l {
            position: absolute;
            top: 50%;
            left: 0;
            width: pxToEm(140px);
            height: pxToEm(234px);
            margin-top: pxToEm(-118px);
            background: url(resources/common/pop/wood/images/pop_ans_right_pl.png) center center no-repeat;
            background-size: 100% 100%;
        }
    }
}
/*连连看答题正确和错误弹窗*/
/*小人弹窗*/
.afubox{
    position: absolute;
    display: inline-block;
    right: pxToEm(100px);
    bottom: pxToEm(68px);
    width: pxToEm(403px);
    height: pxToEm(411px);
    font-size: 1em;
    text-align: center;
    z-index: 200;
    .afu{
        display: inline-block;
        width: 100%;
        height: 100%;
        background: url(resources/common/pop/wood/images/afu.png) no-repeat;
        background-size: 100% auto;
    }
    .textbox {
        position: absolute;
        bottom: pxToEm(234px);
        left: pxToEm(-440px);
        width: pxToEm(623px);
        padding: 0;
        text-align: center;
        color: #1e1d1d;        
        z-index: 4;
    }
    .textbox_top{
        background: url(resources/common/pop/wood/images/dialog_bg02.png) left top no-repeat;
        background-size: 100% pxToEm(42px);
        height: pxToEm(42px);
    }
    .text{
        display: block;
        padding: 0 pxToEm(45px) pxToEm(65px);
        background: url(resources/common/pop/wood/images/dialog_bg01.png) left bottom no-repeat;
        background-size: 100% auto;
    }
    .text01{
        display: block;
        text-align: left;
        font-size: pxToEm(32px);
        color: #2e2e2e;
    }
    .text02{
        display: block;
        text-align: left;
        font-size: pxToEm(40px);
        color: #2e2e2e;
    }
    i{
        display: inline-block;
        width: pxToEm(72px);
        height: pxToEm(72px);
        line-height: pxToEm(72px);
        margin: pxToEm(25px) 0 pxToEm(30px);        
        color: #fff;
        text-align: center;
        border-radius: 50%;
        box-shadow: 1px 1.732px pxToEm(15px) 0px rgba(191, 184, 174, 0.294);
        .new_ui_text{
            font-size: pxToEm(60px);
        }
    }
    .afu_a{
        background: #7fcb5e;
    }
    .afu_b{
        background: #48cae1;
    }
    .afu_c{
        background: #8d8d8c;
    }
    .afu_d{
        background: #e63e3e;
    }
}
/*透明弹窗*/
.com_pop_bg_black{
    z-index: 180;
    position: fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background: rgba(0,0,0,0.45);
}
.com_pop_bg_none{
    z-index: 180;
    position: fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
}


/*操作提示*/
.com_mask {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,.7);
    z-index: 998;
}
.com_pop_tip_operate {
    overflow: hidden;
    position: absolute;
    left:50%;
    top: 50%;
    margin-left: pxToEm(-555px);
    margin-top: pxToEm(-232px);
    width: pxToEm(1110px);
    height: pxToEm(465px);
    text-align: center;
    border-radius: pxToEm(18px);
    z-index: 999;
    .operatet_tit {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: pxToEm(66px);
        line-height: pxToEm(66px);
        
        background: url(resources/common/pop/wood/images/bg_sidetit1.png) repeat-x;
        background-size: auto 100%;
        border-top-left-radius: 0.75em;
        border-top-right-radius: 0.75em;

        h5 {
            font-size: pxToEm(36px);
            color: #333;
            text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.51);
        }
    }
    .operate_contain {
        padding: pxToEm(80px) pxToEm(40px) pxToEm(100px) 0;
        height: 100%;
        line-height: pxToEm(56px);
        background-image: url(resources/common/pop/wood/images/decl_sidecon.png), url(resources/common/pop/wood/images/decr_sidecon.png), url(resources/common/pop/wood/images/decm_sidecon.png), url(resources/common/pop/wood/images/bg_sidecon1.png);
        background-repeat: no-repeat, no-repeat, repeat-x, repeat;
        background-position: left bottom, right bottom, center bottom, left top;
        background-size: 0.875em auto, 0.875em auto, 0.375em auto, 2.70833em auto;
        background-origin: border-box, border-box, border-box, content-box;
        box-shadow: 0.0625em 0.10825em 0.79167em 0 rgba(75, 40, 0, 0.75);
        li {
            list-style-type: decimal;
            list-style-position: outside;
            font-size: pxToEm(36px);
            color: #333;
            text-align: left;
        }
    }
    .operate_contain_wrap {
        overflow-y: auto;
        padding-left: pxToEm(90px);
        padding-right: pxToEm(20px);
        height: 100%;
    }
    .operate_bottom {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: pxToEm(90px);
    }
}

/*公共弹窗2开始*/
.com_pop_nubuck2 {
    position: fixed;
    z-index: 995;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    &:after {
        display: inline-block;
        width: 0;
        height: 100%;
        content: "";
        vertical-align: middle;
    }
    .nubuck2_content {
        display: inline-block;
        width: pxToEm(620px);
        overflow: hidden;
        min-height: pxToEm(314px);
        background-size: 100% auto;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        .nubuck2_pop_bg_up {
            height: pxToEm(60px);
            background: url(resources/common/pop/wood/images/bg_pop_wood_up.png) no-repeat;
            background-size: 100% auto;
        }
        .nubuck2_pop_bg_down {
            width: 100%;
            height: pxToEm(73px);
            background: url(resources/common/pop/wood/images/bg_pop_wood_down.png) no-repeat;
            background-size: 100% auto;
        }
        .nubuck2_pop_bg_mid {
            width: 100%;
            background: url(resources/common/pop/wood/images/bg_pop_wood_mid.png) repeat-y;
            background-size: 100% 100%;
            &:after {
                display: inline-block;
                width: 0;
                height: 100%;
                content: "";
                vertical-align: middle;
            }
        }
        .nubuck2_pop_main {
            position: relative;
            max-width: 98%;
            //overflow: hidden;
            vertical-align: middle;
            display: inline-block;
            padding-top: .5em;

        }
    }
}

.nubuck2_pop_main {
    .nubuck2_pop_tip {
        position: relative;
        margin-top: pxToEm(-5px);
        .nubuck2_pop_txt {
            display: inline-block;
            text-align: center;
            font-family: "microsoft yahei";
            font-size: pxToEm(34px);
            color: #333333;
            line-height: 1.5;
            max-width: pxToEm(350px);
            vertical-align: middle;
            //overflow: hidden;
            word-wrap: break-word;
            .pop_leader_num {
                color: #f55f19;
            }
        }

        //.nubuck2_pop_txts{
        //
        //}
    }
    .pop_leader_select {
        padding: pxToEm(15px) pxToEm(15px);
        margin-bottom:pxToEm(-25px);
    }
}

/*公共弹窗2结束*/

/* 新的弹窗遮罩布局 */
.comui_big_pop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1003;
    background: rgba(0,0,0,.5);
    text-align: center;
    &:after{
        content:"";
        width: 0;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }
    &.pop_nobg {
        background: none;
    }
    &.pop_through {
        pointer-events: none;
        .comui_pop_notebook_bg {
            pointer-events: auto;
        }
    }
    &.pop_simple_txt {
        .comui_pop_warning_title,
        .user_pic {
            display: none !important;
        }
        .comui_pop_main_ft {
            padding-bottom: 2em !important;
        }
        .comui_pop_warning_txt {
            min-width: 24em;
            max-width: 34em;
        }
    }
}
/*新的笔记本样式弹窗*/
.comui_pop_notebook_bg{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    min-width: pxToEm(250px);
    padding: pxToEm(12px);
    background: url(resources/common/pop/wood/images/pop_bg_board2.png) repeat;
    box-shadow: 0 3px pxToEm(12px) rgba(0,0,0,.2),inset 0 0 pxToEm(18px) rgba(255,255,255,.35);
    border-radius: pxToEm(20px);
    border-bottom: 2px solid #9b743f;
    max-width: 80%;
    &:after{
        content:"";
        position: absolute;
        background:#ede5d6;
        left: pxToEm(12px);
        top: pxToEm(12px);
        right: pxToEm(12px);
        bottom: pxToEm(12px);
        border-radius: pxToEm(18px);
        box-shadow: 0 1px pxToEm(4px) rgba(0,0,0,.3),inset 0 0 pxToEm(30px) #fff;
    }
    .comui_pop_notebook_bg_papper{
        position: relative;
        background:#ede5d6;
        margin-bottom: pxToEm(3px);
        border-radius: pxToEm(16px);
        box-shadow: 0 1px pxToEm(4px) rgba(0,0,0,.3),inset 0 0 pxToEm(30px) #fff;
        z-index: 4;
        &:after{
            content:"";
            position: absolute;
            //background: #f4f0e6;
            background: linear-gradient(to bottom, #fff, #f6f6f6);
            background: linear-gradient(to bottom,#fff 0%, #f6f6f6 30%, #f4f0e6 100%);
            left: 0;
            top: 0;
            right: 0;
            bottom: pxToEm(4px);
            border-radius: pxToEm(14px);
            box-shadow: 0 1px pxToEm(4px) rgba(0,0,0,.3),inset 0 0 pxToEm(30px) #fff;
        }
    }
    .comui_pop_papper_main{
        position: relative;
        z-index: 10;
        .comui_pop_userpic_bd {
            margin: 0;
            padding-top: pxToEm(42px);
            height: auto;
            & + .comui_pop_main_ft  {
                padding-bottom: pxToEm(64px);
            }
        }
        .user_pic {
            width: pxToEm(180px);
            height: pxToEm(180px);
            margin: 0;
            display: inline-block;
            background: #eee;
            overflow: hidden;
            border-radius: 50%;
            border: pxToEm(5px) solid #fff;
            &.bg_c_male {
                background: #a6e3e9;
            }
            &.bg_c_female {
                background: #fec4da;
            }
            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
    }
}
.comui_pop_warning_title {
    color: #525252;
    padding: pxToEm(24px) pxToEm(24px) 0;
    min-width: pxToEm(740px);
    text-align: left;
    .comui_txt {
        text-align: center;
        color: #525252;
        font-size: pxToEm(24px);        
    }
}
.comui_pop_warning_txt {
    color: #525252;
    padding: 0 pxToEm(24px) pxToEm(24px);
    .comui_txt {
        text-align: center;
        color: #525252;
        line-height: 1.5;
        font-size: pxToEm(30px);        
    }
}

/*提交成功失败*/
.ui_pop_sccess,
.ui_pop_warning,
.ui_pop_error{
    .comui_pop_notebook_bg_papper:after {
        background: url(resources/common/pop/wood/images/icons_ekw_bg.png) 0 0 repeat;
        background-size: pxToEm(257px) auto;
    }
}
.ui_pop_sccess {
    .tips_message_pic {
        background-image: url(resources/common/pop/wood/images/icons_tok.png);
    }
}
.ui_pop_warning {
    .tips_message_pic {
        background-image: url(resources/common/pop/wood/images/icons_warn.png);
    }
}
.ui_pop_error {
    .tips_message_pic {
        background-image: url(resources/common/pop/wood/images/icons_error.png);
    }
}
.tips_message_pic {
    //height: pxToEm(92px);
    height: 6.5em;
    min-width: pxToEm(480px); 
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto pxToEm(92px);
}

.tips_message_txt {
    text-align: center;
    font-size: pxToEm(32px); 
    color: #603300;
    min-width: pxToEm(480px); 
    padding: 1em 1em 2.5em;
}