@charset "UTF-8";
@import "../../common/resources/baseModule/setting";
@import "../../common/resources/baseModule/function";
.mindmap-tips-edit {
    position: absolute;
    left: pxToEm(200px);
    top: pxToEm(600px);
    height: pxToEm(50px);
    padding: 0 pxToEm(57px) 0 pxToEm(40px);
    white-space: nowrap;
    background: #f7ebcf;
    border: 1px solid #c19f6e;
    border-radius: pxToEm(48px);
    box-shadow: pxToEm(1px) pxToEm(4px) pxToEm(18px) 0 rgba(92,71,8,.75);
    
    input {
        display: inline-block;
        vertical-align: top;
        min-width: pxToEm(500px);
        line-height: pxToEm(46px);
        font-size: pxToEm(23px);
        background: none;
        border: 0;
        color: #000;
        &:focus {
            outline: 0;
        }
        &[disabled]{
            color: #000;
        }
    }
    &:before {
        content: '';
        position: absolute;
        left: pxToEm(-7px);
        top: pxToEm(-16px);
        width: pxToEm(50px);
        height: pxToEm(67px);
        background: url(resources/wood/images/mindmap/light.png) center repeat;
        background-size: 100% auto;
    }
}
