@import "../../../common/resources/common/setting/wood/setting";
@import "../../../common/resources/common/function/function";
/*物理合力*/
.com_layout_main{
  bottom:pxToEm(152px) !important;
}
.PhysicalSynthesize{
  .tool_container{
    position: absolute;
    left: pxToEm(36px);
    right: pxToEm(36px);
    top: pxToEm(45px);
    bottom:pxToEm(36px);
    background: url(images/bg_exam_phy.png) 0 0 repeat;
    background-size: pxToEm(113px) pxToEm(112px);
    border-radius: pxToEm(16px);
  }
  .tool_buttons{
    position: absolute;
    left: pxToEm(40px);
    right: pxToEm(40px);
    bottom: pxToEm(36px);
    .buttons_left{
      float: left;
      .com_exam_square_btn {
        margin-right: pxToEm(10px);
      }
    }
    .buttons_right{
      float: right;
      .com_btn_rectangle {
        margin-top: pxToEm(5px);;
      }
    }
  }
}
.tool_bottom{
  z-index: 5;
  position: absolute;
  left: pxToEm(18px);
  bottom: pxToEm(24px);
  right: pxToEm(18px);
  height:pxToEm(118px);
  background: rgba(111,75,27,0.21);
  background-size: pxToEm(113px) pxToEm(112px);
  border-radius: pxToEm(22px);
  padding-top: pxToEm(18px);
  text-align: center;
  .com_btn_rectangle_big {
    margin:0 pxToEm(2px);
    .com_btn_text{
      display: inline-block;
      width: pxToEm(188px);
      height: pxToEm(94px);
      line-height: pxToEm(94px);
      background-repeat: no-repeat;
      background-position: center top;
      background-size: 100% auto;
    }
    &:active,&.on{
      .com_btn_text{
        background-position: center pxToEm(-94px);
      }
    }
    &.fun_point .com_btn_text{
      background-image: url(images/btn_exam_pic1.png);
    }
    &.drawing_force .com_btn_text{
      background-image: url(images/btn_exam_pic2.png);
    }
    &.synthesize .com_btn_text{
      background-image: url(images/btn_exam_pic3.png);
    }
    &.dissect .com_btn_text{
      background-image: url(images/btn_exam_pic4.png);
    }
  }
}