@import "../../../../common/resources/common/mixin/mixin";
// 隐藏头部，手机端用原生
.com_layout_header {
    display: none;
}

//外层div设置宽度100%
.com_layout,
.com_wrapper_pad,
.com_layout_container {
    height: 100%;
}

//垂直居中
%vm {
    &:after {
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%;
        content: "";
    }
}

//定义主色调
$ew-main: #1095fb;

.englishWord_box{
    position: relative;
    height: 100%;
    padding: 0 0 pxToEm(460px);
    // padding-right: pxToEm(448px);
    // background-image: url(resources/wood/images/btn_icon01.png), url(resources/wood/images/btn_bg02_narmal.png);
    
    //引导
    .guidewrap {
        position: relative;
        display: none;
    }
    .guidetxtwrap {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: pxToEm(-110px);
        bottom: pxToEm(-110px);
        .guidetxt {
            position: absolute;
            top: 0;
            height: pxToEm(110px);
            &:after {
                position: absolute;
                left: 50%;
                bottom: pxToEm(-32px);
                width: pxToEm(20px);
                height: pxToEm(63px);
                margin-left: pxToEm(-10px);
                background-size: auto 100%;
                background-repeat: no-repeat;
                content: "";
            }
            .txt {
                font-size: pxToEm(24px);
                line-height: 1.5;
                color: #fff;
            }
            .color {
                font-size: pxToEm(24px);
                line-height: 1.5;
            }
        }
        .guide_down {
            padding-top: pxToEm(40px);
            top: auto;
            bottom: 0;
            &:after {
                top: pxToEm(-28px);
                bottom: auto;
                transform: rotate(180deg);
            }
        }
        .style_c {
            &:after {
                background-image: url(resources/mobile/images/guide-arrow-c.png);
            }
            .color {
                color: #fe9700;
            }
        }
        .style_d {
            &:after {
                background-image: url(resources/mobile/images/guide-arrow-d.png);
            }
            .color {
                color: #e60012;
            }
        }
        .style_b {
            &:after {
                background-image: url(resources/mobile/images/guide-arrow-b.png);
            }
            .color {
                color: #48cbdf;
            }
        }
        .style_a {
            &:after {
                background-image: url(resources/mobile/images/guide-arrow-a.png);
            }
            .color {
                color: #7fcb5e;
            }
        }
    }
    &.englishWord_guide {
        .content {
            z-index: 100 !important;
        }
        .canto {
            // border: pxToEm(1000px) solid rgba(0,0,0,0.8);
        }
        .guidetxtwrap {
            display: block;
        }
        .guidewrap {
            display: block;
            position: fixed;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background-color: rgba(0,0,0,0.8);
            z-index: 99;
        }
    }



    .hide_dom {
        display: none;
    }
    .content {
        position: absolute;
        left: 10%;
        right: 10%;
        top: 50%;
        width: 85%;
        max-height:100%;
        transform: translateY(-50%);
        border-radius: 3px;
        background-color: #fff;
    }
  
    .canto {
        padding: pxToEm(20px) 0;
        word-break: break-all;
        &.canto_sentence {
            .en_word_element  {
                font-size: pxToEm(52px);
                color: #858984;
             }
            .en_word_pronunciation,
            .en_word_mean {
                display: none;
            }
        }
    }    
    .contral_box{
        position: absolute;
        left: 0;
        right: 0;
        bottom: pxToEm(95px);
        .contral03 {
            @extend %vm;
            text-align: center;
            .btnbox {
                display: inline-block;
                vertical-align: bottom;
                margin: 0 pxToEm(18px);
                padding-top: pxToEm(41px);
                .text {
                    display: block;
                    font-size: pxToEm(26px);
                    color: #848484;
                    font-weight: lighter;
                    padding-top: pxToEm(41px);
                }
                &.btn-voice {
                    width: pxToEm(186px);
                    height: pxToEm(253px);
                }
            }
            .btn01 {
                &:after {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    content: "";
                    background-image: url(resources/mobile/images/btn-example.png);
                    background-size: auto 100%;
                    background-repeat: no-repeat;
                }
                &.active {
                    .circleicon {
                        fill: #27db6b;
                    }
                    .process {
                        display: block;
                    }
                }
            }
            .btn02 {
                position: relative;
                width: pxToEm(186px);
                height: pxToEm(186px);
                margin: 0 auto;
                background-image: url(resources/mobile/images/btn-record.png);
                background-size: auto 100%;
                background-repeat: no-repeat;
                &.active {
                    background-image: url(resources/mobile/images/btn-record-active.png);
                    background-size: auto 100%;
                    background-repeat: no-repeat;
                    &:after {
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        content: "";
                        background-image: url(resources/mobile/images/btn-record-active1.png);
                        background-size: auto 100%;
                        background-repeat: no-repeat;
                        animation: contral02 0.8s steps(1) infinite;
                    }
                }
                &.voice_lv1 {

                }
                & + .text {
                    padding-top: 0;
                }
                &.voice_lv1 {
                    background-image: url(resources/mobile/images/btn-record-voice1.png);
                    background-size: auto 100%;
                    background-repeat: no-repeat;
                }
                &.voice_lv2 {
                    background-image: url(resources/mobile/images/btn-record-voice2.png);
                    background-size: auto 100%;
                    background-repeat: no-repeat;
                }
                &.voice_lv3 {
                    background-image: url(resources/mobile/images/btn-record-voice3.png);
                    background-size: auto 100%;
                    background-repeat: no-repeat;
                }
            }
            .btn03 {
                &:after {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    content: "";
                    background-image: url(resources/mobile/images/btn-myrecord.png);
                    background-size: auto 100%;
                    background-repeat: no-repeat;
                }
                &.active {
                    .circleicon {
                        fill: #fe9700;
                    }
                    .process {
                        display: block;
                    }
                }
            }
        }
        .contrbtn {
            position: relative;
            display: block;
            width: pxToEm(104px);
            height: pxToEm(104px);
            .mobile-process {
                display: block;
                .circleicon {
                    fill: #848484;
                }
                .process {
                    display: none;
                }
            }
            .process {
                stroke-dasharray: 0;
                stroke-dashoffset: 302;
                transform: rotate(-90deg);
                transform-origin: center center;
                transition: all .3s ease-out;
            }
            &.active .process {
                // animation: process 0.8s linear infinite;
            }
        }
    }
  
    .com_layout_main_exam {
        padding-top: pxToEm(70px);
        height: 100%;
        .com_layout_main {
            height: 100%;
            @extend %vm;
            text-align: center;
            position: relative;
        }
    }    
    .afubox{
        position: absolute;
        bottom: pxToEm(340px);
        left: pxToEm(64px);
        .sentence_detail {
            display: none;
        }
        &.afu_sentence {
            .textbox {
                width: pxToEm(450px);
            }
            .textbox .text {
                height: pxToEm(180px);
                text-align: center;
            }
            .sentence_detail {
                display: block;
                margin-bottom: pxToEm(15px);
                margin-top: pxToEm(15px);
                .detail_con,
                .detail_tit {
                    font-size: pxToEm(24px);
                    color: rgba(255,255,255,0.85);
                    font-weight: lighter;
                }
                .detail_con {
                    margin-right: pxToEm(10px);
                }
            }
        }
        &.score_a {
            .afu {
                background: url(resources/mobile/images/person-score1.png) no-repeat;
                background-size: auto 100%;
            }
            .textbox {
                background-color: #27db6b;
                .textbox_top {
                    background: url(resources/mobile/images/person-score-a.png) no-repeat;
                    background-size: auto 100%;
                }
                .afu_a {
                    display: inline-block;
                } 
                .text_ab {
                    display: inline-block;
                }
            }
        }
        &.score_b {
            .afu {
                background: url(resources/mobile/images/person-score1.png) no-repeat;
                background-size: auto 100%;
            }
            .textbox {
                background-color: #66b7f4;
                .textbox_top {
                    background: url(resources/mobile/images/person-score-b.png) no-repeat;
                    background-size: auto 100%;
                }
                .afu_b {
                    display: inline-block;
                }
                .text_ab {
                    display: inline-block;
                }
            }
        }
        &.score_c {
            .afu {
                background: url(resources/mobile/images/person-score2.png) no-repeat;
                background-size: auto 100%;
            }
            .textbox {
                background-color: #fe9700;
                .textbox_top {
                    background: url(resources/mobile/images/person-score-c.png) no-repeat;
                    background-size: auto 100%;
                } 
                .afu_c {
                    display: inline-block;
                } 
                .text_c {
                    display: inline-block;
                }
            }
        }
        &.score_d {
            .afu {
                background: url(resources/mobile/images/person-score2.png) no-repeat;
                background-size: auto 100%;
            }
            .textbox {
                background-color: #e60012;
                .textbox_top {
                    background: url(resources/mobile/images/person-score-d.png) no-repeat;
                    background-size: auto 100%;
                }
                .afu_d {
                    display: inline-block;
                } 
                .text_d {
                    display: inline-block;
                }
            }
        }
        .afu {
            position: absolute;
            left: 0;
            bottom: 0;
            display: block;
            width: pxToEm(158px);
            height: pxToEm(195px);
            background: url(resources/mobile/images/person-tip.png) no-repeat;
            background-size: auto 100%;
            
        }
        .textbox {
            position: absolute;
            left: pxToEm(160px);
            bottom: pxToEm(98px);
            width: pxToEm(423px);
            border-radius: 3px;
            background-color: #f7949c;
            .textbox_top {
                position: absolute;
                top: pxToEm(60px);
                left: pxToEm(-32px);
                width: pxToEm(34px);
                height: pxToEm(49px);
                background: url(resources/mobile/images/person-tip-arrow.png) no-repeat;
                background-size: auto 100%;
            }
            .text {
                height: pxToEm(120px);
                text-align: center;
            }
            .text-tip {
                @extend %vm;
                .text02 {
                    display: inline-block;
                }
            }
            .text01 {
                display: inline-block;
                margin-top: pxToEm(10px);
                margin-bottom: pxToEm(10px);
                margin-right: pxToEm(6px);
                font-size: pxToEm(40px);
                color: #fff;
            }
            .text02 {
                max-width: 95%;
                display: none;
                vertical-align: middle;
                font-size: pxToEm(28px);
                color: #fff;
                font-weight: lighter;
            }
            .new_ui_text {
                font-size: pxToEm(50px);
                color: #fff;
            }
            .afu_a,
            .afu_b,
            .afu_c,
            .afu_d {
                display: none;
                vertical-align: center;
                &.hide_dom {
                    display: none;
                }
            }
        }
    }

    // /*句子发音布局*/   
    .english_sider {
        display: none;     //手机端不显示
   
    }
    
 
    /*左右切换按钮*/
    .btn_turn_previous,.btn_turn_next{
        display: none;     //手机端不显示
     
    }
    .btn_turn_previous{    
        display: none;     //手机端不显示
      
    }
    .btn_turn_next{
        display: none;     //手机端不显示
   
    }
    /*标题*/
    .english_title_left{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        padding: pxToEm(30px) pxToEm(28px) 0;
        @include clearfix;
        z-index: 33;
    }
    .en_title_num{  
        float: left;      
        font-size: pxToEm(32px);
        color: #999;
        em {
            color: $ew-main;
        }
    }
    .en_title_score{
        float: right;
        color: #999;
        margin-top: pxToEm(-16px);
        text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.2);
        padding-top: pxToEm(8px);
        font-family: 'STHeiti Light';
        .new_ui_text{
            font-size: pxToEm(32px);
        }
        .word{
            display: inline-block;
            vertical-align: bottom;
            margin-left: pxToEm(10px);
            .new_ui_text{
                color: $ew-main;
                font-size: pxToEm(42px);
            }
        }
    }
  
    .en_word_element{
        display: inline-block;
        line-height: 1.5;
        font-size: pxToEm(82px);
        font-family: 'STHeiti';
        color: #858984;
        &.en_word_element_small{
            // font-size: pxToEm(114px);
        }
    }
    .en_word_pronunciation{
        font-family: 'STHeiti';
        line-height: 1.5;
        font-size: pxToEm(52px);
        color: #999;
        font-weight: lighter;
    }
    .en_color_d{
        color: #e60012;
    }
    .en_color_c{
        color: #fe9700;
    }
    .en_color_b{
        color: #48cbdf;
    }
    .en_color_a{
        color: #7fcb5e;
    }
    .en_word_mean{
        font-size: pxToEm(52px);
        line-height: 1.5;
        color: #999;
        font-weight: lighter;
    }
}

@keyframes contral02 {
    0% {
        background-image: none;
    }
    25% {
        background-image: url(resources/mobile/images/btn-record-active1.png);
    }
    50% {
        background-image: url(resources/mobile/images/btn-record-active2.png);
    }
    75% {
        background-image: url(resources/mobile/images/btn-record-active3.png);
    }
}
.swiper-container {
    height: 100%;
}
@keyframes process {
    0% {
        stroke-dashoffset: 302;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
/*单词发音pad端调整*/
// .com_wrapper_pad .englishWord_box .com_layout_main_exam {
//     height: pxToEm(770px);
// }