/*****************************************
baseMod-com
*****************************************/
.baseMod-com-pop-content{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: rgba(0,0,0,0.5);
    z-index: 500;
    &:after{
        content: "";
        display: inline-block;
        width: 0;
        height: 100%;
        vertical-align: middle;
    }
    .baseMod-com-pop-box{
        display: inline-block;
        width: 60%;
        min-height: pxToEm(400px);
        border-radius: pxToEm(15px);
        vertical-align: middle;
        box-shadow: 0px pxToEm(3px) pxToEm(3px) 0px rgba(0, 0, 0, 0.169), inset 0px pxToEm(-3px) 0px 0px rgba(130, 99, 50, 0.392);
        background: url(resources/baseModule/pop/wood/images/pop_w_bg.png) repeat;
    }
    .baseMod-com-pop-hd{
        position: relative;
        height: pxToEm(55px);
        border-radius: pxToEm(15px) pxToEm(15px) 0 0;
        background: url(resources/baseModule/pop/wood/images/pop_w_dec2.png) repeat-x;
        background-size: auto 100%;
        box-shadow: 0px 2px 2px 0px rgba(156, 87, 5, 0.157), inset 0px -2px 0px 0px rgba(177, 113, 22, 0.392);
        .baseMod-pop-dec{
            display: inline-block;
            width: pxToEm(73px);
            height: pxToEm(56px);
            background: url(resources/baseModule/pop/wood/images/pop_w_dec1.png) no-repeat;
            background-size: 100% auto;
        }
        .baseMod-dec-1{
            position: absolute;
            left: pxToEm(40px);
            bottom: pxToEm(20px);
        }
        .baseMod-dec-2{
            position: absolute;
            right: pxToEm(40px);
            bottom: pxToEm(20px);
        }
    }
    .baseMod-com-pop-bd{
        overflow-y: auto;
        max-height: pxToEm(540px);        
        .baseMod-com-pop-icon{
            display: inline-block;
            width: pxToEm(118px);
            height: pxToEm(118px);
            margin: pxToEm(43px) 0 pxToEm(34px);
        }
        .baseMod-com-pop-text{
            padding: 0 pxToEm(15px);
            font-size: pxToEm(42px);
            line-height: 1.2;
        }
        .baseMod-com-remind-text{
            margin: pxToEm(80px) pxToEm(24px) pxToEm(26px);
            padding: 0 pxToEm(30px);            
            line-height: pxToEm(50px);
            color: #603300;
            .baseMod-text-size{
                font-size: pxToEm(48px);
            }
        }
    }
    .baseMod-com-pop-bt{
        text-align: center;
        padding: pxToEm(54px) 0;
        .baseMod-hint-btn{
            width: pxToEm(230px);
            height: pxToEm(74px);
            line-height: pxToEm(74px);
            margin: 0 pxToEm(24px);
            background: url(resources/baseModule/button/wood/images/btn_pop_normal.png) no-repeat center center;
            background-size: 100% auto;
            .baseMod-tip-icon-text{
                font-size: pxToEm(38px);;
            }
            &:active{
                background-image: url(resources/baseModule/button/wood/images/btn_pop_press.png);
            }
        }
    }
    .com-pop-right{
        width: pxToEm(740px);
        .baseMod-com-pop-icon{
            background: url(resources/baseModule/pop/wood/images/icon_a_right.png) no-repeat;
            background-size: 100% auto; 
        }
        .baseMod-com-pop-text{
            color: #d6630f;
        }
        .baseMod-com-pop-bd{
            min-height: pxToEm(320px);
        }
    }
    .com-pop-wrong{
        width: pxToEm(740px);
        .baseMod-com-pop-icon{
            background: url(resources/baseModule/pop/wood/images/icon_a_wrong.png) no-repeat;
            background-size: 100% auto;  
        }
        .baseMod-com-pop-text{
            color: #972700;
        }
        .baseMod-com-pop-bd{
            min-height: pxToEm(320px);
        }
    }
    .com-pop-submit{
        width: pxToEm(740px);
    }
    .com-pop-hint-box{
        text-align: left;
        .baseMod-com-pop-bd{
            min-height: pxToEm(194px);
        }
        .baseMod-com-remind-text{
            text-align: left;
            margin: pxToEm(24px);
            .baseMod-text-size{
                font-size: pxToEm(36px);
            }
        }
        .baseMod-com-pop-bt{
            padding-top: pxToEm(24px);
        }
    }
}

/* com_pop_nubuck */
.com_pop_nubuck{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    //background: rgba(0, 0, 0, 0.5);
    z-index: 90;
    &:after{
        display: inline-block;
        width: 0;
        height: 100%;
        vertical-align: middle;
        content: "";
    }
    .nubuck_content{
        display: inline-block;
        vertical-align: middle;
        width: pxToEm(614px);
        height: pxToEm(336px);
        background: url(resources/baseModule/pop/wood/images/pop_s_big.png) center center no-repeat;
        background-size: 100% auto;
        position: relative;
    }
    .nubuck_main{
        padding:pxToEm(40px) pxToEm(60px) pxToEm(14px);
        line-height:1.5;
        font-size: pxToEm(30px);
        color: #603300;
        text-align: center;
        height:pxToEm(106px);
        box-sizing: content-box;
    }
    .nubuck_bottom{
        .com_btn_square_s {
            margin: 0 pxToEm(26px);
        }
    }
}

.com_btn_square_s{
    display: inline-block;
    width: pxToEm(178px);
    height: pxToEm(68px);
    line-height: pxToEm(68px);
    text-align: center;
    color:#5d390d;
    font-size: pxToEm(26px);
    background: url(resources/baseModule/pop/wood/images/btn_square_s.png) center top no-repeat;
    background-size: 100% auto;
    text-decoration: none; 
    &:active{
        background-position: center pxToEm(-68px);
    }
}
/* end com_pop_nubuck */

/* new con_pop */

/* end new con_pop */