@charset "UTF-8";
@import "../../common/resources/setting";
@import "../../common/resources/function";
// 木质皮肤
.exam-skin-wood {
  @import "resources/wood/style_wood";

  /*汉字听写 学生端 样式 by 陈晶晶  有重写“复合题”的部分样式 */
  @import "resources/wood/chinese_character";

  /*汉字听写 学生端答题 样式 by 陈晶晶*/
  @import "resources/wood/chinese_character_studentanswer";

  /*汉字听写部分样式 by 陈晶晶  拼音和田字格部分样式 */
  @import "resources/wood/chinese_character_spell";
}

.exam-skin-wood .hide-dom {
    display: none !important;
}
.exam_skin_wood .mixedModule-player-container .layout_handWrite .com_layout_main {
    position: absolute;
    top: 8em;
    border: 1px solid #ded7cc;
}
/*重写学生端界面布局为16:10  by lxq*/
.exam-skin-wood .ChineseCharacterDictation-layout-box .baseMod-com-wrapper-pad{
    height: 50em;
    margin-top: -25em;
    .baseMod-com-layout-container{
      height: 44.6em;
    }
    .baseMod-com-wrapper-board{
      .chineseCharacter-module{
        padding: 0;
      }
    }
    .mixedModule-topic{
      padding-right: 0;
    }
}
/*重写复合题*/
.exam-skin-wood .ChineseCharacterDictation-layout-box{
    .hide_dom {
      display: none !important;
    }
    .baseMod-com-layout-body{
      position: static;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      //top: pxToEm(24px);
      //bottom: pxToEm(120px);
    }
    .mixedModule-topic{
        padding-bottom: 1.25em;
        padding-right: 8em;
        &:after{
          display: none;
        }
        .mixedModule-header-text{
            font-size: 1.5em;
        }
    }
    .mixedModule-player-container{
        flex: 1;
        position: relative;
    }
}
/*重写白板端*/
.env-pptshell{
  .exam-skin-wood{
      .chineseCharacter-module-student-title{
        top: -2.7em;
      }
      .chineseCharacter-module-btns{
          height: 7.5em;
          padding: 1em 0;
      }
      /* .chineseCharacter-module-decipher{
        margin-top: .6em;
      } */
      .chineseCharacter-module{
        padding: 0;
      }    
      .chineseCharacter-switch-container.mixedModule-switch-container{
        //right: .5em
      }
      .chineseCharacter-switch-container{
        //top: 1em;
        right: 4.8em;
        top: 3.2em;
      }
      .chineseCharacter-module-student-box-ul{
        font-size: .85em;
        //padding-left: 1em;
        padding-left: 4em;
        /* .chineseCharacter-module-student-box-ul-box{
                   width: 40em;
                   &:last-child {
                     width: 39em;
                     padding-right: .5em;
                   }
               }
               &.ChineseCd-light-scrollbar{
                 .chineseCharacter-module-student-box-ul-box{
                   //width: 39.8em;
                 }
               }  */       
      }
      .chineseCharacter-module-student-item .chineseCharacter-module-spell-box{
          //margin-left: -1em;
      }
  }
}
.exam-skin-wood .ChineseCharacterDictation-layout-box .baseMod-com-wrapper-board{
    
}

/*重写统计界面布局*/
.exam-skin-wood{
    .chineseCharacter-module-answer-stat{
        overflow: hidden;
        .chineseCharacter-module-student-title{
            
            top: 0.08333em;
            left: 0.125em;
            right: 0.125em;
            background: #f3e2c6;
            border-bottom: 1px solid #ead6b4;
            height: 2.25em;
            line-height: 2.16667em;
            border-radius: 0.5em 0.5em 0 0;
        }
        .chineseCharacter-module-student-box-ul{
            // top: 5em;
            // right: 0;
            // left: 0;
            // bottom: 2.5em;
            // padding-left: 3.5em;
            // font-size: .85em;
            top: 3.5em;
            right: .5em;
            left: 0;
            bottom: 1.4em;
            padding-left: 1.4em;
            font-size: .9em;
            overflow: hidden;
            &.ChineseCd-light-scrollbar{
                padding-left: 1em;
            }
        }
        .chineseCharacter-sut-tj{
            display: none;
        }
        .ChineseCd-light-scrollbar{
            overflow:auto;
            &::-webkit-scrollbar {

                width: pxToEm(16px);
                height: pxToEm(16px);
                background: none;
                border-radius: none;
            }
            &::-webkit-scrollbar-thumb {
                //border: pxToEm(24px) solid transparent;
                //-webkit-border-image: url(resources/wood/images/scrollbar/vertical-thumb.png) 11 11; 
                background: #c9c4bd;
                border-radius: pxToEm(16px);
            } 
        }
    }
}