/* 左上方时间 */
.com_time{
    position: relative;
    height: pxToEm(91px);  
    padding: 0 pxToEm(24px);
    line-height: pxToEm(91px);        
    background-color: #0971ff;
    border-radius: pxToEm(6px);
    box-shadow: 0 3px 3px rgba(4,0,0,.55), inset 0 -4px 4px rgba(0,75,125,.49);
    background-image: linear-gradient(to top, #0072c4, #24c5ff);
    span{
        display: inline-block;
        position: relative;
        vertical-align: top;
        line-height: pxToEm(91px);
    }
    em{
        font-style: normal;
        vertical-align: top;
        font-size: pxToEm(52px);
        color: #ffdea7;
    }
    i{
        display: inline-block;
        vertical-align: top;
        font-style: normal;
        font-size: pxToEm(52px);
        color: #ffdea7;
    }
    &:before{
        content: "";
        display: inline-block;
        vertical-align: top;
        width: pxToEm(77px);
        height: pxToEm(91px);
        margin-right: pxToEm(18px);
        background: url(resources/common/time/sky/images/time_icon.png) center center no-repeat;
        background-size: 100% auto;
    }
    >div{
        display: inline-block;
        width:auto !important;
        height:auto !important;
    }
}

/* 白板的时间*/
.com_wrapper_board{
    .com_time {
        width:auto;
        color: #fdf097;
        margin-right: pxToEm(70px);
        position: relative;
        height: auto;
        padding: 0;
        line-height: pxToEm(50px);
        background: none;
        border-radius: 0;
        box-shadow: none;
        &:before{
            content: "答题时间：";
            font-size: pxToEm(28px);
            width: auto;
            height: auto;
            margin: 0;
            background: none;
        }
        &:after{
            display: none;
        }
        span {
            background: none;
            color: #fdf097;
            height: pxToEm(50px);
            line-height: pxToEm(50px);
            width:auto;
            margin:0;
            &:before{
                display:none;
            }
        }
        em{
            font-size: pxToEm(28px);
            color: #fdf097;
            display:inline-block;
        }
        i{
            display: inline-block;
            vertical-align: top;
            font-style: normal;
            font-size: pxToEm(28px);
            color: #fdf097;
        }
        .time_m:after{
            content: "分";
            font-size: pxToEm(28px);
        }
        .time_s:after{
            content: "秒";
            font-size: pxToEm(28px);
        }
    }
}






