@import "../../../../common/resources/common/mixin/mixin";
.arithmetic_box {
    position: relative;
    height: 100%;
    z-index: 333;
    .com_layout_main {
        margin: 0 pxToEm(36px);
        padding: pxToEm(26px) 0 pxToEm(24px);
        letter-spacing: pxToEm(-7px);
        right: 0;
        left: 1em;
    }
    .com_u_btn2 {
        margin: pxToEm(4px) 0;
        position: relative;
        width: pxToEm(100px);
        height: pxToEm(70px);
        line-height: pxToEm(70px);
        font-size: pxToEm(24px);
        letter-spacing: normal;
        font-weight: normal;
        color: #824f06;
        border-width: 1px;
        &>em {
            font-size: pxToEm(60px);
        }
        .serial_number {
            position: absolute;
            left: pxToEm(-6px);
            top: pxToEm(-3px);
            display: inline-block;
            width: pxToEm(56px);
            height: pxToEm(46px);
            line-height: pxToEm(34px);
            background: url(resources/wood/images/icons_snum.png) left top no-repeat;
            background-size: auto 100%;
            font-size: pxToEm(20px);
            color: #6d6d6d;
            text-align: center;
        }
        &.com_s_fill {
            color: #fff;
            .serial_number {
                left: pxToEm(-6px);
                top: pxToEm(-2px);
            }
        }
        &.com_s_on {
            color: #fff;
            border-width: 0.125em;
            .serial_number {
                left: pxToEm(-8px);
                top: pxToEm(-5px);
            }
        }
        &.com_s_right {
            @include bglinear(#1ea056, #268b52);
        }
        &.com_s_error {
            @include bglinear(#ca4747, #d62727);
        }
    }
    button.com_u_btn2 {
        &:active {
            background: url(resources/wood/images/btn2_press.png) no-repeat;
            background-size: 100% 100%;
        }
    }
    .btn_none {
        margin: pxToEm(4px) 0;
        display: inline-block;
        width: pxToEm(100px);
        height: pxToEm(70px);
        line-height: pxToEm(70px);
        font-size: pxToEm(24px);
        vertical-align: middle;
        letter-spacing: normal;
    }
}

.arithmetic_left {
    margin: 0 pxToEm(420px) 0 0;
    padding: pxToEm(24px) pxToEm(24px) pxToEm(24px) 0;
    height: 100%;
    background: rgba(111, 75, 27, 0.1);
    white-space: nowrap;
    &>div {
        text-align: center;
        height: 101%;
        overflow-y: auto;
        span {
            margin: pxToEm(5px);
        }
        .line {
            width: 100%;
            height: 1px;
            border-top: pxToEm(8px) solid #9e6f26;
            background: #a07330;
            border-bottom: 1px solid #d7c0a1;
            border-radius: pxToEm(3px);
            margin: pxToEm(5px) 0;
        }
    }
}

.arithmetic_right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: pxToEm(416px);
    height: pxToEm(370px);
    margin: auto;
    padding-left: pxToEm(20px);
    a {
        margin-bottom: 5px;
    }
    .com_u_btn2 {
        width: pxToEm(120px);
        height: pxToEm(84px);
        line-height: pxToEm(84px);
        margin: pxToEm(4px);
    }
    .com_u_btn3 {
        margin-left: pxToEm(5px);
        //width: 10.2em;
        height: pxToEm(84px);
        width: pxToEm(120px);
        line-height: pxToEm(84px);
        font-size: pxToEm(24px);
        .icon {
            display: inline-block;
            width: pxToEm(68px);
            height: pxToEm(44px);
            background: url(resources/wood/images/icon_del.png) no-repeat;
            background-size: 100% auto;
            vertical-align: middle;
        }
        &:after {
            content: "";
            display: inline-block;
            width: 0;
            height: 100%;
            vertical-align: middle;
        }
        &:active {
            background: url(resources/wood/images/btn3_press.png) no-repeat;
            background-size: 100% 100%;
        }
    }
}

.arithmetic {
    padding: pxToEm(60px) 0 pxToEm(35px);
}

.addition {
    ul {
        display: inline-block;
        vertical-align: middle;
        li {
            list-style: none;
            text-align: right;
            &>em {
                display: inline-block;
                width: pxToEm(60px);
                text-align: left;
                font: pxToEm(60px) '黑体';
                color: #824f06;
                font-weight: bold;
                vertical-align: bottom;
            }
        }
    }
    &:after {
        content: '';
        display: inline-block;
        width: 0;
        height: 100%;
        vertical-align: middle;
    }
}

.division {
    .division_box {
        display: inline-block;
        vertical-align: middle;
        text-align: right;
        ul {
            margin-top: pxToEm(5px);
            display: inline-block;
            position: relative;
            padding: pxToEm(15px) 0 0 pxToEm(35px);
            vertical-align: top;
            background: url(resources/wood/images/division.png) no-repeat 0 0;
            background-size: auto pxToEm(99px);
            li {
                list-style: none;
            }
        }
    }
    &:after {
        content: '';
        display: inline-block;
        width: 0;
        height: 99%;
        vertical-align: middle;
    }
}

.divisor {
    display: inline-block;
    margin-top: pxToEm(20px);
    padding-right: pxToEm(10px);
}

.exam_wood .arithmetic .com_u_btn2,
.exam_wood .arithmetic .com_u_btn3 {
    margin-bottom: pxToEm(3px);
    outline: none;
    position: relative;
}

.exam_wood .arithmetic .com_u_btn2.com_s_fill,
.exam_wood .arithmetic_right .com_u_btn2,
.exam_wood .arithmetic_right .com_u_btn3 {
    &:active {
        opacity: 0.9;
    }
}


/*小数点优化新加样式*/

.arithmetic_box .arithmetic_right {
    .com_u_right_dot {
        overflow: hidden;
    }
    .com_u_btn2 .arithmetic_right_ui_dot {
        font-size: 5.5em;
        line-height: 0.1em;
    }
}

.arithmetic_box .arithmetic_left {
    li {
        margin-top: pxToEm(6px);
    }
    /*2017-2-24 112356 添加样式：横向滚动条*/
    .arithmetic_scrollbar_horizontal {
        &::-webkit-scrollbar {
            width: pxToEm(31px);
            border: pxToEm(31px) solid transparent;
            -webkit-border-image: url(resources/wood/images/scrollv_bg.png) 15 15;
        }
        &::-webkit-scrollbar-button:increment:vertical {
            width: pxToEm(30px);
            height: pxToEm(30px);
            background: url(resources/wood/images/scrollv_down.png) 50% 50% no-repeat;
            background-size: pxToEm(18px) pxToEm(19px);
        }
        &::-webkit-scrollbar-button:decrement:vertical {
            width: pxToEm(30px);
            height: pxToEm(30px);
            background: url(resources/wood/images/srcollv_up.png) 50% 50% no-repeat;
            background-size: pxToEm(18px) pxToEm(19px);
        }
        &::-webkit-scrollbar-button:increment:horizontal {
            background: url(resources/wood/images/scrollh_down.png) 50% 50% no-repeat;
            background-size: pxToEm(15px) pxToEm(15px);
        }
        &::-webkit-scrollbar-button:decrement:horizontal {
            background: url(resources/wood/images/scrollh_up.png) 50% 50% no-repeat;
            background-size: pxToEm(15px) pxToEm(15px);
        }
        &::-webkit-scrollbar-thumb:vertical {
            border: pxToEm(31px) solid transparent;
            -webkit-border-image: url(resources/wood/images/scrollv_thumb_bg.png) 15 15;
        }
        &::-webkit-scrollbar-corner {
            background-color: transparent;
        }
        &::-webkit-scrollbar:horizontal {
            height: pxToEm(31px);
            border: pxToEm(31px) solid transparent;
            -webkit-border-image: url(resources/wood/images/scrollv_horizontal_bg.png) 15 15;
        }
        &::-webkit-scrollbar-thumb:horizontal {
            border: pxToEm(31px) solid transparent;
            -webkit-border-image: url(resources/wood/images/scrollv_thumb_horizontal_bg.png) 14 14;
        }
        &::-webkit-scrollbar-button:horizontal:decrement {
            width: pxToEm(30px);
            height: pxToEm(30px);
            background: url(resources/wood/images/scrollv_left.png) 50% 50% no-repeat;
            transform: rotate(90deg);
            background-size: pxToEm(18px) pxToEm(19px);
        }
        &::-webkit-scrollbar-button:horizontal:increment {
            width: pxToEm(30px);
            height: pxToEm(30px);
            background: url(resources/wood/images/scrollv_right.png) 50% 50% no-repeat;
            transform: rotate(90deg);
            background-size: pxToEm(18px) pxToEm(19px);
        }
    }
    /*2017-2-26 17:18:24 112356 添加样式： 小数点*/
    .com_u_btn_dot {
        width: pxToEm(33px);
        height: pxToEm(38px);
        user-select: none;
        display: inline-block;
        vertical-align: bottom;
        position: relative;
        .serial_number {
            position: absolute;
            left: pxToEm(-6px);
            top: pxToEm(-3px);
            display: inline-block;
            width: pxToEm(56px);
            height: pxToEm(46px);
            line-height: pxToEm(40px);
            background: url(resources/wood/images/icons_snum.png) left top no-repeat;
            background-size: auto 100%;
            font-size: pxToEm(10px);
            color: #6d6d6d;
            text-align: left;
            text-indent: .8em;
        }
        &.dot_default {
            background: url(resources/wood/images/dot.png) no-repeat;
            background-size: auto 100%;
        }
        &.dot_show {
            cursor: pointer;
            &:before {
                content: ' ';
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                margin: auto;
                width: pxToEm(18px);
                height: pxToEm(18px);
                background: url(resources/wood/images/dot_show.png) no-repeat;
                background-size: auto 100%;
            }
        }
        &.dot_blue {
            border-radius: pxToEm(4px);
            background: linear-gradient(to bottom, #6aa4ca, #4b9ad3);
            cursor: pointer;
            &:active,
            &.blue_active {
                border: 1px solid #0d64a3;
            }
        }
        &.dot_red {
            border-radius: pxToEm(8px);
            background: linear-gradient(to bottom, #ca4747, #d62727);
            &.dot_show {
                cursor: pointer;
                &:before {
                    background-image: url(resources/wood/images/dot_white.png);
                }
            }
        }
        &.dot_green {
            border-radius: pxToEm(8px);
            background: linear-gradient(to bottom, #1ea056, #268b52);
            &.dot_show {
                cursor: pointer;
                &:before {
                    background-image: url(resources/wood/images/dot_white.png);
                }
            }
        }
        &.dot_dashed {
            &:after {
                content: ' ';
                width: pxToEm(42px);
                height: pxToEm(43px);
                position: absolute;
                left: pxToEm(-4px);
                top: pxToEm(-2px);
                background: url(resources/wood/images/dot_dashed.png) no-repeat;
                background-size: pxToEm(42px) pxToEm(43px);
            }
        }
    }
    .com_u_zero {
        background: url(resources/wood/images/com_btn_zero.png) no-repeat;
        background-size: pxToEm(100px) pxToEm(70px);
        border: none;
    }
}