@charset "UTF-8";
.imagemark {

    position: relative;
    // width: 100%;
    height: 100%;
    .com_layout_main {
        overflow: hidden;
        left: pxToEm(16px);
        right: pxToEm(16px);
        bottom: pxToEm(20px);
        // text-align: center;
        // vertical-align: middle;
        &:after {
            display: inline-block;
            width: 0;
            height: 100%;
            vertical-align: middle;
            content: "";
        }
    }
    .imgmark{
        position: relative;
        height: 100%;
        padding: 0 0 pxToEm(205px);
        text-align: center;
        .imgbig{
            position: relative;
            height: 100%;
            // &:after{
            //     content: "";
            //     display: inline-block;
            //     width: 0;
            //     height: 100%;
            //     vertical-align: middle;
            // }
            .img{
                max-width: 60%;
                max-height: 100%;
                display: inline-block;
                border: 1px solid #7f4f15;
                border-radius: pxToEm(36px);
                vertical-align: middle;
            }
            .list{
                position: absolute;
                margin: 0;
            }
            // 开发要求修改DOM时新增样式2016-06-06
            .mark_img {
                display: inline-block;
                overflow: hidden;
                width: 100%;
                height: 100%;
                &:after {
                    content: "";
                    display: inline-block;
                    width: 0;
                    height: 100%;
                    vertical-align: middle;
                }
            }
            .text_marks {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                // z-index: 11;
            }
        }
        .mark_round {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            // z-index: 10;
        }
        .round{
            position: absolute;
            width: pxToEm(25px);
            height: pxToEm(25px);
            border: 1px solid #fff;
            border-radius: 50%;
            line-height: 0;
            &.on {
                border: none;
            }
            &.movein{
                .mark {
                    border-color: rgba(0 ,158,45,0.5);
                    background: #33e064;
                }
            }
            &.correct{
                .mark {
                    border-color: rgba(0 ,158,45,0.5);
                    background: #33e064;
                }
            }
            &.wrong{
                .mark {
                    border-color: rgba(240 ,190,190,0.5);
                    background: #ff0000;
                }
            }
            .mark {
                display: inline-block;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                border-width: pxToEm(5px);
                border-style: solid;
                border-color: rgba(255,255,255,0.5);
                background: #ff9500;
            }
        }
        //区域标签
        .round_circle {
            position: absolute;
            text-align: center;
            &:after {
                content:'';
                display: inline-block;
                width: 0;
                height: 100%;
                vertical-align: middle;
            }
            .list {
                position: relative;
            }
        }
        .com_bottom_box{
            padding: 0 pxToEm(30px);
            // position: absolute;
            // overflow-y: hidden;
            // bottom: pxToEm(15px);
            // left: pxToEm(-20px);
            // right: pxToEm(-20px);
            // height: pxToEm(210px);
            // background: url(resources/wood/images/bg_option.jpg) repeat-x;
            // background-size: auto 100%;
            // overflow-x: auto; 
        }
        .listwrap{
            // overflow-x: auto;
            // width: 100%;
            height: 100%;
            white-space: nowrap;
            text-align: left;
            &:after{
                content: "";
                display: inline-block;
                width: 0;
                height: 100%;
                vertical-align: middle;
            }
        }
        .list_text{
            display: inline-block;
            overflow: hidden;
            width: 100%;
            white-space: pre-wrap;
            word-wrap:break-word;
            font-size: pxToEm(36px);
            line-height: 1.35;
            text-align: left;
            color: #5d390d;
            vertical-align: middle;
            // display: -webkit-box;
            // -webkit-line-clamp: 4;
            // -webkit-box-orient: vertical;
            
        }
        .list_img{
            display: inline-block;
            width: pxToEm(147px);
            height: pxToEm(133px);
            border: 2px solid #f2b35a;
            text-align: center;
            vertical-align: middle;
        }
        .list {
            display: inline-block;
            position: relative;
            overflow: hidden;
            min-width: pxToEm(90px);
            max-width: pxToEm(390px);
            margin: 0 pxToEm(18px);
            border: pxToEm(4px) solid #de8200;
            border-radius: pxToEm(7px);
            padding: pxToEm(2px) pxToEm(16px) pxToEm(8px) pxToEm(40px);
            background: #ffdba8;
            height: auto;
            max-height: pxToEm(182px);
            // max-height: pxToEm(176px);
            vertical-align: middle;
            &:before{
                content: "";
                position: absolute;
                left: pxToEm(12px);
                top: pxToEm(12px);
                display: block;
                width: pxToEm(13px);
                height: pxToEm(13px);
                background: url(resources/wood/images/tip_point.png) no-repeat center;
                background-size: 100% auto;
            }
            &.imglist {
                width: pxToEm(270px);
                height: pxToEm(176px);
                text-align: center;
                &:after{
                    content: "";
                    display: inline-block;
                    width: 0;
                    height: 100%;
                    vertical-align: middle;
                }
            }
            &.over{
                .list_text {
                    font-size: pxToEm(32px);
                }
            }
            &.move{
                position: fixed;
                background: #e9be81;
                // &.over{
                //     &:after {
                //         background: #e9be81;
                //     }
                // }
            }
            &.on{
                border: pxToEm(4px) solid #5dad2c;
            }
            &.correct{
                border: pxToEm(4px) solid #5dad2c;
            }
            &.wrong{
                border: pxToEm(4px) solid #f25657;
            }
            &.out{
                opacity: 0.6;
                background: #fff;
                // &:after {
                //     background: #fff;
                // }
            }
        }

        @media screen and (max-width: 1025px) {
            .list {
                /* max-height: pxToEm(176px);
                max-width: pxToEm(290px); */
                &.over:after {
                    right: pxToEm(20px);
                    bottom: pxToEm(8px);
                    width: pxToEm(40px);
                    display: none;
                }
            }
        }
    }

}   