@charset "UTF-8";
.matchit {
    position: relative;
    width: 100%;
    height: 100%;
    .com_layout_main {
        left: 0;
        right: 0;
        top: pxToEm(68px);
        bottom: 0;
    }
    .com_m_sideboard_1 {
        padding-bottom: pxToEm(14px);
        margin-right: pxToEm(14px);
        margin-left: pxToEm(14px);
        padding-top: pxToEm(264px);
        .com_m_sidehead {
            top: pxToEm(14px);
        }
        .com_m_sidecon {
            box-shadow: none;
            .coursebox {
                position: relative;
                height: 99%;
                overflow-y: auto;
                margin-top: 0.5%;
            }
        }
        &.com_grid_2 {
            width: 22%;
        }
    }
    .com_m_mainboard_1 {
        position: relative;
    }
    .match_board_bg {
        left: 0;
        top: pxToEm(36px);
        right: pxToEm(14px);
        bottom: pxToEm(36px);
        position: absolute;
        border-radius: pxToEm(18px);
    }
    .com_s_bold {
        position: absolute;
        right: pxToEm(15px);
        top: pxToEm(15px);
    }
    .match_counter {
        height: pxToEm(64px);
        line-height: pxToEm(64px);
        font-size: pxToEm(24px);
        color: #fff;
        text-align: center;
        .moment_num {
            font-size: pxToEm(42px);
        }
        .max_num{
            font-size: pxToEm(32px);
        }
        i{
            margin: 0 pxToEm(4px);
            font-size: pxToEm(32px);
        }
    }
    /*连连看左边结果区域*/
    .match_left_result {
        .match_unfinished {
            padding-bottom: pxToEm(30px);
            &.show_line{
                border-bottom: pxToEm(2px) solid #b9b0b0;
            }
        }
        .match_user_done {
            padding-bottom: pxToEm(10px);
        }
        .match_wrong,
        .match_right {
            padding: pxToEm(32px) 0 0 pxToEm(50px);
            position: relative;
            .match_list {
                position: relative;
                padding-top: pxToEm(130px);
                height: 0;
            }
        }
        .list_m_box {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
        .list_m_pic {
            float: left;
            width: pxToEm(130px);
            height: pxToEm(130px);
            overflow: hidden;
            border: pxToEm(2px) solid #885e17;
            border-radius: pxToEm(10px);
            background: #fff;
            img {
                width: 100%;
                height: 100%;
                border-radius: pxToEm(10px);
            }
        }
        .list_m_text {
            float: left;
            width: pxToEm(130px);
            height: pxToEm(130px);
            color: #333;
            overflow: hidden;
            text-align: center;
            border: pxToEm(2px) solid #885e17;
            border-radius: pxToEm(10px);
            background: #fff;
            p {
                display: inline-block;
                max-width: 91%;
                vertical-align: middle;
                //word-break: break-all;
                word-wrap: break-word;
                word-break: break-word;
                color: #2e2e2e;
                &.text_s {
                    font-size: pxToEm(20px);
                    line-height: 1.4;
                }
                &.text_m {
                    font-size: pxToEm(36px);
                    line-height: 1.4;
                }
                &.text_l {
                    font-size: pxToEm(50px);
                    line-height: 1.15;
                }
            }
            &:after {
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: 0;
                height: 100%;
            }
        }
    }
    .ins_line {
        float: left;
        vertical-align: middle;
        width: pxToEm(26px);
        margin: 0 pxToEm(3px);
        height: 0;
        border-top: pxToEm(2px) dashed #885e17;
        margin-top: pxToEm(64px);
    }
    .match_icon {
        position: absolute;
        left: pxToEm(6px);
        top: pxToEm(98px);
        width: pxToEm(36px);
        height: pxToEm(36px);
        margin-top: pxToEm(-18px);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: auto 100%;
    }
    .match_right {
        .match_icon {
            background-image: url(resources/wood/images/icon_s_wood_right.png);
        }
    }
    .match_wrong {
        .match_icon {
            background-image: url(resources/wood/images/icon_s_wood_wrong.png);
        }
    }
    /*右边游戏窗口*/
    .match_edit_box {
        position: absolute;
        left: pxToEm(24px);
        top: pxToEm(14px);
        right: pxToEm(24px);
        bottom: pxToEm(4px);
        overflow: auto;
        z-index: 3;
    }
    /*****************************************
        * 组件: 面板
        *****************************************/
    /* 面板样式1：选词填空题型 */
    .com_m_sideboard_1 {
        position: relative;
        float: left;
        width: pxToEm(370px);
        height: 100%;
        padding: pxToEm(101px) 0 pxToEm(35px);
        margin-left: pxToEm(35px);
        margin-right: pxToEm(35px);
        .com_m_sidehead {
            position: absolute;
            left: 0;
            top: pxToEm(35px);
            right: 0;
            height: pxToEm(66px);
            background: url(resources/wood/images/bg_sidetit1.png) repeat-x;
            background-size: auto 100%;
            border-top-left-radius: pxToEm(18px);
            border-top-right-radius: pxToEm(18px);
        }
        .com_m_sidecon {
            height: 100%;
            border-bottom: pxToEm(9px) solid transparent;
            background-image: url(resources/wood/images/decl_sidecon.png), url(resources/wood/images/decr_sidecon.png), url(resources/wood/images/decm_sidecon.png), url(resources/wood/images/bg_sidecon1.png);
            background-repeat: no-repeat, no-repeat, repeat-x, repeat;
            background-position: left bottom, right bottom, center bottom, left top;
            background-size: pxToEm(21px) auto, pxToEm(21px) auto, pxToEm(9px) auto, pxToEm(65px) auto;
            background-origin: border-box, border-box, border-box, content-box;
            box-shadow: pxToEm(1.5px) pxToEm(2.598px) pxToEm(19px) 0px rgba(75, 40, 0, 0.75);
            border-bottom-left-radius: pxToEm(18px);
            border-bottom-right-radius: pxToEm(18px);
            overflow: auto;
        }
    }
    .com_m_mainboard_1 {
        height: 100%;
        overflow: hidden;
    }
}

.com_layout .com_layout_container {
    &.inner {
        width: 100% !important;
        height: 100% !important;
        border-radius: pxToEm(24px);
        overflow: hidden;
        .com_layout_main {
            top: pxToEm(22px);
            right: pxToEm(32px);
            left: pxToEm(32px);
            bottom: pxToEm(22px);
        }
    }
}
