@charset "UTF-8";

.layout_handWrite{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .3);
    box-shadow: 0 0 pxToEm(6px) 0 rgba(0, 0, 0, .3);
    .nhw_write_toolbar{
        right: pxToEm(10px);
    }
    .com_layout_main{
        top: pxToEm(200px);
        left: 0;
        bottom: 0;
        right: pxToEm(168px);
        background: #f6f2e8;
        border-radius: 0;
        border-top: 1px solid #ded7cc;
        overflow: initial;
        &:before{
            content: '';
            position: absolute;
            top: pxToEm(20px);
            left: pxToEm(25px);
            width: pxToEm(30px);
            height: pxToEm(30px);
            border-left: pxToEm(3px) solid #e2ded6;
            border-top: pxToEm(3px) solid #e2ded6;
        }
        &:after{
            content: '';
            position: absolute;
            top: pxToEm(20px);
            right: pxToEm(25px);
            width: pxToEm(30px);
            height: pxToEm(30px);
            border-right: pxToEm(3px) solid #e2ded6;
            border-top: pxToEm(3px) solid #e2ded6;
        }
    }
    .handWrite_txt_wrap{
        position: absolute;
        right: pxToEm(168px);
        top: 0;
        left: 0;
        height: pxToEm(920px);
        background: #f1ebde;
    }
    .handWrite_txt{
        height: pxToEm(720px);
        padding: pxToEm(35px) pxToEm(40px);
        overflow-y: auto;
        overflow-x: hidden;
        .txt{
            line-height: 1.8;
            display: inline-block;
            vertical-align: middle;
            font-size: pxToEm(46px);
            color: #333;
        }
    }
    .handWrite_wrap{
        position: absolute;
        top: pxToEm(20px);
        left: pxToEm(25px);
        right: pxToEm(25px);
        bottom: pxToEm(20px);
        &:before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: pxToEm(30px);
            height: pxToEm(30px);
            border-left: pxToEm(3px) solid #e2ded6;
            border-bottom: pxToEm(3px) solid #e2ded6;
        }
        &:after{
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            width: pxToEm(30px);
            height: pxToEm(30px);
            border-right: pxToEm(3px) solid #e2ded6;
            border-bottom: pxToEm(3px) solid #e2ded6;
        }
    }
    .handWrite_content{
        width: 100%;
        height: 100%;
        margin-right: pxToEm(-25px);
        padding-right: pxToEm(25px);
        overflow-y: auto;
        overflow-x: hidden;
        box-sizing: content-box;
    }
    .handWrite_placeholder{
        position: absolute;
        top: 50%;
        left: 50%;
        margin: pxToEm(-36px) 0 0 pxToEm(-180px);
        color: rgba(171, 171, 171, .3);
        .txt{
            font-size: pxToEm(72px);
        }
    }
    .handWrite_resize{
        position: absolute;
        left: 50%;
        top: pxToEm(-25px);
        z-index: 30;
        width: pxToEm(50px);
        height: pxToEm(50px);
        background: url(resources/wood/images/icon_resize.png) no-repeat center center;
        background-size: cover;
    }
    .nhw_btn_switch_box span{
        background: #fbf2e8;
        color: #6d5835;
        box-shadow: 0 pxToEm(5px) pxToEm(7px) 0 rgba(56, 32, 0, .3);
        &:after{
            border-top-color: #fbf2e8;
        }
    }
}



/* 右侧手写工具栏 */
.nhw_write_toolbar{
    position: absolute;
    top: pxToEm(90px);
    right: pxToEm(110px);
    bottom: 0;
    z-index: 13;
    padding:0 pxToEm(6px);
}
.nhw_btn_switch_box{ 
    position: relative; 
    margin: pxToEm(48px) 0 0 pxToEm(9px); 
    display: block; 
    width: pxToEm(120px); 
    height: pxToEm(60px);  
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    .nhw_btn_switch{
        content:"";
        position: absolute;
        width: pxToEm(60px);
        height: pxToEm(60px);
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center center;
        transition: transform .3s;
        top: 0;
        left: 0;
    }
    &.off{
        background-image: url(resources/wood/images/icon_hand_write_off.png);
        .nhw_btn_switch{
            transform: translateX(pxToEm(-12px));
            background-image: url(resources/wood/images/icon_hand_off.png);
        }
        .off_text{ 
            display:block; 
            left: pxToEm(-15px);
        }
    }
    &.on{
       background-image: url(resources/wood/images/icon_hand_write_on.png);
        .nhw_btn_switch{
            transform: translateX(pxToEm(65px));
            background-image: url(resources/wood/images/icon_hand_on.png);
        } 
        .on_text{ 
            display:block; 
            left: pxToEm(-3px);
        }
    }
    span{ 
        position: absolute; 
        top: pxToEm(-48px); 
        display: none; 
        color: #fff; 
        height: pxToEm(35px);
        padding: 0 pxToEm(15px); 
        background: rgba(0, 0, 0, 0.5); 
        border-radius: pxToEm(30px); 
        white-space: nowrap;
        text-align:center;
        line-height: pxToEm(35px);
        &>em{
            font-size: pxToEm(20px); 
            vertical-align: top;
        }
        &:after{
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            top: pxToEm(35px);
            left: 50%;
            margin-left: pxToEm(-10px);
            border-left: pxToEm(10px) solid transparent;
            border-right: pxToEm(10px) solid transparent;
            border-top: pxToEm(8px) solid rgba(0, 0, 0, 0.5); 
        }
    }
}
.nhw_write_toolbar_list{
    margin: pxToEm(36px) 0 ;
    &>li{
        position: relative;
        margin-top: pxToEm(36px);
        .nhw_mainlink{
            display: block;
            text-align: center;
            width: pxToEm(135px);
            padding: pxToEm(96px) 0 pxToEm(15px) 0;
            background-position:center top;
            background-repeat:no-repeat;
            background-size: 100% auto;
            &.icon1 {
                background-image:url(resources/wood/images/icon_pen_s.png);
                &:active{ 
                    background-image:url(resources/wood/images/icon_pen_s_p.png);
                }
            }
            &.icon2 {
                background-image:url(resources/wood/images/icon_clear_s.png);
                &:active{ 
                    background-image:url(resources/wood/images/icon_clear_s_p.png);
                }
            }
            &.icon3 {
                background-image:url(resources/wood/images/icon_dustbin.png);
                // background-position: center pxToEm(12px);
                background-size: pxToEm(96px) auto;
                &:active{ 
                    background-image:url(resources/wood/images/icon_dustbin_s.png);
                }
            }
        }
        .listtxt {
            display: block;
            width: 100%;
            line-height: 100%;
            color: #6d5835;
            font-size: pxToEm(30px);
            font-weight: bold;
        }
        &.on{
            .nhw_mainlink {
                &:after{
                    position: absolute;
                    content:"";
                    right: pxToEm(18px);
                    top: pxToEm(32px);
                    width:pxToEm(42px);
                    height: pxToEm(42px);
                    background: url(resources/wood/images/tool_s_r_on.png) center center no-repeat;
                    background-size: 100% auto;
                }
            }
            .nhw_mainlink .listtxt {
                color: #351d00;
                text-shadow: 0 0 pxToEm(15px) rgba(255, 255, 190, 0.75);
            }
            .nhw_mainlink.icon1 {
                background-image: url(resources/wood/images/icon_pen_s_p.png);
            }
            .nhw_mainlink.icon2 {
                background-image: url(resources/wood/images/icon_clear_s_p.png);
            }
            .nhw_toolbarpop01{ 
                display:block; 
                top:0;
                right: pxToEm(90px);
            }
        }
        &.open{
            background: rgba(213, 162, 79, 0.4);
            box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.294), inset 0px 2px 2px 0px rgba(4, 0, 0, 0.059);
            .nhw_mainlink{
                &.icon1{
                    background-image:url(resources/wood/images/icon_pen_s_p.png);
                }
                &.icon2{
                    background-image:url(resources/wood/images/icon_clear_s_p.png);
                }
                &.icon3{ 
                    background-image:url(resources/wood/images/icon_dustbin_s.png);
                }
                .listtxt{
                    color: #6d3f0c;
                    text-shadow:0 0 pxToEm(15px) rgba(255, 255, 190, 0.75);
                }
            }
            .nhw_toolbarpop_bg{
                display:block;
            }
        }
    }
    .nhw_wrap_rubber{
        width: auto;
        min-width: pxToEm(345px);
        .nhw_toolbarpop{
            padding: 0 pxToEm(10px);
        }
    }
} 
.nhw_toolbarpop_bg{
    background:url(resources/wood/images/bg_com_hd_write.png) center center no-repeat;
    background-size: 105% 105%;
    border-radius: pxToEm(18px);
    box-shadow: 0 0 pxToEm(21px) pxToEm(6px) rgba(4, 0, 0, 0.3),inset 0 -2px 2px rgba(4, 0, 0, 0.3);
    display: none;
    position: absolute;
    right: pxToEm(165px);
    top: 0;
    width: pxToEm(345px);
    border-radius: pxToEm(18px);
    padding:pxToEm(12px);
    overflow: hidden;
}
.nhw_toolbarpop01 {
    background: #f4f1e9 url(resources/wood/images/tool_bar_bg_rb.png) right bottom no-repeat;
    box-shadow: 0 0 pxToEm(6px) rgba(76, 47, 0, 0.24);
    border-radius: 0 0 pxToEm(30px) 0;
    .nhw_toolbox{
        width: 100%;
        padding: 0;
        z-index: 9; 
        .nhw_toolrow{
            text-align: center;
        }
        .nhw_listcon {
            position: relative;
            display: inline-block;
            width: pxToEm(68px);
            height: pxToEm(68px);
            margin: 0 pxToEm(15px) pxToEm(15px);
            border-radius: 50%;
            background-color: #e5cca3;
            border: pxToEm(3px) solid #f4f1e9;
            box-shadow: 0px 1px 1px 0px rgba(255, 255, 255, 0.75), inset 0px 2px 2px 0px rgba(98, 57, 0, 0.24);
            &.penweight1{
                background-image: url(resources/wood/images/toolbar_weight_s.png);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: auto 100%;
            }
            &.penweight2{
                background-image: url(resources/wood/images/toolbar_weight_m.png);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: auto 100%;
            }
            &.penweight3{
                background-image: url(resources/wood/images/toolbar_weight_w.png);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: auto 100%;
            }
            &.colordark{
                &:after{
                    content:"";
                    position: absolute;
                    left: pxToEm(5px);
                    right: pxToEm(5px);
                    top: pxToEm(5px);
                    bottom: pxToEm(5px);                     
                    border-radius:50%;
                    background: #333333;
                }
            }
            &.colorred {
                &:after{
                    content:"";
                    position: absolute;
                    left: pxToEm(5px);
                    right: pxToEm(5px);
                    top: pxToEm(5px);
                    bottom: pxToEm(5px);                     
                    border-radius:50%;
                    background: #ff4a32;
                }
            }
            &.colorgrey {
                &:after{
                    content:"";
                    position: absolute;
                    left: pxToEm(5px);
                    right: pxToEm(5px);
                    top: pxToEm(5px);
                    bottom: pxToEm(5px);                     
                    border-radius:50%;
                    background: #e1e1e1;
                }
            }
            &.on,&:active{
                border-color: #ff8f00;
                &:before {
                    position: absolute;
                    bottom: pxToEm(6px);
                    right: pxToEm(-9px);
                    content: "";
                    width: pxToEm(22px);
                    height: pxToEm(22px);
                    background: url(resources/wood/images/toolbar_tool_on.png) no-repeat top right;
                    background-size: 100% auto; 
                }
            }
        }
    }
    .nhw_penbox,.nhw_classtoolbox{
        .nhw_listcon{
            width: pxToEm(108px);
            height: pxToEm(108px);
            margin: pxToEm(-35px) 0 pxToEm(6px) pxToEm(-9px);
            border-radius: 0;
            border: none;
            box-shadow: none;
            background-position: 0 0px;
        }
    }
    .nhw_penbox{
        padding-bottom: pxToEm(14px);
        .nhw_listcon{
            position: relative;
            .preview{
                display: none;
                position: absolute;
                left: pxToEm(10px);
                bottom: pxToEm(-12px);
            }
            &:active,&.on{
                .preview{
                    display: block; 
                }
            }
        }
        .pen1 {
            background: url(resources/wood/images/toolbar_pen_1.png) no-repeat;
            background-size: auto 100%; 
            &:before{
                display:none;
            }
            &:active,&.on{
                background: url(resources/wood/images/toolbar_pen_1_press.png) no-repeat;
                background-size: auto 100%;
                background-position: pxToEm(-9px) pxToEm(22px);
            }
            &.preview{
                width: pxToEm(246px);
                height: pxToEm(30px);
                background-size: 100% auto;
                background-repeat: no-repeat;
            }
            .bold_black {
                background-image: url(resources/wood/images/pen_brushwork/pen1_bold_black.png); 
            }
            .bold_grey {
                background-image: url(resources/wood/images/pen_brushwork/pen1_bold_grey.png); 
            }
            .bold_red {
                background-image: url(resources/wood/images/pen_brushwork/pen1_bold_red.png); 
            }
            .nor_black {
                background-image: url(resources/wood/images/pen_brushwork/pen1_nor_black.png); 
            }
            .nor_grey {
                background-image: url(resources/wood/images/pen_brushwork/pen1_nor_grey.png); 
            }
            .nor_red {
                background-image: url(resources/wood/images/pen_brushwork/pen1_nor_red.png); 
            }
            .thin_black {
                background-image: url(resources/wood/images/pen_brushwork/pen1_thin_black.png); 
            }
            .thin_grey {
                background-image: url(resources/wood/images/pen_brushwork/pen1_thin_grey.png); 
            }
            .thin_red {
                background-image: url(resources/wood/images/pen_brushwork/pen1_thin_red.png); 
            }
        }
        .pen2{
            background: url(resources/wood/images/toolbar_pen_2.png) no-repeat;
            background-size: auto 100%; 
            &:before{
                display:none;
            }
            &.on,&:active{
                background: url(resources/wood/images/toolbar_pen_2_press.png) no-repeat;
                background-size: auto 100%;
                background-position: pxToEm(-9px) pxToEm(22px);
            }
            .preview {
                width: pxToEm(180px);
                height: pxToEm(30px);
                background-size: 100% auto;
                background-repeat: no-repeat; 
            }
            .bold_black {
                background-image: url(resources/wood/images/pen_brushwork/pen2_bold_black.png); 
            }
            .bold_grey {
                background-image: url(resources/wood/images/pen_brushwork/pen2_bold_grey.png); 
            }
            .bold_red {
                background-image: url(resources/wood/images/pen_brushwork/pen2_bold_red.png); 
            }
            .nor_black {
                background-image: url(resources/wood/images/pen_brushwork/pen2_nor_black.png); 
            }
            .nor_grey {
                background-image: url(resources/wood/images/pen_brushwork/pen2_nor_grey.png); 
            }
            .nor_red {
                background-image: url(resources/wood/images/pen_brushwork/pen2_nor_red.png); 
            }
            .thin_black {
                background-image: url(resources/wood/images/pen_brushwork/pen2_thin_black.png); 
            }
            .thin_grey {
                background-image: url(resources/wood/images/pen_brushwork/pen2_thin_grey.png); 
            }
            .thin_red {
                background-image: url(resources/wood/images/pen_brushwork/pen2_thin_red.png); 
            }
        }
        .pen3 {
            background: url(resources/wood/images/toolbar_pen_3.png) no-repeat;
            background-size: auto 100%; 
            &:before{
                display:none;
            }
            &:active,&.on{
                background: url(resources/wood/images/toolbar_pen_3_press.png) no-repeat;
                background-size: auto 100%;
                background-position: pxToEm(-9px) pxToEm(22px);
            }
            .preview {
                width: pxToEm(80px);
                height: pxToEm(30px);
                background-size: 100% auto;
                background-repeat: no-repeat; 
            }
            .bold_black {
                background-image: url(resources/wood/images/pen_brushwork/pen3_bold_black.png); 
            }
            .bold_grey {
                background-image: url(resources/wood/images/pen_brushwork/pen3_bold_grey.png); 
            }
            .bold_red {
                background-image: url(resources/wood/images/pen_brushwork/pen3_bold_red.png); 
            }
            .nor_black {
                background-image: url(resources/wood/images/pen_brushwork/pen3_nor_black.png); 
            }
            .nor_grey {
                background-image: url(resources/wood/images/pen_brushwork/pen3_nor_grey.png); 
            }
            .nor_red {
                background-image: url(resources/wood/images/pen_brushwork/pen3_nor_red.png); 
            }
            .thin_black {
                background-image: url(resources/wood/images/pen_brushwork/pen3_thin_black.png); 
            }
            .thin_grey {
                background-image: url(resources/wood/images/pen_brushwork/pen3_thin_grey.png); 
            }
            .thin_red {
                background-image: url(resources/wood/images/pen_brushwork/pen3_thin_red.png); 
            }
        }
    }
    .nhw_rubberbox {
        padding: 0 0 pxToEm(15px) pxToEm(15px); 
        white-space: nowrap;
        .nhw_listcon {
            width: auto;
            padding: 0 pxToEm(15px);
            background: transparent;
            .icon{
                display: block;
                margin: pxToEm(9px) auto;
                width: pxToEm(105px);
                height: pxToEm(88px);
            }
            &:before{
                display:none;
            }
            .tit {
                display: inline-block;
                height: pxToEm(36px);
                margin: pxToEm(3px);
                // margin-top: pxToEm(117px);
                padding: 0 pxToEm(12px);
                line-height: pxToEm(32px);
                text-align: center;
                border-radius: pxToEm(18px);
                color: #999;
                .txt{
                    font-size: pxToEm(18px);
                }
            }
            &:active,&.on{
                .tit{
                    color: #000;
                    border-radius: pxToEm(18px);
                    background: #e1c08d;
                    box-shadow: inset 0px pxToEm(3px) pxToEm(3px) rgba(98, 57, 0, 0.24);
                }
                &:before{
                    display: block;
                    right: auto;
                    left: 50%;
                    margin-left: pxToEm(30px);
                }
            }
        }
    }
    .nhw_classtoolbox{
        .toolbar_rubber1 {
            .icon{
                background: url(resources/wood/images/toolbar_rubber_1_off.png) no-repeat;
                background-size: 100% auto;
            }
            &.on,&:active{
                .icon{
                   background: url(resources/wood/images/toolbar_rubber_1.png) no-repeat;
                   background-size: 100% auto;
                   background-position: pxToEm(3px) pxToEm(12px); 
                }
            }
        }
        .toolbar_rubber2 {
            .icon{
                background: url(resources/wood/images/toolbar_rubber_2_off.png) no-repeat;
                background-size: 100% auto;
            }
            &.on,&:active{
                .icon{
                    background: url(resources/wood/images/toolbar_rubber_2.png) no-repeat;
                    background-size: 100% auto;
                    background-position: pxToEm(3px) pxToEm(12px);
                }
            }
        }
    }
}
/* /右侧手写工具栏 */

