.baseMod-hide-dom{ display: none !important;}
.baseMod-com-layout{
    position: relative;
    height: 100%;
    overflow: hidden;
    background: url(resources/baseModule/layout/wood/images/full_bg.jpg);
    .baseMod-com-layout-container {
        position: relative;
        margin: 0 auto;
        background: #faf5ec;
        border: 1px solid #d1af80;
        padding: pxToEm(30px);
        -webkit-border-radius: 0.5em;
        -moz-border-radius: 0.5em;
        border-radius: 0.5em;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);
        box-sizing: border-box;
    }
    .baseMod-com-layout-title{
        color: #603300;
        height: pxToEm(84px);
        border-bottom: 4px double #ababab;
        padding: 0 0 0 pxToEm(64px);
        .baseMod-tit{
            font-size: pxToEm(50px);
            color: #333;    
            line-height: 1.1;        
            &.stit{
                font-size: pxToEm(28px);
            }
        }
    }
    //提交按钮
    .baseMod-com-submit{
        position: absolute;        
    }
    // 题型pad端
    .baseMod-com-wrapper-pad {
        width: pxToEm(1920px);
        height: pxToEm(1080px);
        position: absolute;
        top: 50%;
        left: 50%;
        margin: pxToEm(-540px) 0 0 pxToEm(-960px);
        padding: 0 pxToEm(27px);
        box-sizing: border-box;
        .baseMod-com-header-box{
            height: pxToEm(105px);
            margin: 0 auto;
            @include clearfix;
            .com_header_time {
                float: left;
                margin: 0 0 0 pxToEm(-42px);
            }
        }
        .baseMod-com-layout-container{
            width: pxToEm(1866px);
            height: pxToEm(948px);
        }
        .baseMod-com-submit{
            right: pxToEm(14px);
            top: pxToEm(4px);   
        } 
        .upload{
            display: none;
        }
    } 
    // 题型白板端
     .baseMod-com-wrapper-board{
        width: pxToEm(1920px);
        height: pxToEm(1080px);
        position: absolute;
        top: 50%;
        left: 50%;
        margin: pxToEm(-540px) 0 0 pxToEm(-960px);
        padding: pxToEm(48px) pxToEm(96px);
        box-sizing: border-box;        
        .baseMod-com-header-box{
            position: absolute;
            top: 0;
            left: pxToEm(96px);
            right: pxToEm(96px);
            text-align: center;
            @include clearfix;
        }
        .baseMod-com-layout-container{
            width: pxToEm(1728px);
            height: pxToEm(915px);
        }
        .baseMod-com-submit{
            text-align: center;
            width: pxToEm(320px);
            left: 50%;
            bottom: pxToEm(5px);
            margin-left: pxToEm(-160px);
            .icons_box{
                display: none;
            }
        }  
    }
}
.baseMod-com-layout-body{
    position: absolute;
    left: pxToEm(94px);
    bottom: pxToEm(27px);
    right: pxToEm(30px);
    //top: pxToEm(114px);
    //top: pxToEm(135px);
    top: pxToEm(124px);
    overflow: auto;
    .nqti-player-skin-wood{
        //margin-top: pxToEm(-24px);
    }
}
/*截图类*/
.baseMod-com-layout-body-scrn{
    .baseMod-com-layout-title{
        display: none;
    }
    .baseMod-com-layout-body{
        position: static;
        overflow: visible;
        width: 100%;
        height: 100%;
    }
}
/* 学生端答题框 */
.baseMod-com-wrapper-answer{
    width: pxToEm(1920px);
    height: pxToEm(1080px);
    position: absolute;
    left: 50%;
    top: 50%;
    margin: pxToEm(-540px) 0 0 pxToEm(-960px);
    padding: 0 pxToEm(27px); 
    .baseMod-com-layout-container{
        width: pxToEm(1866px);
        height: pxToEm(1060px);
        padding: 0;
        border-radius: 0 0 .5em 0.5em;
    }
    .baseMod-com-submit{
        right: pxToEm(40px) !important;
        //top: pxToEm(26px) !important; 
        top: pxToEm(30px) !important;    
        z-index: 5 !important;
        width: auto !important;
        left: auto !important;
        bottom: auto !important;
        margin: 0 !important;
    }
    .baseMod-com-layout-title-stat{
        display: none;
    }
    .baseMod-com-layout-body-scrn{
        position: absolute;
        left:0;
        top:0;
        bottom:0;
        right:0;
        .nqti-player-srcm-body .nqti-module-title{
            margin: 0 1.25em 0;
        }
    }
    &.baseMod-com-answer-board{
        width: 80em;
        height: 45em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -22.5em 0 0 -40em;
        padding: 0em 3.5em;
        box-sizing: border-box;
        .baseMod-com-layout-container{
            width: 72em;
            height: pxToEm(1056px) ;
        }
        .baseMod-com-submit{
            right: pxToEm(110px) !important;
        }
        .nqti-player-srcm-body-waiting{
            margin-top:1.5em;
            .nqti-module-title {
                //text-align: center;
                //height: 42em;
                //margin-top:2em;
            }
        }
    }
    &.baseMod-com-answer-pad {
        .baseMod-com-layout-body-scrn{
            position: absolute;
            left:0;
            top:0;
            bottom:0;
            right:0;
            .nqti-module-title{
                text-align: center;
                height: 35.5em;
                overflow: auto;
            }
        }
    }
}

/* 老师端等待学生答题 */
.baseMod-com-wrapper-waiting{
    width: pxToEm(1920px);
    height: pxToEm(1080px);
    position: absolute;
    left: 50%;
    top: 50%;
    margin: pxToEm(-540px) 0 0 pxToEm(-960px);
    padding: 0 pxToEm(96px);
    .baseMod-com-layout-title-stat{
        padding: 0;
        background: #f3e2c6;
        border-bottom: 1px solid #d3b388;
        border-bottom-color: #ead6b4;
        color: #796647;
        font-size: pxToEm(22px);
        height: 2.45em;
        line-height: 2.45em;
        strong{
            font-weight: normal;
            font-size: pxToEm(26px);
        }
    }
    .baseMod-com-layout-title-waiting{
        position: relative;
    }
    .baseMod-com-layout-title-time{
        position: absolute;
        top: 0;
        left: pxToEm(83px);
    }
    .baseMod-com-layout-title-num{
        text-align: center;
    }
    .baseMod-com-layout-container{
        width: pxToEm(1728px);
        height: pxToEm(966px);
        padding: 0;
        background: #f8efde;
        border-radius: 0 0 pxToEm(20px) pxToEm(20px);
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    }
    .baseMod-com-layout-body-scrn{
        left: pxToEm(30px);
        top: pxToEm(78px);
        bottom: 1.125em;
        right: 1.25em;
        position: absolute;
    }
    .baseMod-com-submit{
        display:none;
    }
}

/*计时器*/
.com_time{
    text-align: left;
    width: pxToEm(260px);
    span{
        position: relative;
        display: inline-block;
        width: pxToEm(120px);
        height: pxToEm(114px);
        line-height: pxToEm(114px);        
        color: #dfdfdf;
        text-align: center;
        background: url(resources/baseModule/layout/wood/images/bg_time.png) center center no-repeat;
        background-size: 100% auto;
        margin-right: pxToEm(-30px);
        &:before {
            position: absolute;
            left: pxToEm(20px);
            top: pxToEm(51px);
            content: "";
            width: pxToEm(74px);
            height: 1px;
            border-top: 1px solid #000;
        }
    }
    em{
        font-style: normal;
        font-size: pxToEm(52px);
        color: #dfdfdf;
        display:block;
        height:100%;
        text-align: center;
        margin-top:pxToEm(-2px);
    }
    i{
        display:none;
    }
    >div{
        display: inline-block;
        width:auto !important;
        height:auto !important;
    }
    .time_default{
        margin-left: -0.7em;
    }
    b.time_text{
        display: none;
    }
}
/* 白板的时间*/
.baseMod-com-wrapper-waiting{
    .baseMod-com-header-box{
        text-align: center;
    }
    .com_time {
        width:auto;
        color: #63543d;
        margin-right: pxToEm(70px);        
        span {
            background:none;
            color: #63543d;
            height: pxToEm(50px);
            line-height: pxToEm(50px);
            width:auto;
            margin:0;
            &:before{
                display:none;
            }
        }
        em{
            font-size: pxToEm(28px);
            color: #63543d;
            display:inline-block;
        }
        b.time_text{
            font-size: pxToEm(28px);
            display:inline-block;
            font-weight: normal;
        }
    }
    .com_time{
        display: inline-block;
        position: absolute;
        left: pxToEm(80px);
    }
    .upload{
        display: inline-block;
        font-size: pxToEm(28px);
        line-height: pxToEm(42px);
        color: #63543d;
        .upload_text{
            font-weight: normal;
        }
        .num{
            color: #ff2704;
        }
    }
}

.baseMod-com-wrapper-board{
    .baseMod-com-header-box{
        text-align: center;
    }
    .com_time {
        width:auto;
        color: #63543d;
        margin-right: pxToEm(70px);
        span {
            background:none;
            color: #63543d;
            height: pxToEm(50px);
            line-height: pxToEm(50px);
            width:auto;
            margin:0;
            &:before{
                display:none;
            }
        }
        em{
            font-size: pxToEm(28px);
            color: #63543d;
            display:inline-block;
        }
        b.time_text{
            font-size: pxToEm(28px);
            display:inline-block;
            font-weight: normal;
        }
    }
    .com_time{
        display: inline-block;
        position: relative;
        margin-right: pxToEm(70px);
    }
    .upload{
        display: inline-block;
        font-size: pxToEm(28px);
        line-height: pxToEm(42px);
        color: #63543d;
        .upload_text{
            font-weight: normal;
        }
        .num{
            color: #ff2704;
        }
    }
}

/*复合题布局*/
.mixedModule-switch-container {
    position: absolute;
    left: 4em;
    //top: 0;
    top: 35.7em;
    right:4em;
    height: pxToEm(105px);
    pointer-events: none;
    .mixedModule-switch-btn,.mixedModule-subject-container,.mixedModule-shangxia-p {
        pointer-events: auto;
    }
    &.mixedModule-switch-container-stat{
        top:40.3em;
        left: 0;
        right: 0;
        text-align: center;
        .mixedModule-switch-btn,.mixedModule-subject-container,.mixedModule-shangxia-p{
            float: none !important;
            display: inline-block;
            vertical-align: top;
            margin: 0;
        }
        .mixedModule-subject-container{
            margin: 0 pxToEm(6px);
        }
        .mixedModule-switch{
            padding-left:0;
            padding-right:0;
        }
        .mixedModule-switch:before{
            display: none;
        }
        .mixedModule-subject-container {
            position: relative;
            top: 0;
            left: 0;
            padding:0;
        }       
    }
}
.baseMod-com-wrapper-pad {
    .mixedModule-switch-container {
        top: pxToEm(-103px);
        padding-left: pxToEm(176px);
        bottom: auto;
        left: 0;
        right: 9em;
    }
    .mixedModule-switch {
        &:before {
            display:none;
        }
    }
    .mixedModule-shangxia-p {
        float: left;
    }
}
