@charset "UTF-8";
.numberline {
    position: relative;
    width: 100%;
    height: 100%;
    .com_layout_main {
        overflow: hidden;
        text-align: center;
        vertical-align: middle;
        &:after {
            display: inline-block;
            width: 0;
            height: 100%;
            vertical-align: middle;
            content: "";
        }
    }
    .numberline_board {
        overflow: hidden;
        position: relative;
        padding: pxToEm(20px) pxToEm(30px);
        height: 100%;
    }
    
    .number_position_box {
        position: absolute;
        left: pxToEm(174px);
        top: pxToEm(163px);
    }
    .number_list_box {
        color: #5c3709;
        position: relative;
        display: inline-block;
        padding: 0 0.5rem;
        min-width: pxToEm(64px);
        height: pxToEm(36px);
        line-height: pxToEm(36px);
        font-size: pxToEm(60px);
        // font-size: 60px;
        // text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.9);
        background: #f9f0e4;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4dacd), color-stop(100%, #fff5e9));
        background: -webkit-linear-gradient(top, #e4dacd 0%, #fff5e9 100%);
        background: linear-gradient(to bottom, #e4dacd 0%, #fff5e9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4dacd', endColorstr='#fff6e9',GradientType=0 );
        border: 1px solid #674316;
        border-radius: pxToEm(6px);
        box-shadow: 0px 2px 0px 0px rgba(236, 201, 153, 0.41),inset 0px 0px 11.05px 1.95px rgba(124, 74, 6, 0.8);
        vertical-align: middle;
        &.on:before{
            content:'';
            position: absolute;
            left: -1px;
            right: -1px;
            top: -1px;
            bottom: -1px;
            border: 2px solid #ffef87;
            border-radius: pxToEm(6px);
        }
    }
    .number_list_input {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        padding: 0 0.5rem;
        width: 100%;
        height: 100%;
        border: 0 none;
        background: transparent;
        font-size: pxToEm(24px);
        color: #5c3709;
        text-align: center;
    }
    .symbol_box {
        display: inline-block;
        width: pxToEm(55px);
        height: pxToEm(61px);
        vertical-align: middle;
    }
    .icon_plus {
        background: url(resources/wood/images/icons_plus.png) no-repeat center center;
        background-size: pxToEm(55px) auto;
    }
    .icon_minus {
        background: url(resources/wood/images/icons_minus.png) no-repeat center center;
        background-size: pxToEm(55px) auto;
    }
    .icon_equals {
        background: url(resources/wood/images/icons_eq.png) no-repeat center center;
        background-size: pxToEm(55px) auto;
    }
}   


