@charset "UTF-8";
.ndui-tool.left_fillcolor_bar {
    /*侧边栏按钮*/
    .ndui-tool-box {
        margin: 0 auto;
        padding: pxToEm(87px) 0 pxToEm(17px) 0;
        width: pxToEm(122px);
    }
    .fc_switch_btn {
        &.ndui-switch-finger {
            position: absolute;
            top: pxToEm(20px);
            left: pxToEm(3px);
            .tip-on,
            .tip-off {
                display: none
            }
        }
    }
    .ndui-tool-cell {
        width: 100%;
        height: pxToEm(122px);
        margin-bottom: pxToEm(0px);
        text-align: center;
        cursor: pointer;
        position: relative;
        &:not(:nth-child(3)) {
            z-index: 999;
        }
        &:first-child {
            // margin-top: pxToEm(76px);
        }
        &:nth-child(4) {
            margin-top: pxToEm(264px);
        }
        // .fc_btn_switch_box {
        //     position: absolute;
        //     top:pxToEm(-334px);
        //     margin: pxToEm(18px) 0 0 pxToEm(3px);
        //     display: block;
        //     width: pxToEm(120px);
        //     height: pxToEm(60px);
        //     background-repeat: no-repeat;
        //     background-size: 100% auto;
        //     background-position: center center;
        //     .fc_btn_switch {
        //         content: "";
        //         position: absolute;
        //         width: pxToEm(60px);
        //         height: pxToEm(60px);
        //         background-repeat: no-repeat;
        //         background-size: 100% auto;
        //         background-position: center center;
        //         transition: transform .3s;
        //         top: 0;
        //         left: 0;
        //     }
        //     &.off {
        //         background-image: url(resources/wood/images/icon_hand_write_off.png);
        //         .fc_btn_switch {
        //             transform: translateX(pxToEm(-12px));
        //             background-image: url(resources/wood/images/icon_hand_off.png);
        //         }
        //         .off_text {
        //             display: block;
        //             left: pxToEm(-15px);
        //         }
        //     }
        //     &.on {
        //         background-image: url(resources/wood/images/icon_hand_write_on.png);
        //         .fc_btn_switch {
        //             transform: translateX(pxToEm(65px));
        //             background-image: url(resources/wood/images/icon_hand_on.png);
        //         }
        //         .on_text {
        //             display: block;
        //             left: pxToEm(-3px);
        //         }
        //     }
        //     span {
        //         position: absolute;
        //         top: pxToEm(-48px);
        //         display: none;
        //         color: #422701;
        //         height: pxToEm(35px);
        //         padding: 0 pxToEm(15px);
        //         background: #f9eedd;
        //         box-shadow: 0px 5px 5px 0px rgba(56, 32, 0, 0.27);
        //         border-radius: pxToEm(30px);
        //         white-space: nowrap;
        //         text-align: center;
        //         line-height: pxToEm(35px);
        //         & > em {
        //             font-size: pxToEm(20px);
        //             vertical-align: top;
        //         }
        //         &:after {
        //             content: "";
        //             position: absolute;
        //             width: 0;
        //             height: 0;
        //             top: pxToEm(35px);
        //             left: 50%;
        //             margin-left: pxToEm(-10px);
        //             border-left: pxToEm(10px) solid transparent;
        //             border-right: pxToEm(10px) solid transparent;
        //             border-top: pxToEm(8px) solid #f9eedd;
        //         }
        //     }
        // }
        /*手写板开启关闭按钮end*/
    }
    /*手写板开启关闭按钮*/
    .nhw_write_toolbar {
        position: absolute;
        top: pxToEm(90px);
        right: pxToEm(110px);
        bottom: 0;
        z-index: 13;
        padding: 0 pxToEm(6px);
    }
    .ndui_btn_fillcolor {
        display: inline-block;
        width: 100%;
        height: 100%;
        .ndui-btn-pic {
            display: block;
            width: pxToEm(122px);
            height: pxToEm(84px);
            margin-bottom: pxToEm(-6px);
            //background: url(resources/wood/images/nudi_btn/icon_reset.png) no-repeat center ;
            background-repeat: no-repeat;
            background-position: center center;
        }
        .ndui-btn-text {
            font-size: pxToEm(24px);
            line-height: pxToEm(28px);
            color: #544f49;
        }
        &:active,
        &.ui-btn-active {
            background: rgba(213, 162, 79, 0.4);
            box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.294), inset 0px 2px 2px 0px rgba(4, 0, 0, 0.059);
            &.color {
                .ndui-btn-pic {
                    background-image: url(resources/wood/images/nudi_btn/ndui_btn_color_active.png);
                }
            }
            &.clear {
                .ndui-btn-pic {
                    background-image: url(resources/wood/images/nudi_btn/icon_dustbin_s.png);
                }
            }
            &.back {
                .ndui-btn-pic {
                    background-image: url(resources/wood/images/nudi_btn/ndui_btn_back_active.png);
                }
            }
        }
        &.clear {
            .ndui-btn-pic {
                background-image: url(resources/wood/images/nudi_btn/icon_dustbin.png);
                background-size: pxToEm(94px) auto;
            }
        }
        &.back {
            .ndui-btn-pic {
                background-image: url(resources/wood/images/nudi_btn/ndui_btn_back.png);
                background-size: pxToEm(106px) auto;
                margin-bottom: pxToEm(-8px);
            }
        }
        &.color {
            .ndui-btn-pic {
                background-image: url(resources/wood/images/nudi_btn/ndui_btn_color.png);
                background-size: pxToEm(100px) auto;
            }
        }
        &.click_disabled {
            filter: grayscale(100%);
            opacity: 0.5;
            &:active {
                background: none;
                box-shadow: none;
                &.clear {
                    .ndui-btn-pic {
                        background-image: url(resources/wood/images/nudi_btn/icon_dustbin.png);
                        background-size: pxToEm(94px) auto;
                    }
                }
                &.back {
                    .ndui-btn-pic {
                        background-image: url(resources/wood/images/nudi_btn/ndui_btn_back.png);
                        background-size: pxToEm(106px) auto;
                        margin-bottom: pxToEm(-8px);
                    }
                }
                &.color {
                    .ndui-btn-pic {
                        background-image: url(resources/wood/images/nudi_btn/ndui_btn_color.png);
                        background-size: pxToEm(100px) auto;
                    }
                }
            }
        }
    }
    /*调色区域*/
    .fc_toning {
        pointer-events: none;
        background: url(resources/wood/images/bg_fctoning_take.png) center center no-repeat;
        background-size: 100% 100%;
        display: block;
        border-radius: pxToEm(18px);
        position: absolute;
        left: pxToEm(-32px);
        top: pxToEm(-6px);
        width: pxToEm(240px);
        padding: pxToEm(30px) pxToEm(12px) pxToEm(16px) pxToEm(12px);
        overflow: hidden;
        z-index: 999;
        max-height: pxToEm(396px);
        /*自定义颜色调色盘6格*/
        &.contract_set {
            background: url(resources/wood/images/bg_fctoning_back.png) center center no-repeat;
            background-size: pxToEm(170px) 100%;
            left: pxToEm(-60px);
            .fix_color {
                transform: translateX(-200px);
            }
            .toning_toolbox {
                .fc_toolrow {
                    &:last-child {
                        right: pxToEm(60px);
                    }
                }
            }
        }
        /*12格子固定颜色*/
        &.contract_fix_set {
            background: url(resources/wood/images/bg_fctoning_back.png) center center no-repeat;
            background-size: pxToEm(236px) 100%;
            left: pxToEm(-90px);
            .toning_toolbox {
                .fc_toolrow {
                    &.fix_color {
                        margin-left: pxToEm(72px);
                    }
                }
            }
            .toning_toolbox {
                .fc_toolrow {
                    &:last-child {
                        transform: translateX(200px);
                    }
                }
            }
        }
        .toning_toolbox {
            text-align: left;
            width: 100%;
            padding: 0;
            z-index: 9;
            .fc_toolrow {
                pointer-events: auto;
                display: inline-block;
                text-align: center;
                &.fix_color {
                    margin-left: pxToEm(14px);
                    width: pxToEm(136px);
                }
                &:last-child {
                    position: absolute;
                    right: pxToEm(15px);
                    width: pxToEm(56px);
                }
            }
        }
        .fc_listcom {
            position: relative;
            display: inline-block;
            width: pxToEm(47px);
            height: pxToEm(47px);
            margin: 0 pxToEm(5px) pxToEm(9px) 0;
            border-radius: 50%;
            background-image: url(resources/wood/images/fc_listcom_bg.png);
            background-size: 100% 100%;
            border: 0 solid #ff0000;
            &.red {
                .select_color_icon {
                    background: #ff0000;
                }
            }
            &.blue {
                .select_color_icon {
                    background: #ff0000;
                }
            }
            &.green {
                .select_color_icon {
                    background: #ff0000;
                }
            }
            .select_color_icon {
                position: absolute;
                display: inline-block;
                left: 50%;
                top: 50%;
                margin-left: pxToEm(-18.5px);
                margin-top: pxToEm(-18.5px);
                width: pxToEm(37px);
                height: pxToEm(37px);
                border-radius: 50%;
            }
            &.on {
                border: pxToEm(3px) solid #ff8f00;
                &:before {
                    position: absolute;
                    bottom: pxToEm(-4px);
                    right: pxToEm(-6px);
                    z-index: 1;
                    content: "";
                    width: pxToEm(22px);
                    height: pxToEm(22px);
                    background: url(resources/wood/images/nudi_btn/toolbar_tool_on.png) no-repeat top right;
                    background-size: 100% auto;
                }
            }
            &:active {
                border: pxToEm(3px) solid #ff8f00;
            }
        }
    }
    /*调色盘区域*/
    .fc_toning_palette {
        width: pxToEm(462px);
        height: pxToEm(924px);
        background-image: url(resources/wood/images/fillc_toning_palette_bg.png);
        background-size: 100% 100%;
        border-radius: 0 pxToEm(462px) pxToEm(462px) 0;
        position: absolute;
        left: 100em;
        top: pxToEm(-333px);
        //margin-top: pxToEm(-338px);
        //margin-left: pxToEm(129px);
        overflow: hidden;
        &.show {
            left: pxToEm(128px) !important;
        }
        .fctp_svg_container {
            width: pxToEm(924px);
            height: pxToEm(924px);
            margin-left: -100%;
            position: relative;
            &:before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                height: 100%;
            }
            .svg_inner_con {
                width: pxToEm(904px);
                height: pxToEm(904px);
                position: relative;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}
