@charset "UTF-8";
/* 预加载 */
.uedc_preload_img_wordcard_03{
    display:none;
    background-image: url(resources/wood/images/card_tab_bg_active.png);  
}
/* 滚动条 */
.scrollbar_style_wborder::-webkit-scrollbar{
  width: pxToEm(10px);
  height: pxToEm(10px);
  background: rgba(227,227,227,.5);
}

.scrollbar_style_wborder::-webkit-scrollbar-thumb{
  background: url(resources/wood/images/scrollbar_analyse.png) no-repeat center center;
  background-size: 100% 100%;
  border-radius: pxToEm(10px);
}
/*提示框样式*/
.notice_tip_box {
    position: fixed;
    z-index: 9995;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    .notice_tip_con {
        padding: pxToEm(25px) pxToEm(45px);
        position: relative;
        display: inline-block;
        vertical-align: middle;
        max-width: pxToEm(870px);
        color: #fff;
        background: rgba(0,0,0,.7);
        border-radius: pxToEm(50px);
        .notice_tip_text{
            font-size: pxToEm(30px);
            line-height: 1.5;
        }
    }
    &:after {
        display: inline-block;
        vertical-align: middle;
        content: "";
        width: 0;
        height: 100%;
    }
}
.displaynone {
    display:none;
}
/*提示框样式结束*/
/* 关闭按钮 */
.btn_card_close{
    display: inline-block;
    position: absolute;
    z-index: 10;
    right: pxToEm(6px);
    top: 0;
    width: pxToEm(48px);
    height: pxToEm(50px);
    text-indent: -9999px;
    background: #d4d4d4;
    border-bottom-left-radius: pxToEm(18px);
    border-top-right-radius: pxToEm(8px);
    &:active{
        background: #e4e4e4;
    }
    &:before{
        content:"";
        z-index: 9;
        position: absolute;
        left: pxToEm(12px);;
        top: pxToEm(13px);;
        width: pxToEm(24px);
        height: pxToEm(24px);
        background: url(resources/wood/images/card_closebtn.png) no-repeat center center;
        background-size: 100% 100%; 
    }
}
/* 关闭按钮结束*/
.word_card_full_screen{
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    &:after{
        content:"";
        display: inline-block;
        width: 0;
        height: 100%;
        vertical-align: middle;
    }

}
.pratice_pptpop{
    z-index: 1000;
    position: relative;
    display: inline-block;
    background: #fff;
    vertical-align: middle;
    .btn_card_close{
        right: 0;
        border-top-right-radius: 0;
    }
    &.wordcard_pad{
        display: block;
        z-index: 0;
    }
}
.pratice_pptpop_header{
    position: relative;
    height: pxToEm(48px);
    background: #1b1b1b;
    .logo_pptpop{
        display: inline-block;
        position: absolute;
        left: pxToEm(11px);
        top: 0;
        width: pxToEm(48px);
        height: pxToEm(48px);
        background: #11b0b6;
        &:before{
            content:"";
            display:inline-block;
            left: 0;
            top: 0;
            width: pxToEm(48px);
            height: pxToEm(48px);
            background: url(resources/wood/images/logo_ppt.png) no-repeat center center;
            background-size: 100% 100%;
        }
    }
    .close_pptpop{
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
        width: pxToEm(55px);
        height: pxToEm(48px);
        background: url(resources/wood/images/pptpop_closebtn.png) no-repeat center center;
        background-size: pxToEm(12px) pxToEm(12px);
    }
}
.pratice_pptpop_footer{
    padding: pxToEm(14px) pxToEm(24px);
    background: #f1f1f1;
}
.woc_com_layout{
    .send_to_student,
    .com_btn_round,
    .teach_footer_btn{
        display: inline-block;
        min-width: pxToEm(174px);
        width: auto;
        height: auto;
        padding: 0 pxToEm(28px);
        line-height: pxToEm(60px);
        text-align: center;
        color: #fff;
        background: #10b0b6;
        .com_sdt_word{
            font-size: pxToEm(28px);
        }
        &:active{
            background: #09989d;
        }
        &.hover{
            background: #09ccd3;
        }
        &.click_disabled{
            background: #627f80;
            .com_sdt_word, .text_box {
                color: #758b8c;
            }
        }
        &.com_btn_disabled{
            background: #627f80;
            .text_box {
                color: #758b8c;
            }
        }
    }
    .send_to_student,
    .teach_footer_btn{
        float: left;
    }
    .com_btn_round{
        .icons_box{
            display: none;
        }
        .text_box{
            color: #fff;
            font-size: pxToEm(28px);
        }
    }
}
.btn_right_container{
    float: right;
    .teach_footer_btn{
        float: left;
        margin-left: pxToEm(22px);
        padding: 0 pxToEm(32px);
        &:nth-child(1){
            margin-left: 0;
        }
    }
}


.wordcard_mask{
    z-index: 999;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.6);
}
.wordcard{
    text-align: center;
    width: 100%;
    height: 100%;
    /* 头部 */
    .wordcard_stu_header {
        position: relative;
        padding: pxToEm(30px) pxToEm(24px) pxToEm(32px);
        border-bottom: 1px solid #dedede;
        background: #fff;
        text-align: left;
        &:after{
            content:"";
            display: block;
            position: absolute;
            width: 100%;
            left: 0;
            bottom: pxToEm(4px);
            height: 1px;
            background: #dedede;
        }
        .wordcard_time {
            >div {
                display: inline-block;
                width: auto !important;
                height: auto !important;
            }
            .time_default {
                display: inline-block;
                height: 100%;
                color: #ff9000;
                .time_m,
                i,
                .time_s{
                    display: inline-block;
                    vertical-align: middle;
                    font-size: pxToEm(40px);
                }
                &:before{
                    content:"";
                    display: inline-block;
                    margin-right: pxToEm(12px);
                    width: pxToEm(52px);
                    height: pxToEm(62px);
                    background: url(resources/wood/images/icon_time.png) no-repeat center center;
                    background-size: 100% auto;
                    vertical-align: middle;
                }
                &:after{
                    content: "";
                    display: inline-block;
                    width: 0;
                    height: 100%;
                    vertical-align: middle;
                }
            }
        }
    }
    .wordcard_practice{
        display: inline-block;
        padding: pxToEm(45px) pxToEm(80px) pxToEm(10px);
        /* 笔画练习内容 */
        .bh_exercise {
            position: relative;
            .simutate{
                display: inline-block;
                width: pxToEm(520px);
                margin-right: pxToEm(68px);
            }
            .pinyinwrap {
                position: relative;
                height: pxToEm(93px);
                margin-bottom: pxToEm(38px);
                .pinyin {
                    height: 100%;
                    text-align: center;
                    color: #333333;
                    letter-spacing: pxToEm(8px);
                    background: url(resources/wood/images/bg_py_writting.png) repeat-x;
                    background-size: auto 100%;
                    .word{
                        font-style: normal;
                        line-height: 1.5;
                        font-size: pxToEm(54px);
                    }
                    .color_red {
                        color: #c84747;
                    }
                }
            }
            .wordwrap_large {
                position: relative;
                width: pxToEm(519px);
                height: pxToEm(519px);
                background: url(resources/wood/images/card_wordbg_big.png) no-repeat;
                background-size: auto 100%;
            } 
            .wordwrap_mid {
                position: relative;
                width: pxToEm(317px);
                height: pxToEm(317px);
                background: url(resources/wood/images/card_wordbg_big.png) no-repeat;
                background-size: auto 100%;
            }
            .write {
                display: inline-block;
                width: pxToEm(674px);
                vertical-align: top;
                .wordwrap_mid {
                    float: left;
                    margin-left: pxToEm(18px);
                    margin-bottom: pxToEm(18px);
                }
            }
        }
        /* 底部按钮 */
        .wordcard_btmtool {
             .simutate_tool_list{
                float: left;
                .btn_common {
                    float: left;
                    margin-right: pxToEm(38px);
                    margin-top: pxToEm(13px);
                    padding: 0 pxToEm(34px);
                    height: pxToEm(66px);
                    line-height: pxToEm(64px);
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    background: linear-gradient(to bottom, #fff, #e6e6e6);   
                    color: #333;
                    text-align: center;
                    border-radius: pxToEm(36px);
                    .word{
                        font-size: pxToEm(30px);
                    }
                    &:active {
                        background: linear-gradient(to top, #fff, #e6e6e6);
                    }
                }
            }
            .write_tool_list {
                float: right;
                .write_tool {
                    float: left;
                    margin-left: pxToEm(28px);
                    .write_tool_icon {
                        position: relative;
                        display: block;
                        width: pxToEm(106px);
                        height: pxToEm(106px);
                        background: url(resources/wood/images/card_tab_bg.png) no-repeat center center;
                        background-size: 100% auto;
                    }
                    .icon_hb:before{
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        background: url(resources/wood/images/card_tab_hb.png) no-repeat center center;
                        background-size: 100% auto;
                    }
                    .icon_xpc:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        background: url(resources/wood/images/card_tab_xpc.png) no-repeat center center;
                        background-size: 100% auto;
                    }
                    .word {
                        display: block;
                        font-style: normal;
                        line-height: pxToEm(32px);
                        font-size: pxToEm(28px);
                        color: #333;
                        text-align: center;
                    }
                    &:active{
                        .write_tool_icon {
                            background: url(resources/wood/images/card_tab_bg_active.png) no-repeat center center;
                            background-size: 100% auto;
                        }
                    }
                    &.on{
                        .write_tool_icon {
                            background: url(resources/wood/images/card_tab_bg_active.png) no-repeat center center;
                            background-size: 100% auto;
                        }
                    }
                }
            }
        }
    }
}
.wordcard_teach {
    position: absolute;
    left: pxToEm(200px);
    top: pxToEm(200px);
    height: pxToEm(620px);
    padding-right: pxToEm(232px);
    border-radius: pxToEm(20px);
    background: #fff;
    overflow: hidden;
    border: 1px solid #D6D1D1;
    &.small_box{
        transform: scale(.82);
    }
    &.off_left{
        transition: all 0.5s;
        left: pxToEm(400px);
    }
    /*主体*/
  
    .cardmain {
        position: relative;
        width: pxToEm(422px);
        height: 100%;
        overflow: hidden;
        text-align: left;
        transition: all 0.5s;
        .mainbox {
            height: 100%;
        }
        &.on{
            width: pxToEm(1060px);
        }
    }
    .media {
        width: 0;
    }
    /*菜单*/
    .cardmenu {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: pxToEm(232px);
        border-left: 1px solid #d9d9d9;
        background-image: linear-gradient(to right, #fefefe, #f2f2f2);
        border-right: pxToEm(6px) solid #f0a598;
        .menulist {
            padding-top: pxToEm(65px);
            margin-right: pxToEm(-6px);
            border-bottom: 1px solid #bababa;
        }
        .item_menu {
            height: pxToEm(92px);
            padding: 1px 0;
            border-top: 1px solid #bababa;
            &.on .menu {
                color: #fff;
            }
            .menu {
                display: block;
                height: 100%;
                line-height: pxToEm(88px);
                color: #333;
                text-align: center;
                .word{
                    font-style: normal;
                    font-size: pxToEm(40px);
                }
                .send_word{
                    font-size: pxToEm(30px);
                }
            }
        }
        .item_newword {
            height: pxToEm(92px);
            padding: 1px 0;
            border-right: pxToEm(6px) solid #be9a3f;
            .menu {
                display: block;
                height: 100%;
                line-height: pxToEm(88px);
                font-size: pxToEm(36px);
                color: #333333;
                text-align: center;
            }
            &.on .menu {
                color: #fff;
                background-image: linear-gradient(to right, #f0e1c0, #e6c065);
            }
        }
        .item_menu:nth-child(1) {
            border-right: pxToEm(6px) solid #f875a5;
            &.on .menu {
                background-image: linear-gradient(to right, #f9dbe5, #f097b6);
            }
        }
        .item_menu:nth-child(2) {
            border-right: pxToEm(6px) solid #ffbb42;
            &.on .menu {
                background-image: linear-gradient(to right, #f8e5cc, #edb559);
            }
        }
        .item_menu:nth-child(3) {
            border-right: pxToEm(6px) solid #cdd940;
            &.on .menu {
                background-image: linear-gradient(to right, #d8ebb6, #a5d34b);
            }
        }
        .item_menu:nth-child(4) {
            border-right: pxToEm(6px) solid #be9a3f;
            &.on .menu {
                background-image: linear-gradient(to right, #f0e1c0, #e6c065);
            }
        }
        .item_menu:nth-child(5) {
            border-right: pxToEm(6px) solid #74baa9;
            &.on .menu {
                background-image: linear-gradient(to right, #c9ece3, #6dcdb6);
            }
        }
        .item_menu:nth-child(6) {
            border-right: pxToEm(6px) solid #74baa9;
            &.on .menu {
                background-image: linear-gradient(to right, #c9ece3, #6dcdb6);
            }
        }
        .btn_send {
            display: block;
            position: absolute;
            right: pxToEm(24px);
            bottom: pxToEm(16px);
            width: pxToEm(174px);
            height: pxToEm(58px);
            line-height: pxToEm(58px);
            font-size: pxToEm(24px);
            color: #ff8400;
            text-align: center;
            border: 1px solid rgba(0,0,0,.2);
            background-image: linear-gradient(to bottom, #fcfcfc, #e6e6e6);
            border-radius: pxToEm(32px);
            &:active {
                background-image: linear-gradient(to top, #fcfcfc, #e6e6e6);
            }
            .send_word{
                font-size: pxToEm(30px);
            }
        }
        .btn_endpar {
            padding-left: pxToEm(52px);
            padding-right: pxToEm(4px);
            .icon_time {
                display: inline-block;
                position: absolute;
                left: pxToEm(9px);
                top: pxToEm(6px);
                width: pxToEm(39px);
                height: pxToEm(42px);
                background: url(resources/wood/images/icon_time.png) no-repeat;
                background-size: pxToEm(39px) auto;
            }
            .txt {
                line-height: pxToEm(22px);
                margin-top: pxToEm(1px);
                color: #ff8400;
                text-align: center;
                .text{
                     font-size: pxToEm(20px);
                }
            }
        }
    } 

    //主体内容
    .mainbox {
        .main {
            vertical-align: top;
            width: pxToEm(420px);
            height: 100%;
            padding: pxToEm(40px) pxToEm(30px) 0 pxToEm(40px);
        }
        .pinyinwrap {
            position: relative;
            height: pxToEm(61px);
            padding: 0 pxToEm(50px);
            margin-bottom: pxToEm(25px);
            .btn_voice {
                position: absolute;
                top: 50%;
                right: 0;
                width: pxToEm(38px);
                height: pxToEm(38px);
                margin-top: pxToEm(-19px);
                background: url(resources/wood/images/card_voicebg.png) no-repeat left bottom;
                background-size: pxToEm(38px) auto;
                &:active {
                    opacity: 0.6;
                }
            }
            .pinyin {
                height: 100%;
                text-align: center;
                color: #333;
                letter-spacing: pxToEm(8px);
                background: url(resources/wood/images/card_pinbg.png) repeat-x;
                background-size: auto 100%;
                .word{
                    font-style: normal;
                    line-height: 1.5;
                     font-size: pxToEm(36px);
                }
                .color_red {
                    color: #c84747;
                }
            }
        }
        .wordwrap_mid {
            position: relative;
            width: pxToEm(347px);
            height: pxToEm(347px);
            margin: 0 auto;
            background: url(resources/wood/images/card_wordbg.png) no-repeat;
            background-size: auto 100%;
        } 
    }
    .footwrap {
        margin-top: pxToEm(21px);
        text-align: center;
        .introtxt {
            margin-bottom: pxToEm(24px);
            line-height: pxToEm(33px);
            text-align: center;
            color: #333;
            .word{
                font-style: normal;
                font-size: pxToEm(30px);
            }
            .only_word{
                font-style: normal;
                font-size: pxToEm(36px);
            }
            .color_red {
                margin: 0 pxToEm(6px);
                color: #ff6969;
            }
        }
        .switch {
            position: relative;
            display: inline-block;
            background: #999;
            border: 1px solid #999;
            border-radius: pxToEm(48px);
            overflow: hidden;
            .btn_switch {
                display: inline-block;
                position: relative;
                float: left;
                height: pxToEm(46px);
                line-height: pxToEm(46px);
                padding: 0 pxToEm(24px);
                color: #fff;
                .word{
                    font-size: pxToEm(30px);
                }
                &.on{
                    background-image: linear-gradient(to bottom, #fff, #ededed);
                    border-radius: pxToEm(46px);
                    .word{
                        color: #333;
                    }
                }
            }
            .btn_slider{
                position: absolute;
                z-index: 9;
                width: 50%;
                height: 100%;
                background-image: linear-gradient(to bottom, #fff, #ededed);
                border-radius: pxToEm(46px);
                transition: left 0.1s;
            }
            &.type_normal {
                .btn_slider{
                    left: 0;
                }
                .normal{
                    color: #333;
                }
            }
            &.type_slow {
                .btn_slider{
                    left: 50%;            
                }
                .slow{
                    color: #333;
                }
            }
        }
    }
    .card_middle {
        position: absolute;
        top: 0;
        left: pxToEm(425px);
        display: inline-block;
        height: 100%;
        padding-top: pxToEm(38px);
        width: pxToEm(625px);
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
        }
        /* 多媒体 */
        .card_media{ 
            position: relative;
            height: 100%;
            .box_media_pic{
                width: 100%;
                height: 100%;
            }
            .mediastage {
                width: pxToEm(600px);
                height: pxToEm(435px);
                border: 1px solid #bdbdbd;
                overflow: hidden;
                .mediabox {
                    position: relative;
                    height: 100%;
                }
            }
            .media_pic_content {
                width: 1000em;
                .media_pic{
                    width: pxToEm(600px);
                    height: pxToEm(435px);
                    float: left;
                }
            }
            .box_flicking{
                position: absolute;
                right: pxToEm(16px);
                bottom: pxToEm(4px);
                text-align: right;
                a{
                    text-indent: pxToEm(9999px);
                    display: inline-block;
                    width: pxToEm(16px);
                    height: pxToEm(16px);
                    margin-right: pxToEm(14px);
                    background: #ff8400;
                    border-radius:50%;
                    opacity: 0.2;
                    filter: alpha(opacity=20);
                    overflow: hidden;
                    &:hover{
                        opacity: 0.5;
                        filter: alpha(opacity=50);
                    }
                    &.on{
                        opacity: 1;
                        filter: alpha(opacity=100);
                    }
                }
            }
            .media_video,
            .media_radio {
                .ctrl {
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    padding: 0 pxToEm(78px);
                    height: pxToEm(66px);
                    background: rgba(0,0,0,0.5);
                }
                .btn_play {
                    position: absolute;
                    left: pxToEm(12px);
                    top: pxToEm(6px);
                    width: pxToEm(54px);
                    height: pxToEm(54px);
                    text-indent: pxToEm(-9999px);
                    text-align: left;
                    background: url(resources/wood/images/card_play.png) no-repeat 0 0;
                    background-size: 100% auto;
                    &:active {
                        background-position: 0 pxToEm(-54px);
                    }
                    &.btn_pause {
                        background-position: 0 pxToEm(-108px);
                        &:active {
                            background-position: 0 pxToEm(-162px);
                        }
                    }
                }
                .btn_fullscreen {
                    position: absolute;
                    right: pxToEm(12px);
                    top: pxToEm(12px);
                    width: pxToEm(42px);
                    height: pxToEm(42px);
                    text-indent: pxToEm(-9999px);
                    text-align: left;
                    background: url(resources/wood/images/card_fullscreen.png) no-repeat 0 0;
                    background-size: 100% auto;
                    &:active {
                        background-position: 0 pxToEm(-42px);
                    }
                }
                .probar {
                    position: relative;
                    height: pxToEm(12px);
                    margin-top: pxToEm(27px);
                    border-radius: pxToEm(6px);
                    background-color: rgba(255, 255, 255, 0.2);
                    .bar {
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        border-radius: pxToEm(9px);
                        background-image: linear-gradient(to bottom, #5aa9fe, #237bda);
                    }
                }
            } 
            .media_radio{
                background:#eaf1fc url(resources/wood/images/pics_audio.png) repeat-x left center;
                background-size: auto pxToEm(125px);
                //background-size: 100% auto;
            }
            .mediatab {
                margin-top: pxToEm(8px);
                width: pxToEm(597px);
                text-align: right;
                .tab_media_cell{
                    display: inline-block;
                    margin: 0 pxToEm(3px);
                    background: url(resources/wood/images/card_tab_bg.png) no-repeat center center;
                    background-size: 100% 100%;
                    border-radius: 50%;
                    .tab_media{
                        display: block;
                        width: pxToEm(106px);
                        height: pxToEm(106px);
                    }
                    &.on,
                    &:active {
                        background: url(resources/wood/images/card_tab_bg_active.png) no-repeat center center;
                        background-size: 100% 100%;
                    }
                }
                .icon_xing {
                    background: url(resources/wood/images/card_tab_xing.png) no-repeat center center;
                    background-size: auto 100%;
                }
                .icon_radio {
                    background: url(resources/wood/images/card_tab_radio.png) no-repeat center center;
                    background-size: auto 100%;
                }
                .icon_pic {
                    background: url(resources/wood/images/card_tab_pic.png) no-repeat center center;
                    background-size: auto 100%;
                }
                .icon_video {
                    background: url(resources/wood/images/card_tab_video.png) no-repeat center center;
                    background-size: auto 100%;
                }
            }
        }
        /* 生字解析 */
        .card_analyse{
            position: relative;
            height: 100%;
            .analyse_stage{
                position: relative;
                width: pxToEm(600px);
                height: pxToEm(434px);
                border: 1px solid #bdbdbd;
                overflow: hidden;
                .footwrap{
                    padding: pxToEm(12px) 0;
                    margin: 0;
                }
                .explain_list {
                    overflow-y: auto;
                    border-top: 2px solid #dfdfdf;
                    height: 82%;
                    .explain_content{
                        padding: 0 pxToEm(10px);
                    }
                    .explain_tit {
                        padding-top: pxToEm(18px);
                        padding-left: pxToEm(10px);
                        line-height: pxToEm(32px);
                        color: #ff8400;
                        .word{
                            font-size: pxToEm(32px);
                        }
                    }
                    .exlpain_word {
                        padding: pxToEm(12px) 0 pxToEm(18px) pxToEm(10px);
                        line-height: 1.4;
                        border-bottom: 1px dashed #999;
                        color: #333;
                        .group_word{
                            position: relative;
                            display: block; 
                        }
                        .title{
                            display: inline-block;
                            position: absolute;
                            left: 0;
                            top: 0;
                        }
                        .sentence{
                            display: block;
                        }
                        .word{
                            font-size: pxToEm(36px);
                        }
                        &:last-child {
                           border-bottom: 0 none; 
                        }
                    }
                }
            }
        }
        
    }
    &.off_left{
        left: pxToEm(300px);
    }
}
/*--*/
.word_card_full_screen{
    .woc_com_layout,.woc_com_wrapper,.woc_com_layout_container,.woc_com_layout_main{
        width: 100%;
        height: 100%;
    }
    .woc_com_layout_main{
        text-align: center;
        &:after{
            content:"";
            display: inline-block;
            width: 0;
            height: 100%;
            vertical-align: middle;
        }
    }
}

/* 教师发题后的框架 */
&.stat_wood{
    .btn_card_close,
    .pratice_pptpop_footer,
    .wordcard_mask{
        display: none !important;
    }
    .pratice_pptpop{
        background: none !important;
    }
    .woc_com_layout{
        position: relative;
        height: 100%;
        overflow: hidden;
        background: url(resources/wood/images/full_bg.jpg);
        // 题型白板端
        .woc_com_wrapper{
            width: pxToEm(1920px);
            height: pxToEm(966px);
            position: absolute;
            top: 50%;
            left: 50%;
            margin: pxToEm(-540px) 0 0 pxToEm(-960px);
            padding: pxToEm(54px) pxToEm(84px) 0;
            box-sizing: border-box;
        }

        .woc_com_layout_header{
            display: block !important;
            position: absolute;
            left: pxToEm(84px);
            right: pxToEm(84px);
            z-index: 2;
            text-align: center;
            top:0;
            background:#f3e3c8;
            border:1px solid #d3b388;
            border-bottom-color:#ead6b4;
            height: pxToEm(54px);
            line-height: pxToEm(54px);
        }
        .wordcard_time{
            position: absolute;
            color:#796647;
            left:pxToEm(84px);
            top:0;
            &:before{
                content: "答题时间：";
                font-size: pxToEm(22px);
            }
            >div {
                display: inline-block;
                width: auto !important;
                height: auto !important;
            }
        }
        .time_default {
            display: inline-block;
            height: 100%;
            i {
                display: none;
            }
        }
        .time_m,.time_s{
            font-size: pxToEm(26px);
        }
        .time_m:after{
            content: "分";
        }
        .time_s:after{
            content: "秒";
        }
        .upload{
            display: inline-block;
            font-size: pxToEm(22px);
            height: pxToEm(54px);
            line-height: pxToEm(54px);
            color: #796647;
            .upload_text{
                font-weight: normal;
            }
            .num{
                font-size: pxToEm(26px);
                color: #ff2704;
            }
        }
        // 框架
        .woc_com_layout_container{
            position: relative;
            height: 100%;
            margin: 0 auto;
            padding: 0;
            background: #f8efde;
            border:1px solid #d3b388;
            border-top:none;
            box-sizing: border-box;
            border-radius:0 0 pxToEm(20px) pxToEm(20px);
        }
        .woc_com_layout_bottom{
            &.layout_footbar{
                z-index: 301;
                position: fixed;
                //left: 3.4em;
                display: inline-block;
                right: 3.4em;
                /*top: 45.7em;*/
                visibility: hidden;
            }
            ul.statistics_footbar_ul {
                margin: 0;
                padding: 0;
                &.left{
                    position: absolute;
                    right: 64.8em;
                    float: none;
                    display: inline-block;
                    white-space: nowrap;
                    top: 0;
                }
                &.right{
                }
                .footbar-showAnalysis .com_btn_pic{
                    background: url(resources/wood/images/icon_analysis.png);
                    background-size: 100% auto;
                }
                .footbar-showResult .com_btn_pic{
                    background: url(resources/wood/images/icon_showresult.png);
                    background-size: 100% auto;
                }
                .footbar-exitThisExam .com_btn_pic{
                    background: url(resources/wood/images/icon_exitexam.png);
                    background-size: 100% auto;
                }
                .footbar-examThisExam .com_btn_pic{
                    background: url(resources/wood/images/icon_exitexam.png);
                    background-size: 100% auto;
                }
                .footbar-progress .com_btn_pic{
                    background: url(resources/wood/images/icon_progress.png);
                    background-size: 100% auto;
                }
                .footbar-endexam .com_btn_pic{
                    background: url(resources/wood/images/icon_endexam.png);
                    background-size: 100% auto;
                }
            }

            .invisible{
                display: none !important;
            }

            ul.statistics_footbar_ul li {
                display: inline-block;
                width: 4.08333em;
                height: 4.08333em;
                text-align: center;
                color: #0c0701;
                background: url(resources/wood/images/btn_br_board.png) center top no-repeat;
                background-size: 100% auto;
                text-decoration: none;
                position: relative;
                cursor: pointer;
                .com_btn_pic{
                    display: inline-block;
                    width: 2.28333em;
                    height: 2.28333em;
                    margin: 0 auto;
                    background-size: 100% auto;
                }
                .com_btn_text{
                    display: block;
                    color: #0c0701;
                    font-size: .66667em;
                    line-height: 1.25em;
                    font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
                }
            }
            ul.statistics_footbar_ul li:hover, ul.statistics_footbar_ul li:active {
                background-position: center -4.10417em
            }
        }
    }
}

/*生字卡学生端修改bug*/
.woc_com_wrapper_pad{
    height:100%;
    .wordcard_pad{
        height:100%;
    }
    .wordcard_practice {
        padding-top: pxToEm(120px);
    }
}