@import "../../../../common/resources/common/mixin/mixin";

.englishWord_box{
    position: relative;
    padding-right: pxToEm(448px);
    .content {
        position: absolute;
        left: pxToEm(64px);
        right: pxToEm(94px);
        top: pxToEm(92px);
        bottom: pxToEm(140px);
        overflow-y: auto;
        overflow-x:hidden;
        padding-bottom:3px;
        &:after{
            content: "";
            display: inline-block;
            width: 0;
            height: 100%;
            vertical-align: middle;
        }
    }
    .title{
        padding: pxToEm(45px) 0 0 pxToEm(60px);        
        line-height: pxToEm(38px);
        color: #333;
        text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.2);
        .new_ui_text{
            font-size: pxToEm(36px);
        }
    }
    .grade{
        line-height: pxToEm(74px);
        margin-bottom: pxToEm(40px);        
        &:before{
            content: "";
            position: absolute;
            left: pxToEm(-20px);
            top: pxToEm(-12px);
            margin-right: pxToEm(-30px);
            display: inline-block;
            width: pxToEm(38px);
            height: pxToEm(38px);
            line-height: pxToEm(38px);
            text-align: center;
            color: #fff;
            border-radius: 50%;
            font-size: pxToEm(36px);
        }
        .new_ui_text{
            font-size: pxToEm(46px);
        }
    }
    .canto {
        max-width: 99%;
        max-height:100%;
        display: inline-block;
        padding: 0 pxToEm(60px) 0 pxToEm(74px);
        color: #5d390d;
        text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.2);
        vertical-align: middle;
        //word-break: break-all;
        .grade_a{
            position: relative;
            padding-left: pxToEm(50px);
            margin-right: pxToEm(35px);
            border-bottom: pxToEm(6px) solid #7fcb5e;
            &:before{
                content: "A";
                background: #7fcb5e;
            }
        }
        .grade_b{
            position: relative;
            padding-left: pxToEm(50px);
            margin-right: pxToEm(35px);
            border-bottom: pxToEm(6px) solid #48cae1;
            &:before{
                content: "B";
                background: #48cae1;
            }
        }
        .grade_c{
            position: relative;
            padding-left: pxToEm(50px);
            margin-right: pxToEm(35px);
            border-bottom: pxToEm(6px) solid #8d8d8c;
            &:before{
                content: "C";
                background: #8d8d8c;
            }
        }
        .grade_d{
            position: relative;
            padding-left: pxToEm(50px);
            margin-right: pxToEm(35px);
            border-bottom: pxToEm(6px) solid #e63e3e;
            &:before{
                content: "D";
                background: #e63e3e;
            }
        }
    }    
    .contral_box{
        height: pxToEm(180px);
        border-radius: pxToEm(20px);
        border-left: 1px solid #ce943b;
        border-right: 1px solid #ce943b;
        text-align: center;
        box-shadow: 1px 1.732px pxToEm(8px) 0px rgba(68, 49, 19, 0.176);
        background: url(resources/wood/images/contral_bg.png) repeat-x;
        background-size: auto 100%;
        margin: pxToEm(8px) pxToEm(8px) 0;
        .btnbox{
            display: inline-block;
            text-align: center;
            .text{
                font-size: pxToEm(36px);
                color: #5d390d;  
                display: block;            
            }
        }
    }
    .contral01{
        .btnbox{
            margin: 0 12%;
        }
    }
    .contral02{
        .btnbox{
            margin: 0 5%;
        }
    }
    .contral03{
        .btnbox{
            margin: 0 10%;
        }
    }
    .contrbtn {
        display: inline-block;
        width: pxToEm(92px);
        height: pxToEm(98px);
        margin: pxToEm(16px) 0 pxToEm(8px);
        &.btn01{
            background-image: url(resources/wood/images/btn_icon01.png), url(resources/wood/images/btn_bg02_narmal.png);
            background-size: 100% auto, 100% 100%;
            &:active{
                background-image: url(resources/wood/images/btn_icon01.png), url(resources/wood/images/btn_bg02_press.png);
                background-size: 100% auto, 100% 100%;                    
            }
            &.none{
                background-image: url(resources/wood/images/btn_icon01_none.png), url(resources/wood/images/btn_bg02_narmal.png);
                background-size: 100% auto, 100% 100%;    
                &:active{
                    background-image: url(resources/wood/images/btn_icon01_none.png), url(resources/wood/images/btn_bg02_narmal.png);
                    background-size: 100% auto, 100% 100%;                         
                } 
                + .text{
                    color: #B2874E;
                }            
            }
            &.on{
                background-image: url(resources/wood/images/btn_icon_04_press.png), url(resources/wood/images/btn_bg03_press.png);
                background-size: auto 100%, 100% 100%;
                background-position: 0px 0px, 0px 0px;
                -webkit-animation:sound 1000ms steps(3) infinite;
                animation: sound 1000ms steps(3) infinite;
                &:active{
                    background-image: url(resources/wood/images/btn_icon01.png), url(resources/wood/images/btn_bg02_press.png);
                    background-size: 100% auto, 100% 100%;
                }
            }
        }
        &.btn02{
            background-image: url(resources/wood/images/btn_icon02.png), url(resources/wood/images/btn_bg02_narmal.png);
            background-size: 100% auto, 100% 100%;
            &:active{
                background-image: url(resources/wood/images/btn_icon02.png), url(resources/wood/images/btn_bg02_press.png);
                background-size: 100% auto, 100% 100%;                    
            }
            &.none{
                background-image: url(resources/wood/images/btn_icon02_none.png), url(resources/wood/images/btn_bg02_narmal.png);
                background-size: 100% auto, 100% 100%;    
                &:active{
                    background-image: url(resources/wood/images/btn_icon02_none.png), url(resources/wood/images/btn_bg02_narmal.png);
                    background-size: 100% auto, 100% 100%;                         
                }                 
            }
        }
        &.btn03{
            background-image: url(resources/wood/images/btn_icon03.png), url(resources/wood/images/btn_bg02_narmal.png);
            background-size: 100% auto, 100% 100%;
            &:active{
                background-image: url(resources/wood/images/btn_icon03.png), url(resources/wood/images/btn_bg02_press.png);
                background-size: 100% auto, 100% 100%;                    
            }
            &.none{
                background-image: url(resources/wood/images/btn_icon03_none.png), url(resources/wood/images/btn_bg02_narmal.png);
                background-size: 100% auto, 100% 100%;    
                &:active{
                    background-image: url(resources/wood/images/btn_icon03_none.png), url(resources/wood/images/btn_bg02_narmal.png);
                    background-size: 100% auto, 100% 100%;                         
                }                 
            }
        }
        &.btn04{
            background-image: url(resources/wood/images/btn_icon04.png), url(resources/wood/images/btn_bg02_narmal.png);
            background-size: 100% auto, 100% 100%;
            &:active{
                background-image: url(resources/wood/images/btn_icon04.png), url(resources/wood/images/btn_bg02_press.png);
                background-size: 100% auto, 100% 100%;                    
            }
            &.none{
                background-image: url(resources/wood/images/btn_icon04_none.png), url(resources/wood/images/btn_bg02_narmal.png);
                background-size: 100% auto, 100% 100%;    
                &:active{
                    background-image: url(resources/wood/images/btn_icon04_none.png), url(resources/wood/images/btn_bg02_narmal.png);
                    background-size: 100% auto, 100% 100%;                         
                }                 
            }
        }
        &.btn05{
            background-image: url(resources/wood/images/btn_icon05.png), url(resources/wood/images/btn_bg02_narmal.png);
            background-size: 100% auto, 100% 100%;
            &:active{
                background-image: url(resources/wood/images/btn_icon05.png), url(resources/wood/images/btn_bg02_press.png);
                background-size: 100% auto, 100% 100%;                    
            }
            &.none{
                background-image: url(resources/wood/images/btn_icon05_none.png), url(resources/wood/images/btn_bg02_narmal.png);
                background-size: 100% auto, 100% 100%;    
                &:active{
                    background-image: url(resources/wood/images/btn_icon05_none.png), url(resources/wood/images/btn_bg02_narmal.png);
                    background-size: 100% auto, 100% 100%;                         
                }                 
            }
        }
    }
    .barbox{
        position: relative;
        display: inline-block;
        width: 56%;
        height: pxToEm(98px);
        margin: pxToEm(44px) 0 0 0;
        vertical-align: top;
    }
    .bar_icon{
        display: block;
        width: pxToEm(92px);
        height: pxToEm(98px);
        background: url(resources/wood/images/btn_icon02.png) no-repeat;
        background-size: 100% auto;       
    }
    .bar_cavans{
        position: absolute;
        top: 0;
        left: pxToEm(106px);
        right: 0;
        height: 100%;
        border-radius: pxToEm(8px);
        text-align: left;
        background: rgba(0,0,0,0.1);
        vertical-align: bottom;
    }
    .bar{
        position: absolute;
        top: pxToEm(22px);
        left: pxToEm(106px);
        right: 0;
        height: pxToEm(50px);
        border-radius: pxToEm(8px);
        text-align: left;
        background: url(resources/wood/images/bar.png) no-repeat;
        background-size: 100% 100%;
        vertical-align: bottom;
        .in{
            display: inline-block;
            height: 100%;
            border-radius: pxToEm(8px);
            background: url(resources/wood/images/bar_in.png) left top no-repeat;
            background-size: auto 100%;
        }
    }
    /*发音布局*/
    .com_layout_tit{
        background: none;
        padding: pxToEm(20px) pxToEm(60px) 0;
        height: auto;
        .tit{
            text-align: left;
        }
    }
    .com_layout_main_exam {
        height: pxToEm(728px);
    }    
    .afubox{
        bottom: pxToEm(38px);
        right: pxToEm(10px);
    }

    /*句子发音布局*/
    .com_m_sidehead{
        position: absolute;
        top: 0;
        width:100%;
        z-index: 3;
        .title{
            padding:0;
            font-size: pxToEm(36px);
            text-align: center;
            color: #fff;
            height: pxToEm(42px);
        }
    }    
    .english_sider {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        padding-top: pxToEm(62px);
        padding-bottom: pxToEm(2px);
        width: pxToEm(438px);
    }
    .com_m_sidecon{
        position: relative;
        height: 100%;
        overflow: visible;
        .word_content {
            max-height: 100%;
            border-radius: 0 0 pxToEm(15px) pxToEm(15px);
            background: #f9f9fa;
            overflow-y: auto;            
            .list{
                height: pxToEm(103px);
                line-height: pxToEm(102px);
                border-bottom: 1px solid #eae8e3;
            }
            .word {
                display: block;
                width:100%;
                height: 100%;
                padding-left: pxToEm(32px);
                text-align: left;
                position: relative;
                overflow: hidden;
                &:active{
                    background: #f5f5fa;
                }
            }
            .text{
                display: inline-block;    
                width: pxToEm(214px);            
                font-size: pxToEm(36px);
                text-align: left;
                color: #2e2e2e;
                overflow: hidden; 
                white-space: nowrap; 
                text-overflow: ellipsis;
            }
        }
    }
    .english_score{
        position: absolute;
        right: pxToEm(25px);
        top: pxToEm(25px);
        display: inline-block;
        width: pxToEm(52px);
        height: pxToEm(52px);
        line-height: pxToEm(52px);
        border-radius: 50%;
        border: pxToEm(5px) solid #e5e5e5;
        background: #fff;
        text-align: center;
        &.score{
            border: none;            
            text-align: center;
            color: #fff;
            .new_ui_text{
               font-size: pxToEm(38px);
            }
        }
    }
    .english_score_a{
        background: #7fcb5e;
    }
    .english_score_b{
        background: #48cae1;
    }
    .english_score_c{
        background: #eb9925;
    }
    .english_score_d{
        background: #e63e3e;
    }
    /*左右切换按钮*/
    .btn_turn_previous,.btn_turn_next{
        position: absolute;
        top: 50%;
        display: inline-block;
        width: pxToEm(84px);
        height: pxToEm(84px);
        margin-top: pxToEm(-56px);
        &.com_btn_disabled{
            filter:Gray; 
            -webkit-filter: grayscale(100%); 
            opacity: 0.2;
            filter: alpha(opacity=20);
        }
    }
    .btn_turn_previous{        
        left: 0;
        background-image: url(resources/wood/images/btn_iconl.png), url(resources/wood/images/btn_bg01_narmal.png);
        background-size: 100% auto, 100% auto;
        background-repeat: no-repeat, no-repeat;
        &:active{
            background-image: url(resources/wood/images/btn_iconl.png), url(resources/wood/images/btn_bg01_press.png);
        }
        &.com_btn_disabled{
            &:active{
                background-image: url(resources/wood/images/btn_iconl.png), url(resources/wood/images/btn_bg01_narmal.png);
            }
        }
    }
    .btn_turn_next{
        right: 0;
        background-image: url(resources/wood/images/btn_iconr.png), url(resources/wood/images/btn_bg01_narmal.png);
        background-size: 100% auto, 100% auto;
        background-repeat: no-repeat, no-repeat;
        &:active{
            background-image: url(resources/wood/images/btn_iconr.png), url(resources/wood/images/btn_bg01_press.png);
        }
        &.com_btn_disabled{
            &:active{
                background-image: url(resources/wood/images/btn_iconr.png), url(resources/wood/images/btn_bg01_narmal.png);
            }
        }
    }
    /*标题*/
    .english_title_left{
        position: absolute;
        top: pxToEm(40px);
        left: pxToEm(60px);
        z-index: 33;
    }
    .en_title_num{        
        font-size: pxToEm(60px);
        text-align: left;
        color: #333;
        text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.2);
    }
    .en_title_score{
        text-align: left;
        color: #5d390d;
        text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.2);
        padding-top: pxToEm(8px);
        .new_ui_text{
            font-size: pxToEm(46px);
        }
        .word{
            display: inline-block;
            width: pxToEm(48px);
            height: pxToEm(48px);
            margin-left: pxToEm(15px);
            line-height: pxToEm(48px);
            border-radius: 50%;
            text-align: center;
            color: #fff;
            background: #5d390d;
            .new_ui_text{
                font-size: pxToEm(36px);
            }
        }
    }
    /*句子发音*/
    .content {
        text-align: center;
        left: pxToEm(90px);
        bottom: 0;
    }
    .canto{
        text-align: center;
        padding: 0;
    }
    .en_word_element{
        display: inline-block;
        font-size: pxToEm(160px);
        font-weight: bold;
        color: #5d390d;
        text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.2);
        line-height: 1.5;
        &.en_word_element_small{
            font-size: pxToEm(114px);
        }
    }
    .en_word_pronunciation{
        font-size: pxToEm(60px);
        line-height: 1.5;
        margin-top: pxToEm(2px);
        color: #5d390d;
        text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.2);
        .en_color_red{
            color: #ea0707;
        }
        .en_color_yellow{
            color: #fff600;
        }
        .en_color_blue{
            color: #0036ff;
        }
    }
    .en_word_mean{
        font-size: pxToEm(46px);
        line-height: 1.5;
        color: #5d390d;
        text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.2);
    }
}

/*单词发音pad端调整*/
.com_wrapper_pad .englishWord_box .com_layout_main_exam {
    height: pxToEm(770px);
}