@charset "UTF-8";
.ndui-tool.mindmap-toolbar {
    /*按钮列表*/
    .ndui-tool-box {
        margin: 0 auto;
        padding: pxToEm(26px) 0 pxToEm(17px) 0;
        width: pxToEm(122px);
    }
    .ndui-tool-cell {
        width: 100%;
        height: pxToEm(122px);
        margin-bottom: pxToEm(0px);
        
        text-align: center;
        cursor: pointer;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .ndui-btn-mindmap {
        display: inline-block;
        width: 100%;
        height: 100%;
        padding-top: pxToEm(21px);
        .ndui-btn-pic {
            display: block;
            margin: 0 auto;
            width: pxToEm(65px);
            height: pxToEm(65px);
            background: url(resources/wood/images/mindmap/icon_reset.png) no-repeat center ;
            background-size: 100% 100%;
        }
        .ndui-btn-text {
            font-size: pxToEm(24px);
            line-height: pxToEm(28px);
            color: #544f49;
        }
        &:active, &.ui_btn_active {
            background: url(resources/wood/images/mindmap/toolbtn_bg.png) no-repeat center;
            background-size: 100% 100%;
        }
        &.click_disabled {
            filter: Gray;
            -webkit-filter: grayscale(100%);
            background: none;
            cursor: not-allowed;
        }
        &.reset {
            .ndui-btn-pic {
                background-image: url(resources/wood/images/mindmap/icon_reset.png);
            }
        }
        &.back {
            .ndui-btn-pic {
                background-image: url(resources/wood/images/mindmap/icon_back.png);
            }
        }
        &.location {
            .ndui-btn-pic {
                background-image: url(resources/wood/images/mindmap/icon_location.png);
            }
        }
        &.total {
            .ndui-btn-pic {
                background-image: url(resources/wood/images/mindmap/icon_total.png);
            }
        }
    }
    
    /*进度条*/
    .ndui-slide-wrap {
        position: relative;
        &.verticle {
            width: 100%;
            height: pxToEm(342px);
            .ndui-slide {
                transform-origin: center center;
                transform: translate(-50%,-50%) rotate(0deg);
            }
            .ndui-slide-btn {
                transform: rotate(0deg);
            }
            .ndui-slide-range::-webkit-slider-thumb {
                transform: rotate(0deg);
            }
        }
        &.horizontal {
            width: pxToEm(342px);
            height: pxToEm(52px);
            .ndui-slide {
                transform-origin: center center;
                transform: translate(-50%,-50%) rotate(90deg);
            }
            .ndui-slide-btn {
                transform: rotate(-90deg);
            }
            .ndui-slide-range::-webkit-slider-thumb {
                transform: rotate(-90deg);
            }
        }
    }
    .ndui-slide {
        position: absolute;
        left: 50%;
        top: 50%;
        /*margin-left: pxToEm(26px);
        margin-top: pxToEm(171px);*/
        transform: translate(-50%,-50%);
        width: pxToEm(52px);
        height: pxToEm(342px);
        padding: pxToEm(44px) 0;
         background: url(resources/wood/images/mindmap/toolprocess_bg.png) no-repeat center ;
        background-size: 100% 100%;
    }
    .ndui-slide-body {
        position: relative;
        margin: 0 auto;
        width: pxToEm(19px);
        height: 100%;
        padding: pxToEm(8px) 0;
        background: url(resources/wood/images/mindmap/inside_bg.png) repeat-y center top;
        border: 1px solid #fff;
        border-radius: pxToEm(19px);
        background-size: 100% auto;
    }
    .ndui-slide-bg {
        position: relative;
        margin: 0 auto;
        width: pxToEm(5px);
        height: 100%;
        background: #d9d9d9;
        
        border-radius: 5px;
        overflow: hidden;
        box-shadow: inset 1px 0 5px 0 rgba(0,0,0,.41);
    }
    .ndui-slide-bg-tips {
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, #67c248 0%, #64cef9 100%);
        transform: translateY(60%);
        box-shadow: inset 1px 0 5px 0 rgba(0,0,0,.41);
    }
    .ndui-slide-btn {
        z-index: 10;
        position: absolute;
        left: 0;
        right: 0;
        margin:  0 auto;
        width: pxToEm(40px);
        height: pxToEm(40px);
        background: url(resources/wood/images/mindmap/icon_big.png) no-repeat center ;
        background-size: pxToEm(20px) auto;
        text-indent: -9999px;
        cursor: pointer;
        &.plus {
            top: pxToEm(4px);
            bottom: auto;
            background-image: url(resources/wood/images/mindmap/icon_big.png);
        }
        &.minus {
            top: auto;
            bottom: pxToEm(4px);
            background-image: url(resources/wood/images/mindmap/icon_small.png);
        }
    }
    .ndui-slide-range {
        -webkit-appearance: none;
        font-size: 1em;
        z-index: 1;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: 0;
        transform-origin: center center;
        transform: translate(-50%,-50%) rotate(-90deg);
        width: pxToEm(304px);
        height: pxToEm(21px);
        background: none;    
    }
    .ndui-slide-range::-webkit-slider-thumb {
        z-index: 2;
        position: relative;
        -webkit-appearance: none;
        width: pxToEm(87px);
        height: pxToEm(87px);
        background: url(resources/wood/images/mindmap/icon_anchor1.png) no-repeat center;
        background-size: 100% 100%;
        cursor: pointer;
    }
    .ndui-tool-colse {
        display: none;
    }   
}

 
