/* 木纹底滚动条样式 */
.scrollbar_style_default::-webkit-scrollbar{
  width: pxToEm(19px);
  border-radius: pxToEm(12.5px);
  height: pxToEm(19px);
  background: url(resources/baseModule/scrollbar/wood/images/scrollv_bg.png) 50% 50% repeat;
  padding: 0 pxToEm(4px);
  border: pxToEm(1px) solid #b2874e;
}
.scrollbar_style_default::-webkit-scrollbar:horizontal{
  width: pxToEm(19px);
  border-radius: pxToEm(12.5px);
  height: pxToEm(19px);
  background: url(resources/baseModule/scrollbar/wood/images/scrollh_bg.png) 50% 50% repeat-x;
  padding: pxToEm(4px) 0;
  border: pxToEm(1px) solid #b2874e;
}
.scrollbar_style_default::-webkit-scrollbar-button:increment:vertical{
  background: url(resources/baseModule/scrollbar/wood/images/scrollv_down.png) 50% 50% no-repeat;
  background-size: pxToEm(15px) pxToEm(15px);
}
.scrollbar_style_default::-webkit-scrollbar-button:decrement:vertical{
  background: url(resources/baseModule/scrollbar/wood/images/srcollv_up.png) 50% 50% no-repeat;
  background-size: pxToEm(15px) pxToEm(15px);
}
.scrollbar_style_default::-webkit-scrollbar-button:increment:horizontal{
  background: url(resources/baseModule/scrollbar/wood/images/scrollh_down.png) 50% 50% no-repeat;
  background-size: pxToEm(15px) pxToEm(15px);
}
.scrollbar_style_default::-webkit-scrollbar-button:decrement:horizontal{
  background: url(resources/baseModule/scrollbar/wood/images/scrollh_up.png) 50% 50% no-repeat;
  background-size: pxToEm(15px) pxToEm(15px);
}
.scrollbar_style_default::-webkit-scrollbar-track{
}
.scrollbar_style_default::-webkit-scrollbar-track-piece{
}

.scrollbar_style_default::-webkit-scrollbar-thumb:vertical{
  background-image: url(resources/baseModule/scrollbar/wood/images/scrollv_line_mid.png),url(resources/baseModule/scrollbar/wood/images/scrollv_thumb_bg.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 50%,50% 0;
  background-size: pxToEm(9px) pxToEm(20px), pxToEm(19px) 100%;
  box-shadow: inset 0px pxToEm(1px) 0px 0px rgba(255, 255, 255, 0.95), 0px pxToEm(2px) 0px 0px rgba(95, 59, 13, 0.42), inset 0 0 pxToEm(2px) pxToEm(20px) rgba(255, 255, 255, 0.2);
  border-radius: pxToEm(20px);
  position: absolute;
}
.scrollbar_style_default::-webkit-scrollbar-thumb:horizontal{
  background-image: url(resources/baseModule/scrollbar/wood/images/scrollh_line_mid.png),url(resources/baseModule/scrollbar/wood/images/scrollh_thumb_bg.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 50%,0 50%;
  background-size: pxToEm(20px) pxToEm(9px), 100% pxToEm(19px);
  box-shadow: inset pxToEm(1px) 0px 0px 0px rgba(255, 255, 255, 0.95), pxToEm(2px) 0px 0px 0px rgba(95, 59, 13, 0.42), inset 0 0 1.95px 20px rgba(255, 255, 255, 0.2);
  border-radius: pxToEm(20px);
  position:absolute;
}

/* 白格子纹底的滚动条样式 */
.baseMod-scrollbar-style-gray::-webkit-scrollbar{
  width: pxToEm(21px);
  height: pxToEm(21px);
  background-color: #e2dfdb;
  border-radius: pxToEm(12px);
}

.baseMod-scrollbar-style-gray::-webkit-scrollbar-thumb{
  background: #c9c4bd;
  border-radius: pxToEm(12px);
}

/* 浅黄滚动条 */
.scrollbar_style_light::-webkit-scrollbar {
  width: 9px;
  border-radius: 12.5px;
  /*background: url(resources/scroll_bg.png) 50% 50% repeat-y;*/
  padding:0 4px;
  height:9px;
  /*border:1px solid #b2874e;*/
}
.scrollbar_style_light::-webkit-scrollbar-button:increment {
  background: url(resources/baseModule/scrollbar/wood/images/scroll_thumb_t_bg.png) 50% 50% no-repeat;
  height:5px;
  width:5px;
}
.scrollbar_style_light::-webkit-scrollbar-button:decrement {
  background: url(resources/baseModule/scrollbar/wood/images/scroll_thumb_t_bg.png) 50% 50% no-repeat;
  height:1px;
  width:1px;
}
.scrollbar_style_light::-webkit-scrollbar-track {
}
.scrollbar_style_light::-webkit-scrollbar-track-piece {
}
.scrollbar_style_light::-webkit-scrollbar-thumb {
   background-image:url(resources/baseModule/scrollbar/wood/images/scroll_thumb_bg_t.png);
   background-repeat: repeat;
   background-position: 50% 0;
   box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.95), 0px 2px 0px 0px rgba(95, 59, 13, 0.42), inset 0 0 1.95px 20px rgba(255, 255, 255, 0.2);
   border-radius: 20px;
   position:absolute;
}
.scrollbar_style_light::-webkit-scrollbar-thumb:horizontal:hover {
  opacity:0.5
}

/* 棕色滚动条 */
.scrollbar_style_brown::-webkit-scrollbar{
  width: pxToEm(8px);
  height: pxToEm(8px);
}

.scrollbar_style_brown::-webkit-scrollbar-thumb{
  background: #a1763d;
  border-radius: pxToEm(4px);
}