@import "../../../../common/resources/common/mixin/mixin";
.englishCanto_box{
    .content{
        position: absolute;
        left: 0;
        right: 0;
        top: pxToEm(30px);
        bottom: pxToEm(140px);
        overflow-y: auto;
        overflow-x:hidden;
        padding-bottom:3px;
        &:after{
            content: "";
            display: inline-block;
            width: 0;
            height: 100%;
            vertical-align: middle;
        }
    }
    .title{
        padding: pxToEm(45px) 0 0 pxToEm(60px);        
        line-height: pxToEm(38px);
        color: #333;
        text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.2);
        .new_ui_text{
            font-size: pxToEm(36px);
        }
    }
    .grade{
        line-height: pxToEm(94px);
        margin-bottom: pxToEm(40px);        
        &:before{
            content: "";
            position: absolute;
            left: pxToEm(-20px);
            top: pxToEm(-12px);
            margin-right: pxToEm(-30px);
            display: inline-block;
            width: pxToEm(38px);
            height: pxToEm(38px);
            line-height: pxToEm(38px);
            text-align: center;
            color: #fff;
            border-radius: 50%;
            font-size: pxToEm(36px);
        }
        .new_ui_text{
            font-size: pxToEm(46px);
        }
    }
    .canto {
        max-width: 99%;
        max-height:100%;
        display: inline-block;
        padding: 0 pxToEm(60px) 0 pxToEm(74px);
        color: #5d390d;
        text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.2);
        vertical-align: middle;
        //word-break: break-all;
        .grade_a{
            position: relative;
            padding-left: pxToEm(50px);
            margin-right: pxToEm(35px);
            border-bottom: pxToEm(6px) solid #7fcb5e;
            &:before{
                content: "A";
                background: #7fcb5e;
            }
        }
        .grade_b{
            position: relative;
            padding-left: pxToEm(50px);
            margin-right: pxToEm(35px);
            border-bottom: pxToEm(6px) solid #48cae1;
            &:before{
                content: "B";
                background: #48cae1;
            }
        }
        .grade_c{
            position: relative;
            padding-left: pxToEm(50px);
            margin-right: pxToEm(35px);
            border-bottom: pxToEm(6px) solid #8d8d8c;
            &:before{
                content: "C";
                background: #8d8d8c;
            }
        }
        .grade_d{
            position: relative;
            padding-left: pxToEm(50px);
            margin-right: pxToEm(35px);
            border-bottom: pxToEm(6px) solid #e63e3e;
            &:before{
                content: "D";
                background: #e63e3e;
            }
        }
    }
    .result{
        position: absolute;
        bottom: pxToEm(36px);
        left: 0;
        right: 0;        
        color: #5d390d;
        text-align: center;
        text-shadow: 0.5px 0.866px 0px rgba(255, 255, 255, 0.2);
        .text{
            display: inline-block;
            margin-right: pxToEm(40px);
            .new_ui_text{
                font-size: pxToEm(42px);
                font-weight: bold;
            }
            i .new_ui_text{
                font-size: pxToEm(36px);
            }
        }
        i{
            display: inline-block;
            width: pxToEm(49px);
            height: pxToEm(49px);
            line-height: pxToEm(49px);
            border-radius: 50%;
            font-weight: bold;
            text-align: center;
            background: #5d390d;
            box-shadow: 0.5px 0.866px 0px 0px rgba(255, 255, 255, 0.2);
        }
        .grade_a{
            color: #7fcb5e;
        }
        .grade_b{
            color: #48cae1;
        }
        .grade_c{
            color: #8d8d8c;
        }
        .grade_d{
            color: #e63e3e;
        }
    }
    
    .contral_box{
        height: pxToEm(180px);
        border-radius: pxToEm(20px);
        border-left: 1px solid #ce943b;
        border-right: 1px solid #ce943b;
        text-align: center;
        box-shadow: 1px 1.732px pxToEm(8px) 0px rgba(68, 49, 19, 0.176);
        background: url(resources/wood/images/contral_bg.png) repeat-x;
        background-size: auto 100%;
        margin: pxToEm(8px) pxToEm(8px) 0;
        .btnbox{
            display: inline-block;
            text-align: center;
            .text{
                font-size: pxToEm(36px);
                color: #5d390d;  
                display: block;            
            }
        }
    }
    .contral01{
        .btnbox{
            margin: 0 12%;
        }
    }
    .contral02{
        .btnbox{
            margin: 0 5%;
        }
    }
    .contral03{
        .btnbox{
            margin: 0 10%;
        }
    }
    .contrbtn {
        display: inline-block;
        width: pxToEm(92px);
        height: pxToEm(98px);
        margin: pxToEm(16px) 0 pxToEm(8px);
        &.btn01{
            background-image: url(resources/wood/images/btn_icon01.png), url(resources/wood/images/btn_bg02_narmal.png);
            background-size: 100% auto, 100% 100%;
            &:active{
                background-image: url(resources/wood/images/btn_icon01.png), url(resources/wood/images/btn_bg02_press.png);
                background-size: 100% auto, 100% 100%;                    
            }
            &.none{
                background-image: url(resources/wood/images/btn_icon01_none.png), url(resources/wood/images/btn_bg02_narmal.png);
                background-size: 100% auto, 100% 100%;    
                &:active{
                    background-image: url(resources/wood/images/btn_icon01_none.png), url(resources/wood/images/btn_bg02_narmal.png);
                    background-size: 100% auto, 100% 100%;                         
                } 
                + .text{
                    color: #B2874E;
                }            
            }
            &.on{
                background-image: url(resources/wood/images/btn_icon_04_press.png), url(resources/wood/images/btn_bg03_press.png);
                background-size: auto 100%, 100% 100%;
                background-position: 0px 0px, 0px 0px;
                -webkit-animation:sound 1000ms steps(3) infinite;
                animation: sound 1000ms steps(3) infinite;
                &:active{
                    background-image: url(resources/wood/images/btn_icon01.png), url(resources/wood/images/btn_bg02_press.png);
                    background-size: 100% auto, 100% 100%;
                }
            }
        }
        &.btn02{
            background-image: url(resources/wood/images/btn_icon02.png), url(resources/wood/images/btn_bg02_narmal.png);
            background-size: 100% auto, 100% 100%;
            &:active{
                background-image: url(resources/wood/images/btn_icon02.png), url(resources/wood/images/btn_bg02_press.png);
                background-size: 100% auto, 100% 100%;                    
            }
            &.none{
                background-image: url(resources/wood/images/btn_icon02_none.png), url(resources/wood/images/btn_bg02_narmal.png);
                background-size: 100% auto, 100% 100%;    
                &:active{
                    background-image: url(resources/wood/images/btn_icon02_none.png), url(resources/wood/images/btn_bg02_narmal.png);
                    background-size: 100% auto, 100% 100%;                         
                }                 
            }
        }
        &.btn03{
            background-image: url(resources/wood/images/btn_icon03.png), url(resources/wood/images/btn_bg02_narmal.png);
            background-size: 100% auto, 100% 100%;
            &:active{
                background-image: url(resources/wood/images/btn_icon03.png), url(resources/wood/images/btn_bg02_press.png);
                background-size: 100% auto, 100% 100%;                    
            }
            &.none{
                background-image: url(resources/wood/images/btn_icon03_none.png), url(resources/wood/images/btn_bg02_narmal.png);
                background-size: 100% auto, 100% 100%;    
                &:active{
                    background-image: url(resources/wood/images/btn_icon03_none.png), url(resources/wood/images/btn_bg02_narmal.png);
                    background-size: 100% auto, 100% 100%;                         
                }                 
            }
        }
        &.btn04{
            background-image: url(resources/wood/images/btn_icon04.png), url(resources/wood/images/btn_bg02_narmal.png);
            background-size: 100% auto, 100% 100%;
            &:active{
                background-image: url(resources/wood/images/btn_icon04.png), url(resources/wood/images/btn_bg02_press.png);
                background-size: 100% auto, 100% 100%;                    
            }
            &.none{
                background-image: url(resources/wood/images/btn_icon04_none.png), url(resources/wood/images/btn_bg02_narmal.png);
                background-size: 100% auto, 100% 100%;    
                &:active{
                    background-image: url(resources/wood/images/btn_icon04_none.png), url(resources/wood/images/btn_bg02_narmal.png);
                    background-size: 100% auto, 100% 100%;                         
                }                 
            }
        }
        &.btn05{
            background-image: url(resources/wood/images/btn_icon05.png), url(resources/wood/images/btn_bg02_narmal.png);
            background-size: 100% auto, 100% 100%;
            &:active{
                background-image: url(resources/wood/images/btn_icon05.png), url(resources/wood/images/btn_bg02_press.png);
                background-size: 100% auto, 100% 100%;                    
            }
            &.none{
                background-image: url(resources/wood/images/btn_icon05_none.png), url(resources/wood/images/btn_bg02_narmal.png);
                background-size: 100% auto, 100% 100%;    
                &:active{
                    background-image: url(resources/wood/images/btn_icon05_none.png), url(resources/wood/images/btn_bg02_narmal.png);
                    background-size: 100% auto, 100% 100%;                         
                }                 
            }
        }
    }
    .barbox{
        position: relative;
        display: inline-block;
        width: 56%;
        height: pxToEm(98px);
        margin: pxToEm(44px) 0 0 0;
        vertical-align: top;
    }
    .bar_icon{
        display: block;
        width: pxToEm(92px);
        height: pxToEm(98px);
        background: url(resources/wood/images/btn_icon02.png) no-repeat;
        background-size: 100% auto;       
    }
    .bar_cavans{
        position: absolute;
        top: 0;
        left: pxToEm(106px);
        right: 0;
        height: 100%;
        border-radius: pxToEm(8px);
        text-align: left;
        background: rgba(0,0,0,0.1);
        vertical-align: bottom;
    }
    .bar{
        position: absolute;
        top: pxToEm(22px);
        left: pxToEm(106px);
        right: 0;
        height: pxToEm(50px);
        border-radius: pxToEm(8px);
        text-align: left;
        background: url(resources/wood/images/bar.png) no-repeat;
        background-size: 100% 100%;
        vertical-align: bottom;
        .in{
            display: inline-block;
            height: 100%;
            border-radius: pxToEm(8px);
            background: url(resources/wood/images/bar_in.png) left top no-repeat;
            background-size: auto 100%;
        }
    }
    /*篇章发音布局*/
    .com_layout_tit{
        background: none;
        padding: pxToEm(20px) pxToEm(60px) 0;
        height: auto;
        .tit{
            text-align: left;
        }
    }
    .com_layout_main_exam {
        height: pxToEm(728px);
    }
    .afubox{
        bottom: pxToEm(258px);
    }
}
/*篇章发音pad端调整*/
.com_wrapper_pad .englishCanto_box .com_layout_main_exam {
    height: pxToEm(770px);
}