<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>填色游戏题-白板端</title>
    <link rel="stylesheet" type="text/css" href="../../../common/common.css">
    <link rel="stylesheet" type="text/css" href="../style.css" />
</head>

<body>
    <div class="exam_skin_wood">
        <div class="com_layout" id="layout">
            <div class="com_wrapper_board fillColor_wrapper">
                <!-- pad端加.com_wrapper_pad，白板端加.com_wrapper_board  白板端发送之后 .fillColor_wrapper 添加类名 .fillColor_send 让头部显示不同的样式 -->
                <!--头部-->
                <div class="com_layout_header">
                    <!--计时器-->
                    <div class="com_header_time">
                        @@include('../../../common/resources/common/time/_time.html', {"txt":"", "classname":""})
                        <p class="upload"><b class="upload_text">提交人数：</b><span class="num">35</span>/<span>50</span></p>
                    </div>
                    <!--/计时器-->
                    <!--提交按钮-->
                    <div class="com_header_tool">
                        @@include('../../../common/resources/common/button/_com_btn_round.html', {"txt":"提&nbsp;&nbsp;交", "classname":""})
                    </div>
                    <!--/提交按钮-->
                </div>
                <!--/头部-->
                <!--主体内容-->
                <div class="com_layout_container">
                    <!-- 没有标题时加.notit -->
                    <div class="com_layout_exam_content">
                        <div class="layout_FillColor">
                            <!--layout_FillColor 添加 take_up_leftbar 类为收起工具栏布局-->
                            <!--具体题型内容-->
                            <div style="">
                                <div class="FillColor_txt_wrap">
                                    <div class="FillColor_txt">
                                        <div class="fc_title_box">
                                            <div class="txt">
                                                请发挥想象力给福娃填上你喜欢的颜色
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="com_layout_main">
                                    <div class="com_layout_main_att">
                                        <div class="layout_att_inner">
                                            <div style="position:absolute;left:0;right:0;top:0;bottom:0">
                                                <div class="inner">
                                                    <!--inner 加上animate_set 动画-->
                                                    <img src="../resources/wood/images/show_exm_icon.png" alt="" class="">
                                                </div>
                                                <!--查看事例按钮-->
                                                <!--<a href="javascript:;" class="fc_see_btn ui_btn_active">
                                            <span class="fc_see_text">查看事例</span>
                                        </a>-->
                                                @@include('../../../common/resources/common/button/_com_btn_round2.html', {"classname":"fc_seeexm_btn","txt":"查看示例"})
                                                <!--查看事例按钮end-->
                                                <!--填色示例-->
                                                <div class="show_exm hide_dom">
                                                    <span class="show_exam_text">填色示例</span>
                                                    <a href="javascript:;" class="show_exam_icon">
                                                        <img src="../resources/wood/images/show_exm_icon.png" alt="" class="">
                                                    </a>
                                                </div>
                                                <!--填色示例end-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--具体题型内容end-->
                                <!--工具栏-->
                                <div class="ndui-tool left_fillcolor_bar">
                                    <div class="ndui-tool-box">
                                        <ul class="ndui-tool-list" v-for="sideItem in (side === 'both'? ['left', 'right']: [side])" :class="['ndui-tool-' + sideItem]">
                                            <li class="ndui-tool-cell" v-for="(item, index) in items" v-show="!item.hidden">
                                                <a class="ndui_btn_fillcolor clear click_disabled" href="javascript:;" v-else :class="style" @click.stop="click">
                                                    <i class="ndui-btn-pic"></i>
                                                    <span class="ndui-btn-text">清空</span>
                                                </a>
                                            </li>
                                            <li class="ndui-tool-cell" v-for="(item, index) in items" v-show="!item.hidden">
                                                <a class="ndui_btn_fillcolor color ui-btn-active" href="javascript:;" v-else :class="style" @click.stop="click">
                                                    <i class="ndui-btn-pic"></i>
                                                    <span class="ndui-btn-text">色轮</span>
                                                </a>
                                            </li>
                                            <li class="ndui-tool-cell" v-for="(item, index) in items" v-show="!item.hidden">
                                                <!--调色区域-->
                                                <div class="fc_toning">
                                                    <!--fc_toning 类添加 contract_set 为收缩6格调色盘 contract_fix_set 为12格固定色盘 不加为全18色色盘-->
                                                    <div class="fc_toningpop">
                                                        <div class="toning_toolbox">
                                                            <p class="fc_toolrow clearfix fix_color">
                                                                <a href="javascript:;" class="fc_listcom red">
                                                                    <span class="select_color_icon"></span>
                                                                </a>
                                                                <a href="javascript:;" class="fc_listcom red">
                                                                    <span class="select_color_icon"></span>
                                                                </a>
                                                                <a href="javascript:;" class="fc_listcom">
                                                                    <span class="select_color_icon"></span>
                                                                </a>
                                                                <a href="javascript:;" class="fc_listcom red on">
                                                                    <span class="select_color_icon"></span>
                                                                </a>
                                                                <a href="javascript:;" class="fc_listcom">
                                                                    <span class="select_color_icon"></span>
                                                                </a>
                                                                <a href="javascript:;" class="fc_listcom">
                                                                    <span class="select_color_icon"></span>
                                                                </a>
                                                                <a href="javascript:;" class="fc_listcom">
                                                                    <span class="select_color_icon"></span>
                                                                </a>
                                                                <a href="javascript:;" class="fc_listcom green">
                                                                    <span class="select_color_icon"></span>
                                                                </a>
                                                                <a href="javascript:;" class="fc_listcom">
                                                                    <span class="select_color_icon"></span>
                                                                </a>
                                                                <a href="javascript:;" class="fc_listcom green on">
                                                                    <span class="select_color_icon"></span>
                                                                </a>
                                                                <a href="javascript:;" class="fc_listcom">
                                                                    <span class="select_color_icon"></span>
                                                                </a>
                                                                <a href="javascript:;" class="fc_listcom">
                                                                    <span class="select_color_icon"></span>
                                                                </a>
                                                            </p>
                                                            <p class="fc_toolrow clearfix">
                                                                <a href="javascript:;" class="fc_listcom">
                                                                    <span class="select_color_icon"></span>
                                                                </a>
                                                                <a href="javascript:;" class="fc_listcom blue">
                                                                    <span class="select_color_icon"></span>
                                                                </a>
                                                                <a href="javascript:;" class="fc_listcom">
                                                                    <span class="select_color_icon"></span>
                                                                </a>
                                                                <a href="javascript:;" class="fc_listcom blue on">
                                                                    <span class="select_color_icon"></span>
                                                                </a>
                                                                <a href="javascript:;" class="fc_listcom">
                                                                    <span class="select_color_icon"></span>
                                                                </a>
                                                                <a href="javascript:;" class="fc_listcom">
                                                                    <span class="select_color_icon"></span>
                                                                </a>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--调色区域end-->
                                                <!--调色盘区域-->
                                                <div class="fc_toning_palette">
                                                    <div class="fctp_svg_container">
                                                        <div class="svg_inner_con"></div>
                                                    </div>
                                                </div>
                                                <!--调色盘区域end-->
                                            </li>
                                            <li class="ndui-tool-cell" v-for="(item, index) in items" v-show="!item.hidden">
                                                <a class="ndui_btn_fillcolor back" href="javascript:;" v-else :class="style" @click.stop="click">
                                                    <i class="ndui-btn-pic"></i>
                                                    <span class="ndui-btn-text">上一步</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!--手写板开启关闭按钮-->
                                    <!-- <div class="fc_btn_switch_box on" href="####">
                                                    <span class="off_text hide_dom"><em>推开即可手写</em></span>
                                                    <span class="on_text hide_dom"><em>手写已开启</em></span>
                                                    <a class="fc_btn_switch" href="###"></a>
                                                </div> -->
                                    @@include('../../../common/resources/common/switch/_switch-style1.html', {"classname":"ndui-switch-finger fc_switch_btn"})
                                    <!--手写板开启关闭按钮end-->
                                    <!--返回关闭按钮-->
                                    <a class="ndui-tool-colse">
                                        <!-- ndui-tool-colse 类加上 turn_up 类 为展开工具栏 -->
                                        <i class="ndui-btn-pic"></i>
                                        <span class="ndui-btn-text hide_dom">关闭</span>
                                    </a>
                                    <!--返回关闭按钮end-->
                                    <div v-if="panelIndex < 0" class="ndui-other-tool-box">
                                        <slot name="panel"></slot>
                                    </div>
                                </div>
                                <!--侧边工具栏end-->
                            </div>
                            <!--弹窗-->
                            <div class="com_pop_nubuck2 hide_dom">
                                <div class="nubuck2_content">
                                    <div class="nubuck2_pop_bg_up">
                                    </div>
                                    <div class="nubuck2_pop_bg_mid">
                                        <!-- 切换发送成功提示时，在此(.pop_leader_main)添加.send_success类 发送失败，添加.send_failed类-->
                                        <div class="nubuck2_pop_main ">
                                            <div class="nubuck2_pop_tip">
                                                <p class="nubuck2_pop_txt">该操作将清空所有作答痕迹</p>
                                                <p class="nubuck2_pop_txt">
                                                    确定要清除吗？
                                                </p>
                                            </div>
                                            <div class="pop_leader_select">
                                                <a class="com_btn_round2 " href="javascript:;">
                                                    <!-- <span class="icons_box"></span> -->
                                                    <span class="text_box">取 消</span>
                                                </a>
                                                <a class="com_btn_round2 right" href="javascript:;">
                                                    <!-- <span class="icons_box"></span> -->
                                                    <span class="text_box">确 定</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nubuck2_pop_bg_down">
                                    </div>
                                </div>
                            </div>
                            <!--弹窗end-->
                        </div>
                    </div>
                    <!--/主体内容-->
                </div>
            </div>
        </div>
        <script src="../../../common/resources/common/layout/wood/layout.js"></script>
        <!--测试代码-->
        <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>
        $(".ndui_btn_fillcolor.color").on("click", function() {
            $(".fc_toning").toggleClass("contract_set");
            $(".fc_toning_palette").toggleClass("show");
        });
        $(".fc_toning_palette").on("click", function() {
            $(".fc_toning_palette").toggle();
        });
        $(".ndui-tool-colse").on("click", function() {
            console.log("ok");
            // $(".ndui-tool-colse").toggleClass("turn_up");
            // $(".ndui-tool-box").toggle();
            // $(".fc_switch_btn").toggle();
            $(".layout_FillColor").toggleClass("take_up_leftbar")
        })
        </script>
        <!--测试代码end-->
</body>

</html>
