/* 木纹底滚动条样式 */
.scrollbar_style_default::-webkit-scrollbar{
  /* width: pxToEm(27px);
  border-radius: pxToEm(14px);
  background: url(resources/common/scrollbar/wood/images/scrollv_bg.png) 50% 50% no-repeat;
  background-size: 100% 100%; */
  width: pxToEm(31px);
  border: pxToEm(31px) solid transparent;
  -webkit-border-image: url(resources/common/scrollbar/wood/images/scrollv_bg.png) 15 15 ;
}
.scrollbar_style_default::-webkit-scrollbar-button:increment:vertical{
  width: pxToEm(30px);
  height: pxToEm(30px);
  background: url(resources/common/scrollbar/wood/images/scrollv_down.png) 50% 50% no-repeat;
  background-size: pxToEm(18px) pxToEm(19px);
}
.scrollbar_style_default::-webkit-scrollbar-button:decrement:vertical{
  width: pxToEm(30px);
  height: pxToEm(30px);
  background: url(resources/common/scrollbar/wood/images/srcollv_up.png) 50% 50% no-repeat;
  background-size: pxToEm(18px) pxToEm(19px);
}
.scrollbar_style_default::-webkit-scrollbar-button:increment:horizontal{
  background: url(resources/common/scrollbar/wood/images/scrollh_down.png) 50% 50% no-repeat;
  background-size: pxToEm(15px) pxToEm(15px);
}
.scrollbar_style_default::-webkit-scrollbar-button:decrement:horizontal{
  background: url(resources/common/scrollbar/wood/images/scrollh_up.png) 50% 50% no-repeat;
  background-size: pxToEm(15px) pxToEm(15px);
}
.scrollbar_style_default::-webkit-scrollbar-thumb:vertical{
  /* background: url(resources/common/scrollbar/wood/images/scrollv_thumb_bg.png) 50% 50% no-repeat;
  background-size: pxToEm(22px) 100%;
  border-radius: pxToEm(14px); */
  border: pxToEm(31px) solid transparent;
  -webkit-border-image: url(resources/common/scrollbar/wood/images/scrollv_thumb_bg.png) 15 15 ;
}
/* .scrollbar_style_default::-webkit-scrollbar-thumb:horizontal{
  background-image: url(resources/common/scrollbar/wood/images/scrollh_line_mid.png),url(resources/common/scrollbar/wood/images/scrollh_thumb_bg.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 50%,0 50%;
  background-size: pxToEm(20px) pxToEm(9px), 100% pxToEm(19px);
  box-shadow: 0px 3px 4px 0px rgba(95, 59, 13, 0.42),inset 0px 1px 1px 0px rgba(255, 255, 255, 0.95);
  border-radius: pxToEm(20px);
  position:absolute;
} */

/* 白格子纹底的滚动条样式 */
.scrollbar_style_gray::-webkit-scrollbar{
  width: pxToEm(10px);
  height: pxToEm(10px);
}

.scrollbar_style_gray::-webkit-scrollbar-thumb{
  background: rgba(0,0,0,.2);
  border-radius: pxToEm(5px);
}

/* 浅黄滚动条 */
.scrollbar_style_light::-webkit-scrollbar {
  width: 9px;
  border-radius: 12.5px;
  /*background: url(resources/scroll_bg.png) 50% 50% repeat-y;*/
  padding:0 4px;
  height:9px;
  /*border:1px solid #b2874e;*/
}
.scrollbar_style_light::-webkit-scrollbar-button:increment {
  background: url(resources/common/scrollbar/wood/images/scroll_thumb_t_bg.png) 50% 50% no-repeat;
  height:5px;
  width:5px;
}
.scrollbar_style_light::-webkit-scrollbar-button:decrement {
  background: url(resources/common/scrollbar/wood/images/scroll_thumb_t_bg.png) 50% 50% no-repeat;
  height:1px;
  width:1px;
}
.scrollbar_style_light::-webkit-scrollbar-track {
}
.scrollbar_style_light::-webkit-scrollbar-track-piece {
}
.scrollbar_style_light::-webkit-scrollbar-thumb {
   background-image:url(resources/common/scrollbar/wood/images/scroll_thumb_bg_t.png);
   background-repeat: repeat;
   background-position: 50% 0;
   box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.95), 0px 2px 0px 0px rgba(95, 59, 13, 0.42), inset 0 0 1.95px 20px rgba(255, 255, 255, 0.2);
   border-radius: 20px;
   position:absolute;
}
.scrollbar_style_light::-webkit-scrollbar-thumb:horizontal:hover {
  opacity:0.5
}

/* 棕色滚动条 */
.scrollbar_style_brown::-webkit-scrollbar{
  width: pxToEm(8px);
  height: pxToEm(8px);
}

.scrollbar_style_brown::-webkit-scrollbar-thumb{
  background: #a1763d;
  border-radius: pxToEm(4px);
}
/*简约默认滚动条*/

.scrollbar_style_simple::-webkit-scrollbar{
  /* width: pxToEm(24px);
  height:pxToEm(24px);
  border-radius: pxToEm(18px);
  background: url(resources/common/scrollbar/wood/images/scrollv_bg.png) 50% 50% repeat;
  background-size: 100% auto;
  border: 1px solid #9b6c2c; */
  width: pxToEm(31px);
  border: pxToEm(31px) solid transparent;
  -webkit-border-image: url(resources/common/scrollbar/wood/images/scrollv_bg.png) 15 15 ;
}

.scrollbar_style_simple::-webkit-scrollbar-thumb{
  /* background: url(resources/common/scrollbar/wood/images/scrollv_thumb_bg.png) 50% 50% no-repeat;
  background-size: pxToEm(20px) 100%;
  border-radius: pxToEm(18px);
  border: 1px solid transparent;
  overflow: hidden; */
  border: pxToEm(31px) solid transparent;
  -webkit-border-image: url(resources/common/scrollbar/wood/images/scrollv_thumb_bg.png) 15 15 ;
}
.scrollbar_style_simple::-webkit-scrollbar-button{
  background: transparent;
  height:pxToEm(3px);
}

/* 白色滚动条 */
.scrollbar_style_white::-webkit-scrollbar{
  width: pxToEm(12px);
  height: pxToEm(12px);
  background: rgba(255,255,255,.15);
  border-radius: pxToEm(6px);
}

.scrollbar_style_white::-webkit-scrollbar-thumb{
  background: rgba(255,252,209,.7);
  border-radius: pxToEm(6px);
}