.ndui-switch {
    display: inline-block;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    input[type="checkbox"] {
        display: none;
    }


    //样式1：手指型按钮
    &.ndui-switch-finger {
        position: relative;
        //开启状态
        input[type="checkbox"]:checked + .switchbox {
            background: url(resources/common/switch/wood/images/switch-finger-bg-on.png) center center no-repeat;
            background-size: auto 100%;
            .switch-btn {
                transform: translateX(pxToEm(64px));
                background: url(resources/common/switch/wood/images/switch-finger-on.png) center center no-repeat;
                background-size: auto 100%;
            }
            .switch-txt-l {
                opacity: 1;
            }
            .switch-txt-r {
                opacity: 0;
            }
            .tip-on {
                opacity: 1;
            }
            .tip-off {
                opacity: 0;
            }
        }
        // &.off {
        //     .switch-container {
        //         .switch-btn {
        //             background: url(resources/common/switch/wood/images/switch-finger-off.png) center center no-repeat;
        //             background-size: auto 100%;
        //         }
        //     }
        //     .switch-txt-l {
        //         opacity: 0;
        //     }
        //     .switch-txt-r {
        //         opacity: 1;
        //     }
        //     .tip-off {
        //         opacity: 1;
        //     }
        // }
        
        // &.on {
        //     .switch-container {
                
        //     }
        //     .switch-txt-l {
        //         opacity: 1;
        //     }
        //     .switch-txt-r {
        //         opacity: 0;
        //     }
        //     .tip-on {
        //         opacity: 1;
        //     }
        // }
        .switch-container {
            display: block;
            
            .switch-btn {
                position: absolute;
                top: pxToEm(-2px);
                left: pxToEm(-14px);
                width: pxToEm(56px);
                height: pxToEm(60px);
                content: "";
                background: url(resources/common/switch/wood/images/switch-finger-off.png) center center no-repeat;
                background-size: auto 100%;
                transition: transform .3s ease-out, background-image .3s ease-out;
                transform: translateX(0);
            }
        }
        .switchbox {
            position: relative;
            width: pxToEm(103px);
            height: pxToEm(52px);
            margin-left: pxToEm(14px); 
            background: url(resources/common/switch/wood/images/switch-finger-bg.png) center center no-repeat;
            background-size: auto 100%;
            cursor: pointer;
            transition: background-image .3s ease-out;
        }
        .switch-txt {
            opacity: 0;
            position: absolute;
            top: pxToEm(10px);
            line-height: pxToEm(30px);
            text-align: center;
            transition: opacity .3s ease-out;
        }
        .switch-txt-l {
            left: pxToEm(4px);
            bottom: pxToEm(4px);
            width: pxToEm(56px);
            em {
                font-size: pxToEm(20px);
                color: #fff;
            }

        }
        .switch-txt-r {
            opacity: 1;
            right: pxToEm(4px);
            width: pxToEm(64px);
            em {
                font-size: pxToEm(19px);
                color: rgba(164,120,67,0.58);
            }
        }
        .switch-tooltip {
            opacity: 0;
            position: absolute;
            top: pxToEm(-52px);
            height: pxToEm(34px);
            line-height: pxToEm(30px);
            text-align: center;
            padding: 0 pxToEm(13px);
            border-radius: pxToEm(17px);
            background-color: rgba(0,0,0,0.48);
            transition: opacity .3s ease-out;
            white-space:nowrap;
            &:after {
                position: absolute;
                top: 100%;
                width: 0;
                height: 0;
                content: "";
                border: pxToEm(7px) solid transparent;
                border-top: pxToEm(7px) solid rgba(0,0,0,0.48);
            }
            em {
                font-size: pxToEm(20px);
                color: #fff;
            }
            &.tip-on {
                left: 0;
                &:after {
                    left: pxToEm(28px);
                }
            }
            &.tip-off {
                opacity: 1;
                right: 0;
                &:after {
                    right: pxToEm(28px);
                }
                em {
                    font-size: pxToEm(15px);
                }
            }
        }
    }

    //样式2: 文字
    &.ndui-switch-word {
        input[type="checkbox"]:checked + .switchbox {
            .switch-btn {
                transform: translateX(100%);
            }
            .switch-txt-l {
                color: #8f8f8f;
            }
            .switch-txt-r {
                color: #000;
            }
        }
        .switch-container {
            position: relative;
            display: block;
            height: pxToEm(64px);
            margin-left: pxToEm(33px);
            padding-right: pxToEm(33px);
            background: url(resources/common/switch/wood/images/switch-word-bg-right.png) right top no-repeat;
            background-size: auto 100%;
            &:before {
                position: absolute;
                right: 100%;
                top: 0;
                width: pxToEm(33px);
                height: pxToEm(64px);
                content: "";
                background: url(resources/common/switch/wood/images/switch-word-bg-right.png) left top no-repeat;
                background-size: auto 100%;
            }
        }
        .switchbox {
            position: relative;
            margin-left: pxToEm(-22px);
            margin-right: pxToEm(-22px);
            height: 100%;
            cursor: pointer;
        }
        .switch-tooltip {
            display: none;
        }
        .switch-btn {
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: pxToEm(-20px);
            margin-left: pxToEm(23px);
            height: pxToEm(49px);
            width: 45%;
            background: url(resources/common/switch/wood/images/switch-word-btn-right.png) right top no-repeat;
            background-size: auto 100%;
            transition: transform .3s ease-out;
            transform: translateX(0);
            &:before {
                position: absolute;
                right: 100%;
                top: 0;
                content: "";
                width: pxToEm(23px);
                height: pxToEm(49px);
                background: url(resources/common/switch/wood/images/switch-word-btn-right.png) left top no-repeat;
                background-size: auto 100%;

            }
        }
        .switch-txt {
            position: relative;
            display: inline-block;
            float: left;
            width: pxToEm(113px);
            height: pxToEm(64px);
            text-align: center;
            line-height: pxToEm(64px);
            color: #8f8f8f;
            overflow: hidden;
            z-index: 1;
            transition: color .3s ease-out;
            em {
                display: inline-block;
                font-size: pxToEm(28px);
                white-space: nowrap;
            }
        }
        .switch-txt-l {
            color: #000;
        }
        .switch-txt-r {
        }
    }
}

