@charset "UTF-8";
.pointsort {
    position: relative;
    width: 100%;
    height: 100%;
    .com_layout_main {
        overflow: hidden;
        text-align: center;
        vertical-align: middle;
        &:after {
            display: inline-block;
            width: 0;
            height: 100%;
            vertical-align: middle;
            content: "";
        }
    }
    .pointsort_board {
        overflow: hidden;
        position: relative;
        display: inline-block;
        margin-top: pxToEm(-30px);
        width: pxToEm(1023px);
        // min-width: pxToEm(500px);
        // min-height: pxToEm(500px);
        height: pxToEm(706px);
        border: 2px solid #8b5e1d;
        border-radius: pxToEm(36px);
        vertical-align: middle;
        text-align: center;
        .pointsort_imgwrap {
            position: absolute;
            left: 50%;
            top: 50%;
        }
        // img {
        //     position: absolute;
        // }
    }
    //排序点和线
    // .pointsort_operate {
    //     position: absolute;
    //     left: 0;
    //     right: 0;
    //     top: 0;
    //     bottom: 0;
    //     border-radius: pxToEm(36px);
    // }

    //排序-点
    .point {
        overflow: hidden;
        display: inline-block;
        position: absolute;
        // padding: 0 pxToEm(15px);
        width: pxToEm(84px);
        height: pxToEm(84px);
        line-height: pxToEm(80px);
        background: url(resources/wood/images/btn_point.png) no-repeat center center;
        background-size: 100% 100%;
        text-align: center;
        color: #fff;
        z-index: 9;
        cursor: pointer;
        em {
            font-size: pxToEm(50px);
        }
        &.point-three {
            line-height: pxToEm(84px);
            em {
                font-size: pxToEm(30px);
            }
        }
        &.point-s {
            line-height: pxToEm(84px);
            em {
                font-size: pxToEm(30px);
            }
        }
        &:active,&.ui_btn_active {
            background: url(resources/wood/images/btn_point_active.png) no-repeat center center;
            background-size: 100% 100%;
        }
        &.ui_btn_hover{
            &:active{
                background-image: url(resources/wood/images/btn_point.png);
            }
            opacity: .6;
            filter: alpha(opacity=60);
        }
    }
    //排序-横线
    .line {
        display: inline-block;
        position: absolute;
        min-width: pxToEm(10px);
        min-height: pxToEm(7px);
        @include bglinear(#feb900,#fc8500);
        z-index: 8;
    }

    //弹窗
    .notice_tip_box .notice_tip_con {
        border-radius: pxToEm(10px);
    }
}   