@charset "UTF-8";

/* 截图发题css */

.nqti-modal-screenshot{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    width: pxToEm(1225px);
    margin: pxToEm(-442px) 0 0 pxToEm(-612px);
    background: #f5f5f5;
    box-sizing: border-box;
    font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
}
.nqti-modal-screenshot-hd{
    font-size: 1em;
    height: pxToEm(46px);
    margin: 0;
    padding: 0 pxToEm(15px);
    background: #333;
    color: #fff;
    font-weight: normal;
    line-height: pxToEm(45px);
    box-sizing: border-box;
}
.nqti-modal-screenshot-tit{
    font-size: pxToEm(20px);
    line-height: 1;
}
.nqti-modal-screenshot-view{
    width: pxToEm(1110px);
    height: pxToEm(625px);
    margin: pxToEm(23px) pxToEm(58px) 0;
    padding: pxToEm(20px);
    border: 1px solid #c8c8c8;
    text-align: center;
    white-space: nowrap;
    box-sizing: border-box;
    &:after{
        content: '';
        display: inline-block;
        width: 0;
        height: 100%;
        vertical-align: middle;
    }
    img{
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
    }
}
.nqti-modal-screenshot-options{
    height: pxToEm(80px);
    padding: 0 pxToEm(58px);
    text-align: center;
    line-height: pxToEm(79px);
    box-sizing: border-box;
}
.nqti-modal-screenshot-ft{
    height: pxToEm(110px);
    background: #eee;
    text-align: center;
    line-height: pxToEm(109px);
}
.nqti-modal-screenshot-btn{
    display: inline-block;
    min-width: pxToEm(188px);
    height: pxToEm(54px);
    margin: 0 pxToEm(53px);
    padding: 0 pxToEm(15px);
    background: #649c01;
    color: #fff;
    line-height: pxToEm(54px);
    box-sizing: border-box;
    text-decoration: none;
    &:active{
        background: #517e00;
    }
    &.nqti-disable{
        opacity: .5;
        cursor: no-drop;
        &:active{
            background: #649c01;
        }
    }
    &.nqti-cancel{
        background: #919191;
        &:active{
            background: #636363;
        }
    }
    em{
        font-style: normal;
    }
}
.nqti-modal-screenshot-option-box{
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;
    text-align: left;
}
.nqti-modal-screenshot-radio{
    position: relative;
    display: inline-block;
    min-width: pxToEm(190px);
    height: pxToEm(32px);
    margin: 0 pxToEm(35px);
    padding: 0 pxToEm(20px) 0 pxToEm(40px);
    line-height: pxToEm(32px);
    white-space: nowrap;
    box-sizing: border-box;
    &:before{
        content: '';
        position: absolute;
        top: pxToEm(4px);
        left: 0;
        width: pxToEm(24px);
        height: pxToEm(24px);
        border: 1px solid #bbb;
        border-radius: 100%;
        box-shadow: inset 0 1px 2px 0 #ccc;
        box-sizing: border-box;
    }
    input{
        display: none;
    }
    &.nqti-checked{
        &:before{
            border-color: #649c01;
        }
        &:after{
            content: '';
            position: absolute;
            top: pxToEm(9px);
            left: pxToEm(5px);
            width: pxToEm(14px);
            height: pxToEm(14px);
            background: #649c01;
            border-radius: 100%;
            box-sizing: border-box;
        }
    }
    &:active{
        opacity: .7;
    }
}
.nqti-modal-screenshot-close{
    position: absolute;
    top: 0;
    right: 0;
    width: pxToEm(47px);
    height: pxToEm(46px);
    background: #1b1b1b url(resources/wood/images/icon_close.png) no-repeat center center;
    background-size: pxToEm(27px) auto;
    border-left: 1px solid #505050;
    &:active{
        background-color: #000;
    }
}

/* 学生端答题 */
.nqti-screenshot-answer-bd{
    white-space: nowrap;
    text-align: center;
    &:after{
        content: '';
        display: inline-block;
        width: 0;
        height: 99.9%;
        vertical-align: middle;
    }
    img{
        max-width: 100%;
        max-height: 100%;
        border: 1px solid #965b18;
        vertical-align: middle;
    }
}

/* end 截图发题css */


/* 公用黑底半透明提示框 */
.nqti-com-mask-tips{
    font-family: 'Microsoft YaHei', Helvetica, Arial, sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 99;
    width: pxToEm(410px);
    margin: pxToEm(-110px) 0 0 pxToEm(-205px);
    padding: pxToEm(40px);
    box-sizing: border-box;
    background: rgba(0, 0, 0, .7);
    color: #fff;
    line-height: 1.5;
    text-align: center;
}
.nqti-com-mask-tips-txt{
    display: inline-block;
    text-align: left;
}

/* 抖动动画 */
.nqti-wobble {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: wobble;
    animation-name: wobble;
}
@-webkit-keyframes wobble {
    from {
        -webkit-transform: none;
        transform: none;
    }

    15% {
        -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    30% {
        -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
        -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    60% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes wobble {
    from {
        -webkit-transform: none;
        transform: none;
    }

    15% {
        -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
        transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    }

    30% {
        -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
        transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    }

    45% {
        -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    }

    60% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    }

    75% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}